/* line 1, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 9, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 50%;
    background-color: #141414;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 5px 5px; }
    /* line 20, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 26, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 30, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 33, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 37, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 43, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 46, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 52, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 59, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 311px); }

/* line 66, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 67, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 76, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 79, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 87, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 90, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 93, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 109, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 112, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 120, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 124, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 132, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 134, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 141, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 147, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 153, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 160, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 168, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 172, static/scss/base.scss */
  form img[src="/static/scss?3fd49f1cdf47"] {
    visibility: hidden; }

/* line 177, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 192, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 198, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 213, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 216, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 221, static/scss/base.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  bottom: 0; }
  /* line 228, static/scss/base.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 231, static/scss/base.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; }
    /* line 238, static/scss/base.scss */
    footer ul li {
      margin: 5px 20px; }
      /* line 240, static/scss/base.scss */
      footer ul li a {
        color: #bababa;
        font-size: 20px;
        text-decoration: none; }
        /* line 244, static/scss/base.scss */
        footer ul li a:hover {
          cursor: pointer;
          color: #d6d6d6;
          transition: color 0.2s; }
      /* line 250, static/scss/base.scss */
      footer ul li svg {
        width: 40px;
        height: 40px; }
    /* line 255, static/scss/base.scss */
    footer ul .contact-us-log-in {
      position: relative; }
      /* line 257, static/scss/base.scss */
      footer ul .contact-us-log-in span {
        width: max-content;
        position: absolute;
        display: none;
        top: 45px;
        right: -110%;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1000; }
      /* line 271, static/scss/base.scss */
      footer ul .contact-us-log-in:hover a {
        cursor: default; }
      /* line 274, static/scss/base.scss */
      footer ul .contact-us-log-in:hover span {
        display: block; }
    /* line 281, static/scss/base.scss */
    footer ul:nth-of-type(2) li:first-of-type {
      margin-top: 0;
      display: flex;
      align-items: center; }
      /* line 285, static/scss/base.scss */
      footer ul:nth-of-type(2) li:first-of-type p {
        margin: 0; }
  /* line 292, static/scss/base.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 296, static/scss/base.scss */
  footer .pinterest-button {
    font-size: 50px; }
    /* line 299, static/scss/base.scss */
    footer .pinterest-button svg {
      pointer-events: none; }

/* line 304, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

/* line 1, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 9, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 50%;
    background-color: #141414;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 5px 5px; }
    /* line 20, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 26, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 30, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 33, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 37, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 43, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 46, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 52, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 59, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 311px); }

/* line 66, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 67, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 76, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 79, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 87, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 90, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 93, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 109, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 112, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 120, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 124, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 132, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 134, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 141, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 147, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 153, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 160, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 168, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 172, static/scss/base.scss */
  form img[src="/static/scss?3fd49f1cdf47"] {
    visibility: hidden; }

/* line 177, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 192, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 198, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 213, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 216, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 221, static/scss/base.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  bottom: 0; }
  /* line 228, static/scss/base.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 231, static/scss/base.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; }
    /* line 238, static/scss/base.scss */
    footer ul li {
      margin: 5px 20px; }
      /* line 240, static/scss/base.scss */
      footer ul li a {
        color: #bababa;
        font-size: 20px;
        text-decoration: none; }
        /* line 244, static/scss/base.scss */
        footer ul li a:hover {
          cursor: pointer;
          color: #d6d6d6;
          transition: color 0.2s; }
      /* line 250, static/scss/base.scss */
      footer ul li svg {
        width: 40px;
        height: 40px; }
    /* line 255, static/scss/base.scss */
    footer ul .contact-us-log-in {
      position: relative; }
      /* line 257, static/scss/base.scss */
      footer ul .contact-us-log-in span {
        width: max-content;
        position: absolute;
        display: none;
        top: 45px;
        right: -110%;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1000; }
      /* line 271, static/scss/base.scss */
      footer ul .contact-us-log-in:hover a {
        cursor: default; }
      /* line 274, static/scss/base.scss */
      footer ul .contact-us-log-in:hover span {
        display: block; }
    /* line 281, static/scss/base.scss */
    footer ul:nth-of-type(2) li:first-of-type {
      margin-top: 0;
      display: flex;
      align-items: center; }
      /* line 285, static/scss/base.scss */
      footer ul:nth-of-type(2) li:first-of-type p {
        margin: 0; }
  /* line 292, static/scss/base.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 296, static/scss/base.scss */
  footer .pinterest-button {
    font-size: 50px; }
    /* line 299, static/scss/base.scss */
    footer .pinterest-button svg {
      pointer-events: none; }

/* line 304, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

/* line 3, static/scss/card-pages.scss */
header {
  position: fixed;
  z-index: 100; }

/* line 8, static/scss/card-pages.scss */
.cards-content {
  padding: 20px;
  display: flex;
  justify-content: center; }

/* line 14, static/scss/card-pages.scss */
section {
  margin: 10px; }

/* line 18, static/scss/card-pages.scss */
h2 {
  text-align: center; }

/* line 22, static/scss/card-pages.scss */
.filters {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  position: sticky;
  top: 100px; }
  /* line 30, static/scss/card-pages.scss */
  .filters h2 {
    font-size: 20px;
    margin: 5px auto; }
  /* line 34, static/scss/card-pages.scss */
  .filters hr {
    width: 100%;
    margin: 10px 0; }
  /* line 38, static/scss/card-pages.scss */
  .filters h3 {
    margin: 0;
    font-size: 15px;
    text-align: center; }
  /* line 44, static/scss/card-pages.scss */
  .filters .my-trips-cards,
  .filters .my-contacts,
  .filters .filter-by {
    display: flex;
    flex-direction: column; }
  /* line 50, static/scss/card-pages.scss */
  .filters .filter-buttons {
    display: flex;
    flex-direction: column; }

/* line 56, static/scss/card-pages.scss */
.card-section {
  padding: 10px;
  min-width: 400px;
  height: min-content; }
  /* line 61, static/scss/card-pages.scss */
  .card-section h2 {
    margin: 5px 0; }
  /* line 64, static/scss/card-pages.scss */
  .card-section hr {
    width: 97%;
    margin: 15px auto 5px; }
  /* line 68, static/scss/card-pages.scss */
  .card-section > p {
    margin: 10 0 15 12px; }
  /* line 71, static/scss/card-pages.scss */
  .card-section .cards-list {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-wrap: wrap; }
    /* line 77, static/scss/card-pages.scss */
    .card-section .cards-list .card {
      margin: 10px; }
      /* line 81, static/scss/card-pages.scss */
      .card-section .cards-list .card .card-left .trip-info li > * {
        margin: -2 0; }
    /* line 87, static/scss/card-pages.scss */
    .card-section .cards-list li {
      list-style: none;
      margin: 10px; }

/* line 94, static/scss/card-pages.scss */
.active {
  background-color: #1168d8;
  color: white; }

/* line 1, static/scss/simple-card.scss */
.simple-card {
  margin: 0;
  width: 380px;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  /* line 9, static/scss/simple-card.scss */
  .simple-card .card-top {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%), url("/static/img/clouds.d88badd821bd.jpg?4b7f1cfde928") left no-repeat;
    background-size: cover;
    color: white;
    border-radius: 5px 5px 0 0; }
    /* line 23, static/scss/simple-card.scss */
    .simple-card .card-top > p {
      border: solid 1px #1168d8;
      background-color: white;
      color: #1168d8;
      border-radius: 5px;
      margin: 0;
      height: 50%;
      display: flex;
      align-self: center;
      align-items: center;
      padding: 0 5px; }
    /* line 35, static/scss/simple-card.scss */
    .simple-card .card-top svg {
      width: 25px;
      height: 25px; }
    /* line 39, static/scss/simple-card.scss */
    .simple-card .card-top ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 15px; }
      /* line 44, static/scss/simple-card.scss */
      .simple-card .card-top ul li {
        list-style: none;
        margin: 0 5px; }
        /* line 47, static/scss/simple-card.scss */
        .simple-card .card-top ul li p {
          margin: 0;
          font-size: 18px; }
      /* line 53, static/scss/simple-card.scss */
      .simple-card .card-top ul:first-of-type svg {
        filter: invert(1);
        width: 20px;
        height: 20px; }
  /* line 62, static/scss/simple-card.scss */
  .simple-card .card-content {
    padding: 5px;
    display: flex;
    align-items: center; }
    /* line 67, static/scss/simple-card.scss */
    .simple-card .card-content img {
      object-fit: cover;
      width: 100px;
      height: 150px;
      border-radius: 5px;
      margin-left: 5px; }
    /* line 74, static/scss/simple-card.scss */
    .simple-card .card-content ul {
      padding-left: 10px;
      margin: 0; }
      /* line 77, static/scss/simple-card.scss */
      .simple-card .card-content ul li {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 240px;
        /*
				&:nth-of-type(3),
				&:nth-of-type(4) {
					p {
						&:last-of-type {
							margin-left: 20px;
						}
					}
				}
				*/ }
        /* line 82, static/scss/simple-card.scss */
        .simple-card .card-content ul li p {
          margin: 3px 0;
          font-size: 15px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          /* line 88, static/scss/simple-card.scss */
          .simple-card .card-content ul li p:hover {
            white-space: normal; }
          /* line 91, static/scss/simple-card.scss */
          .simple-card .card-content ul li p svg {
            width: 15px;
            height: 15px; }
  /* line 110, static/scss/simple-card.scss */
  .simple-card hr {
    margin: 0 auto 5px;
    width: 95%;
    border: none;
    height: 0.5px;
    background-color: rgba(180, 180, 180, 0.5); }
  /* line 119, static/scss/simple-card.scss */
  .simple-card .card-bottom .links {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0; }
    /* line 124, static/scss/simple-card.scss */
    .simple-card .card-bottom .links li {
      margin: 0;
      list-style: none; }
    /* line 128, static/scss/simple-card.scss */
    .simple-card .card-bottom .links button {
      border: none;
      padding: 0;
      background: transparent;
      margin: 0; }
    /* line 134, static/scss/simple-card.scss */
    .simple-card .card-bottom .links svg {
      width: 20px;
      height: 20px; }
    /* line 138, static/scss/simple-card.scss */
    .simple-card .card-bottom .links:hover {
      cursor: pointer; }
    /* line 141, static/scss/simple-card.scss */
    .simple-card .card-bottom .links form {
      display: contents; }

/* line 5, static/scss/favourites.scss */
h2 {
  font-size: 20px; }
