/* line 1, static/scss/footer.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden; }
  /* line 6, static/scss/footer.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 9, static/scss/footer.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    /*&:nth-of-type(2) {
			li {
				&:first-of-type {
					margin-top: 0;
					display: flex;
					align-items: center;
					p {
						margin: 0;
					}
				}
			}
		}*/ }
    /* line 14, static/scss/footer.scss */
    footer ul li {
      list-style: none;
      margin: 5px 20px; }
      /* line 17, static/scss/footer.scss */
      footer ul li a {
        color: #bababa;
        font-size: 20px;
        text-decoration: none; }
        /* line 21, static/scss/footer.scss */
        footer ul li a:hover {
          cursor: pointer;
          color: #d6d6d6;
          transition: color 0.2s; }
      /* line 27, static/scss/footer.scss */
      footer ul li svg {
        width: 40px;
        height: 40px; }
  /* line 45, static/scss/footer.scss */
  footer .footer-sm {
    display: flex;
    align-items: center; }
    /* line 48, static/scss/footer.scss */
    footer .footer-sm > p {
      white-space: nowrap; }
    /* line 51, static/scss/footer.scss */
    footer .footer-sm ul {
      width: 100%; }
  /* line 55, static/scss/footer.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 59, static/scss/footer.scss */
  footer .contact-us-log-in {
    position: relative; }
    /* line 61, static/scss/footer.scss */
    footer .contact-us-log-in span {
      width: max-content;
      position: absolute;
      display: none;
      top: 45px;
      right: -110%;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1000; }
    /* line 75, static/scss/footer.scss */
    footer .contact-us-log-in:hover a {
      cursor: default; }
    /* line 78, static/scss/footer.scss */
    footer .contact-us-log-in:hover span {
      display: block; }

@media all and (max-width: 1065px) {
  /* line 88, static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 20%; }
  /* line 92, static/scss/footer.scss */
  footer .footer-sm {
    display: block; } }

@media all and (max-width: 860px) {
  /* line 101, static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 50%; }
  /* line 107, static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 12%; } }

@media all and (max-width: 550px) {
  /* line 119, static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 30%; } }

/* line 3, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 11, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10000;
    width: 30%;
    /*min-height: 20%;*/
    background-color: #292929;
    padding: 10px;
    margin: 0;
    border-radius: 5px; }
    /* line 22, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 28, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 32, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 35, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 39, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 45, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 48, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 54, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 61, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 334px); }

/* line 68, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 69, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 75, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 78, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 86, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 89, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 92, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 108, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 111, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 119, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 123, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 131, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 133, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 140, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 146, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 152, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 159, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 167, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 171, static/scss/base.scss */
  form img[src="/static/scss?3f8964dde785"] {
    visibility: hidden; }

/* line 176, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 191, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 197, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 212, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 215, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 220, static/scss/base.scss */
.active-filter {
  background-color: #1168d8;
  color: white; }

/* line 225, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  /* line 231, static/scss/base.scss */
  .cards-content,
  .content {
    min-height: calc(100vh - 392px); } }

@media all and (max-width: 600px) {
  /* line 238, static/scss/base.scss */
  body > ul.messages {
    width: 96%;
    right: 0%;
    left: 0;
    bottom: 0;
    border-radius: 0; } }

/* line 1, static/scss/header.scss */
header {
  background-color: #1168d8;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0; }
  /* line 8, static/scss/header.scss */
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 12, static/scss/header.scss */
    header nav h1 {
      margin: 0; }
      /* line 14, static/scss/header.scss */
      header nav h1 img {
        padding: 10px;
        height: 75px;
        box-sizing: border-box; }
    /* line 20, static/scss/header.scss */
    header nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      height: 75px; }
      /* line 25, static/scss/header.scss */
      header nav ul li {
        list-style: none;
        margin: 0 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px; }
        /* line 34, static/scss/header.scss */
        header nav ul li a,
        header nav ul li > span {
          position: relative;
          text-decoration: none;
          color: white;
          text-align: center;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center; }
        /* line 47, static/scss/header.scss */
        header nav ul li .notifications:hover {
          cursor: pointer; }
      /* line 52, static/scss/header.scss */
      header nav ul .profile-toggle {
        color: white; }
        /* line 55, static/scss/header.scss */
        header nav ul .profile-toggle > div {
          display: flex;
          flex-direction: column;
          align-items: center; }
          /* line 59, static/scss/header.scss */
          header nav ul .profile-toggle > div:hover {
            cursor: pointer; }
      /* line 65, static/scss/header.scss */
      header nav ul .nav-button svg, header nav ul .nav-button p {
        display: none; }
      /* line 68, static/scss/header.scss */
      header nav ul .nav-button .notification {
        right: -3px;
        font-weight: bolder; }
      /* line 73, static/scss/header.scss */
      header nav ul p {
        margin: 0 5px; }
      /* line 76, static/scss/header.scss */
      header nav ul svg {
        width: 25px;
        height: 25px;
        filter: invert(1); }
      /* line 82, static/scss/header.scss */
      header nav ul .logout > span:hover {
        cursor: pointer; }
      /* line 85, static/scss/header.scss */
      header nav ul .logout .show-logout-modal {
        display: flex !important; }
      /* line 88, static/scss/header.scss */
      header nav ul .logout .logout-modal {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 100000;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center; }
        /* line 99, static/scss/header.scss */
        header nav ul .logout .logout-modal > div {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: white;
          padding: 0 20px;
          border-radius: 5px; }
          /* line 106, static/scss/header.scss */
          header nav ul .logout .logout-modal > div > p {
            margin: 20 0 10; }
          /* line 109, static/scss/header.scss */
          header nav ul .logout .logout-modal > div .logout-buttons {
            display: flex;
            justify-content: center; }
            /* line 112, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons button {
              margin: 0;
              height: min-content; }
            /* line 116, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons > a {
              margin: 10 5 20 0;
              width: auto;
              height: min-content; }
            /* line 121, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons > button {
              margin: 10 0 20 5;
              color: red;
              border-color: red; }
          /* line 127, static/scss/header.scss */
          header nav ul .logout .logout-modal > div > span {
            position: absolute;
            top: 5px;
            right: 8px;
            color: grey; }
            /* line 132, static/scss/header.scss */
            header nav ul .logout .logout-modal > div > span:hover {
              cursor: pointer; }
    /* line 140, static/scss/header.scss */
    header nav #nav-hamburger {
      display: none;
      height: 60px;
      width: 45px;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer; }
      /* line 148, static/scss/header.scss */
      header nav #nav-hamburger span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out; }
        /* line 159, static/scss/header.scss */
        header nav #nav-hamburger span:nth-child(1) {
          top: 30%; }
        /* line 162, static/scss/header.scss */
        header nav #nav-hamburger span:nth-child(2), header nav #nav-hamburger span:nth-child(3) {
          top: 50%; }
        /* line 166, static/scss/header.scss */
        header nav #nav-hamburger span:nth-child(4) {
          top: 70%; }
    /* line 173, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(1) {
      top: 30%;
      width: 0%;
      left: 50%; }
    /* line 178, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(2) {
      transform: rotate(45deg); }
    /* line 181, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(3) {
      transform: rotate(-45deg); }
    /* line 184, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(4) {
      top: 70%;
      width: 0%;
      left: 50%; }

/* line 194, static/scss/header.scss */
.notification-panel {
  position: absolute;
  max-height: 400px;
  width: 300px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 50;
  right: -1000px;
  top: 80px;
  opacity: 0; }
  /* line 206, static/scss/header.scss */
  .notification-panel > span {
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;
    font-weight: bold; }
    /* line 212, static/scss/header.scss */
    .notification-panel > span:hover {
      cursor: pointer; }
  /* line 216, static/scss/header.scss */
  .notification-panel > p {
    margin: 5px 0 5px 5px; }
  /* line 219, static/scss/header.scss */
  .notification-panel h4 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 5px; }
  /* line 224, static/scss/header.scss */
  .notification-panel hr {
    margin: 0; }
  /* line 227, static/scss/header.scss */
  .notification-panel .notification-feed {
    padding: 0;
    flex-direction: column;
    height: max-content; }
    /* line 231, static/scss/header.scss */
    .notification-panel .notification-feed li {
      position: relative;
      list-style: none;
      padding: 10px;
      margin: 0;
      border-radius: 0;
      transition: background-color 0.4s; }
      /* line 238, static/scss/header.scss */
      .notification-panel .notification-feed li:hover {
        background-color: gainsboro;
        transition: background-color 0.4s; }
      /* line 242, static/scss/header.scss */
      .notification-panel .notification-feed li a {
        text-decoration: none;
        color: inherit;
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        width: 100%; }
        /* line 249, static/scss/header.scss */
        .notification-panel .notification-feed li a img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px; }
        /* line 255, static/scss/header.scss */
        .notification-panel .notification-feed li a .notification-info {
          width: calc(100% - 60px); }
          /* line 257, static/scss/header.scss */
          .notification-panel .notification-feed li a .notification-info p {
            width: 100%; }
          /* line 260, static/scss/header.scss */
          .notification-panel .notification-feed li a .notification-info .preview {
            font-size: 12.5px;
            color: grey;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          /* line 267, static/scss/header.scss */
          .notification-panel .notification-feed li a .notification-info .notification-time {
            font-style: oblique; }
      /* line 272, static/scss/header.scss */
      .notification-panel .notification-feed li .unread-notification-bubble {
        display: none; }
    /* line 276, static/scss/header.scss */
    .notification-panel .notification-feed .unread-notification {
      background-color: #1167d80e;
      align-items: flex-start; }
      /* line 279, static/scss/header.scss */
      .notification-panel .notification-feed .unread-notification a {
        width: 90%; }
      /* line 282, static/scss/header.scss */
      .notification-panel .notification-feed .unread-notification .unread-notification-bubble {
        display: block;
        position: absolute;
        right: 10px;
        top: 40%;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #1168d8; }
    /* line 293, static/scss/header.scss */
    .notification-panel .notification-feed hr {
      width: 99%;
      margin: 0; }

/* line 300, static/scss/header.scss */
.profile-dropdown {
  padding: 0;
  width: 300px;
  text-align: center;
  position: absolute;
  right: -1000px;
  top: 80px;
  opacity: 0;
  z-index: 100;
  /*transition: right 0.4s;*/
  color: black; }
  /* line 311, static/scss/header.scss */
  .profile-dropdown .banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin-bottom: 40px; }
  /* line 318, static/scss/header.scss */
  .profile-dropdown .profile-pic-bg {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    /* line 329, static/scss/header.scss */
    .profile-dropdown .profile-pic-bg .profile-picture {
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: auto;
      display: block; }
  /* line 338, static/scss/header.scss */
  .profile-dropdown > span {
    color: white;
    font-weight: bold;
    top: 5px;
    right: 7px;
    position: absolute; }
    /* line 344, static/scss/header.scss */
    .profile-dropdown > span:hover {
      cursor: pointer; }
  /* line 348, static/scss/header.scss */
  .profile-dropdown p {
    margin: 5px 0;
    padding-bottom: 5px;
    /*border-bottom: solid 1px rgba(192, 191, 191, 0.5);*/ }
  /* line 353, static/scss/header.scss */
  .profile-dropdown ul {
    padding: 0 20px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    height: auto; }
    /* line 359, static/scss/header.scss */
    .profile-dropdown ul a {
      text-decoration: none;
      color: black;
      flex-direction: row; }
    /* line 364, static/scss/header.scss */
    .profile-dropdown ul li {
      margin: 5px 0; }
      /* line 366, static/scss/header.scss */
      .profile-dropdown ul li svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        filter: invert(0); }

/* line 376, static/scss/header.scss */
.show-dropdown {
  opacity: 1;
  right: 5px;
  /*transition: right 0.4s;*/ }

/* line 382, static/scss/header.scss */
.pusher {
  height: 75px; }

@media all and (max-width: 1095px) {
  /* line 388, static/scss/header.scss */
  header nav {
    position: relative; }
    /* line 390, static/scss/header.scss */
    header nav .logo {
      position: absolute;
      left: 0;
      top: 0; }
    /* line 396, static/scss/header.scss */
    header nav ul li {
      display: none; }
    /* line 400, static/scss/header.scss */
    header nav ul.open-menu {
      width: 100%;
      margin: auto;
      margin-top: 75px;
      justify-content: center; }
      /* line 405, static/scss/header.scss */
      header nav ul.open-menu li {
        float: none;
        display: flex;
        text-align: left; }
    /* line 411, static/scss/header.scss */
    header nav #nav-hamburger {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      margin: 7.5px 15px 0 0; }
  /* line 419, static/scss/header.scss */
  header .show-dropdown {
    top: 100%; } }

@media all and (max-width: 890px) {
  /* line 428, static/scss/header.scss */
  header nav ul.open-menu {
    height: max-content;
    flex-wrap: wrap; }
    /* line 431, static/scss/header.scss */
    header nav ul.open-menu > li {
      margin: 10px;
      flex: 1 1 160px;
      height: auto; }
      /* line 437, static/scss/header.scss */
      header nav ul.open-menu > li > a svg,
      header nav ul.open-menu > li > div svg, header nav ul.open-menu > li > span svg {
        height: 35px;
        width: 35px;
        flex-shrink: 0; }
    /* line 445, static/scss/header.scss */
    header nav ul.open-menu .nav-button button {
      display: none; }
    /* line 448, static/scss/header.scss */
    header nav ul.open-menu .nav-button svg, header nav ul.open-menu .nav-button p {
      display: block; }
  /* line 455, static/scss/header.scss */
  header .profile-dropdown .profile-links {
    flex-direction: row;
    flex-wrap: wrap; }
    /* line 458, static/scss/header.scss */
    header .profile-dropdown .profile-links > li {
      flex: 1 1 150px;
      margin: 5px 10px; }
      /* line 461, static/scss/header.scss */
      header .profile-dropdown .profile-links > li a {
        flex-direction: row;
        min-width: 105px;
        min-height: 30px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  /* line 471, static/scss/header.scss */
  header .profile-dropdown > span {
    font-size: 30px; }
  /* line 475, static/scss/header.scss */
  header .show-dropdown {
    top: 0;
    width: 75%;
    right: 50%;
    transform: translateX(53%);
    box-shadow: 20px 20px 0px 2000px rgba(0, 0, 0, 0.2); }
  /* line 483, static/scss/header.scss */
  .notification {
    top: -10px !important; } }

@media all and (max-width: 600px) {
  /* line 493, static/scss/header.scss */
  header nav ul.open-menu li {
    margin: 15px; } }

@media all and (max-width: 521px) {
  /* line 503, static/scss/header.scss */
  header .profile-dropdown {
    max-height: 97vh;
    overflow-y: overlay; }
    /* line 506, static/scss/header.scss */
    header .profile-dropdown .profile-pic-bg {
      top: 35px; }
  /* line 510, static/scss/header.scss */
  header .profile-links {
    margin-bottom: 10px; }
    /* line 513, static/scss/header.scss */
    header .profile-links li a {
      width: 100%; } }

@media all and (max-width: 400px) {
  /* line 525, static/scss/header.scss */
  header nav ul.open-menu li {
    flex: 1 1 80px; }
  /* line 531, static/scss/header.scss */
  .notification {
    right: 15% !important; } }

/* line 4, static/scss/footer-privacy-policy.scss */
body > section {
  max-width: 75%;
  background: none;
  box-shadow: none;
  margin: auto;
  padding: 0; }
  /* line 10, static/scss/footer-privacy-policy.scss */
  body > section p {
    text-align: justify; }

/* line 15, static/scss/footer-privacy-policy.scss */
.privacy-policy-introduction {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  /* line 20, static/scss/footer-privacy-policy.scss */
  .privacy-policy-introduction .introduction-content h1 {
    font-size: 40px; }

@media all and (max-width: 800px) {
  /* line 26, static/scss/footer-privacy-policy.scss */
  body > section {
    max-width: 95%; } }
