footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden; }
  footer hr {
    border-color: #bababa9f; }
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    /*&:nth-of-type(2) {
			li {
				&:first-of-type {
					margin-top: 0;
					display: flex;
					align-items: center;
					p {
						margin: 0;
					}
				}
			}
		}*/ }
    footer ul li {
      list-style: none;
      margin: 5px 20px; }
      footer ul li a {
        color: #bababa;
        font-size: 20px;
        text-decoration: none; }
        footer ul li a:hover {
          cursor: pointer;
          color: #d6d6d6;
          transition: color 0.2s; }
      footer ul li svg {
        width: 40px;
        height: 40px; }
  footer .footer-sm {
    display: flex;
    align-items: center; }
    footer .footer-sm > p {
      white-space: nowrap; }
    footer .footer-sm ul {
      width: 100%; }
  footer p {
    color: #bababa;
    font-size: 20px; }
  footer .contact-us-log-in {
    position: relative; }
    footer .contact-us-log-in span {
      width: max-content;
      position: absolute;
      display: none;
      top: 45px;
      right: -110%;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1000; }
    footer .contact-us-log-in:hover a {
      cursor: default; }
    footer .contact-us-log-in:hover span {
      display: block; }

@media all and (max-width: 1065px) {
  footer .footer-links li {
    flex: 1 1 20%; }
  footer .footer-sm {
    display: block; } }

@media all and (max-width: 860px) {
  footer .footer-links li {
    flex: 1 1 50%; }
  footer .footer-sm ul li {
    flex: 1 1 12%; } }

@media all and (max-width: 550px) {
  footer .footer-sm ul li {
    flex: 1 1 30%; } }

body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  body > ul.messages {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10000;
    width: 30%;
    /*min-height: 20%;*/
    background-color: #292929;
    padding: 10px;
    margin: 0;
    border-radius: 5px; }
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      body > ul.messages > span:hover {
        cursor: pointer; }
    body > ul.messages li {
      list-style: none;
      color: white; }
      body > ul.messages li > * {
        color: white; }
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

.map {
  width: 100%;
  box-sizing: border-box; }
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 334px); }

form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  form * {
    font-family: "Lato", sans-serif; }
  form *:focus {
    outline: none; }
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  form input {
    padding-left: 8px; }
  form textarea {
    resize: none; }
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  form .help {
    float: right;
    color: lightslategrey; }
  form img[src="/static/scss?a54a414abcc3"] {
    visibility: hidden; }

button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

.active-filter {
  background-color: #1168d8;
  color: white; }

.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  .cards-content,
  .content {
    min-height: calc(100vh - 392px); } }

@media all and (max-width: 600px) {
  body > ul.messages {
    width: 96%;
    right: 0%;
    left: 0;
    bottom: 0;
    border-radius: 0; } }

header {
  background-color: #1168d8;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0; }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header nav h1 {
      margin: 0; }
      header nav h1 img {
        padding: 10px;
        height: 75px;
        box-sizing: border-box; }
    header nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      height: 75px; }
      header nav ul li {
        list-style: none;
        margin: 0 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px; }
        header nav ul li a,
        header nav ul li > span {
          position: relative;
          text-decoration: none;
          color: white;
          text-align: center;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center; }
        header nav ul li .notifications:hover {
          cursor: pointer; }
      header nav ul .profile-toggle {
        color: white; }
        header nav ul .profile-toggle > div {
          display: flex;
          flex-direction: column;
          align-items: center; }
          header nav ul .profile-toggle > div:hover {
            cursor: pointer; }
      header nav ul .nav-button svg, header nav ul .nav-button p {
        display: none; }
      header nav ul .nav-button .notification {
        right: -3px;
        font-weight: bolder; }
      header nav ul p {
        margin: 0 5px; }
      header nav ul svg {
        width: 25px;
        height: 25px;
        filter: invert(1); }
      header nav ul .logout > span:hover {
        cursor: pointer; }
      header nav ul .logout .show-logout-modal {
        display: flex !important; }
      header nav ul .logout .logout-modal {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 100000;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center; }
        header nav ul .logout .logout-modal > div {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: white;
          padding: 0 20px;
          border-radius: 5px; }
          header nav ul .logout .logout-modal > div > p {
            margin: 20 0 10; }
          header nav ul .logout .logout-modal > div .logout-buttons {
            display: flex;
            justify-content: center; }
            header nav ul .logout .logout-modal > div .logout-buttons button {
              margin: 0;
              height: min-content; }
            header nav ul .logout .logout-modal > div .logout-buttons > a {
              margin: 10 5 20 0;
              width: auto;
              height: min-content; }
            header nav ul .logout .logout-modal > div .logout-buttons > button {
              margin: 10 0 20 5;
              color: red;
              border-color: red; }
          header nav ul .logout .logout-modal > div > span {
            position: absolute;
            top: 5px;
            right: 8px;
            color: grey; }
            header nav ul .logout .logout-modal > div > span:hover {
              cursor: pointer; }
    header nav #nav-hamburger {
      display: none;
      height: 60px;
      width: 45px;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer; }
      header nav #nav-hamburger span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out; }
        header nav #nav-hamburger span:nth-child(1) {
          top: 30%; }
        header nav #nav-hamburger span:nth-child(2), header nav #nav-hamburger span:nth-child(3) {
          top: 50%; }
        header nav #nav-hamburger span:nth-child(4) {
          top: 70%; }
    header nav #nav-hamburger.open-hamburger span:nth-child(1) {
      top: 30%;
      width: 0%;
      left: 50%; }
    header nav #nav-hamburger.open-hamburger span:nth-child(2) {
      transform: rotate(45deg); }
    header nav #nav-hamburger.open-hamburger span:nth-child(3) {
      transform: rotate(-45deg); }
    header nav #nav-hamburger.open-hamburger span:nth-child(4) {
      top: 70%;
      width: 0%;
      left: 50%; }

.notification-panel {
  position: absolute;
  max-height: 400px;
  width: 300px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 50;
  right: -1000px;
  top: 80px;
  opacity: 0; }
  .notification-panel > span {
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;
    font-weight: bold; }
    .notification-panel > span:hover {
      cursor: pointer; }
  .notification-panel > p {
    margin: 5px 0 5px 5px; }
  .notification-panel h4 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 5px; }
  .notification-panel hr {
    margin: 0; }
  .notification-panel .notification-feed {
    padding: 0;
    flex-direction: column;
    height: max-content; }
    .notification-panel .notification-feed li {
      position: relative;
      list-style: none;
      padding: 10px;
      margin: 0;
      border-radius: 0;
      transition: background-color 0.4s; }
      .notification-panel .notification-feed li:hover {
        background-color: gainsboro;
        transition: background-color 0.4s; }
      .notification-panel .notification-feed li a {
        text-decoration: none;
        color: inherit;
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        width: 100%; }
        .notification-panel .notification-feed li a img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px; }
        .notification-panel .notification-feed li a .notification-info {
          width: calc(100% - 60px); }
          .notification-panel .notification-feed li a .notification-info p {
            width: 100%; }
          .notification-panel .notification-feed li a .notification-info .preview {
            font-size: 12.5px;
            color: grey;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          .notification-panel .notification-feed li a .notification-info .notification-time {
            font-style: oblique; }
      .notification-panel .notification-feed li .unread-notification-bubble {
        display: none; }
    .notification-panel .notification-feed .unread-notification {
      background-color: #1167d80e;
      align-items: flex-start; }
      .notification-panel .notification-feed .unread-notification a {
        width: 90%; }
      .notification-panel .notification-feed .unread-notification .unread-notification-bubble {
        display: block;
        position: absolute;
        right: 10px;
        top: 40%;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #1168d8; }
    .notification-panel .notification-feed hr {
      width: 99%;
      margin: 0; }

.profile-dropdown {
  padding: 0;
  width: 300px;
  text-align: center;
  position: absolute;
  right: -1000px;
  top: 80px;
  opacity: 0;
  z-index: 100;
  /*transition: right 0.4s;*/
  color: black; }
  .profile-dropdown .banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin-bottom: 40px; }
  .profile-dropdown .profile-pic-bg {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    .profile-dropdown .profile-pic-bg .profile-picture {
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: auto;
      display: block; }
  .profile-dropdown > span {
    color: white;
    font-weight: bold;
    top: 5px;
    right: 7px;
    position: absolute; }
    .profile-dropdown > span:hover {
      cursor: pointer; }
  .profile-dropdown p {
    margin: 5px 0;
    padding-bottom: 5px;
    /*border-bottom: solid 1px rgba(192, 191, 191, 0.5);*/ }
  .profile-dropdown ul {
    padding: 0 20px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    height: auto; }
    .profile-dropdown ul a {
      text-decoration: none;
      color: black;
      flex-direction: row; }
    .profile-dropdown ul li {
      margin: 5px 0; }
      .profile-dropdown ul li svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        filter: invert(0); }

.show-dropdown {
  opacity: 1;
  right: 5px;
  /*transition: right 0.4s;*/ }

.pusher {
  height: 75px; }

@media all and (max-width: 1095px) {
  header nav {
    position: relative; }
    header nav .logo {
      position: absolute;
      left: 0;
      top: 0; }
    header nav ul li {
      display: none; }
    header nav ul.open-menu {
      width: 100%;
      margin: auto;
      margin-top: 75px;
      justify-content: center; }
      header nav ul.open-menu li {
        float: none;
        display: flex;
        text-align: left; }
    header nav #nav-hamburger {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      margin: 7.5px 15px 0 0; }
  header .show-dropdown {
    top: 100%; } }

@media all and (max-width: 890px) {
  header nav ul.open-menu {
    height: max-content;
    flex-wrap: wrap; }
    header nav ul.open-menu > li {
      margin: 10px;
      flex: 1 1 160px;
      height: auto; }
      header nav ul.open-menu > li > a svg,
      header nav ul.open-menu > li > div svg, header nav ul.open-menu > li > span svg {
        height: 35px;
        width: 35px;
        flex-shrink: 0; }
    header nav ul.open-menu .nav-button button {
      display: none; }
    header nav ul.open-menu .nav-button svg, header nav ul.open-menu .nav-button p {
      display: block; }
  header .profile-dropdown .profile-links {
    flex-direction: row;
    flex-wrap: wrap; }
    header .profile-dropdown .profile-links > li {
      flex: 1 1 150px;
      margin: 5px 10px; }
      header .profile-dropdown .profile-links > li a {
        flex-direction: row;
        min-width: 105px;
        min-height: 30px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  header .profile-dropdown > span {
    font-size: 30px; }
  header .show-dropdown {
    top: 0;
    width: 75%;
    right: 50%;
    transform: translateX(53%);
    box-shadow: 20px 20px 0px 2000px rgba(0, 0, 0, 0.2); }
  .notification {
    top: -10px !important; } }

@media all and (max-width: 600px) {
  header nav ul.open-menu li {
    margin: 15px; } }

@media all and (max-width: 521px) {
  header .profile-dropdown {
    max-height: 97vh;
    overflow-y: overlay; }
    header .profile-dropdown .profile-pic-bg {
      top: 35px; }
  header .profile-links {
    margin-bottom: 10px; }
    header .profile-links li a {
      width: 100%; } }

@media all and (max-width: 400px) {
  header nav ul.open-menu li {
    flex: 1 1 80px; }
  .notification {
    right: 15% !important; } }

.post {
  margin-top: 20px;
  padding: 0;
  position: relative; }
  .post .post-top {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(192, 191, 191, 0.5); }
    .post .post-top .poster-info {
      width: 100%; }
      .post .post-top .poster-info p:first-of-type {
        margin-bottom: 0; }
      .post .post-top .poster-info p:nth-of-type(2) {
        margin-top: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        max-width: 85%; }
        .post .post-top .poster-info p:nth-of-type(2) > * {
          margin: 0 5; }
        .post .post-top .poster-info p:nth-of-type(2) svg {
          width: 20px; }
        .post .post-top .poster-info p:nth-of-type(2) strong {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
      .post .post-top .poster-info .delete-post {
        position: absolute;
        top: 20px;
        right: 10px; }
        .post .post-top .poster-info .delete-post > button {
          border: none;
          margin: 0;
          padding: 0; }
          .post .post-top .poster-info .delete-post > button svg {
            width: 30px;
            height: 30px; }
  .post .delete-post-form {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: max-content;
    width: max-content;
    z-index: 100;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .post .delete-post-form button {
      padding: 10 16;
      margin: 0;
      color: red;
      border-color: red; }
    .post .delete-post-form span {
      width: 89%;
      transition: 0.4s;
      border: solid 1px #1168d8;
      background-color: white;
      color: #1168d8;
      border-radius: 5px;
      margin: 5px 0;
      padding: 10px 16px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer; }
      .post .delete-post-form span:hover {
        transition: 0.4s;
        filter: brightness(1.1); }
  .post .show-delete-post-form {
    display: flex; }
  .post .profile-picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    object-fit: cover; }
  .post .post-content > p {
    padding: 0 20px;
    overflow-wrap: anywhere; }
  .post .post-content hr {
    margin: 10px; }
  .post .post-content .card, .post .post-content .simple-card {
    margin: auto; }
  .post .post-content .post-stats {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .post .post-content .post-stats > p {
      color: grey;
      font-size: 12px;
      margin: 0;
      padding: 0 10px 0 0; }
    .post .post-content .post-stats span {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-bottom: solid 1px transparent; }
      .post .post-content .post-stats span:first-of-type {
        color: #f30051; }
      .post .post-content .post-stats span:last-of-type {
        color: #1fbf66; }
        .post .post-content .post-stats span:last-of-type:hover {
          cursor: pointer;
          border-bottom: solid 1px #1fbf66; }
      .post .post-content .post-stats span svg {
        height: 15px;
        width: 15px;
        margin-left: 2px; }
  .post .post-content .shared-post {
    margin: 10 15 15 15;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    .post .post-content .shared-post .shared-post-user {
      display: flex;
      align-items: center;
      border-bottom: solid 1px rgba(192, 191, 191, 0.5); }
      .post .post-content .shared-post .shared-post-user .profile-picture {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: 10px;
        object-fit: cover; }
      .post .post-content .shared-post .shared-post-user .shared-post-user-info p:first-of-type {
        margin-bottom: 0; }
      .post .post-content .shared-post .shared-post-user .shared-post-user-info p:nth-of-type(2) {
        margin-top: 0;
        color: grey;
        font-size: 12px; }
    .post .post-content .shared-post .shared-post-text {
      padding: 0 20;
      overflow-wrap: anywhere; }
    .post .post-content .shared-post > a {
      margin: 5 10px;
      text-decoration: none;
      color: #1168d8;
      display: flex;
      justify-content: flex-end; }
  .post .post-bottom hr {
    margin: 5px 10px; }
  .post .post-bottom .post-bottom-like-share {
    display: flex;
    /*justify-content: left;*/
    align-items: center;
    padding: 5px 0; }
    .post .post-bottom .post-bottom-like-share > form, .post .post-bottom .post-bottom-like-share > span, .post .post-bottom .post-bottom-like-share > button {
      width: 100%; }
    .post .post-bottom .post-bottom-like-share > form {
      margin: 0 20px 0 0; }
      .post .post-bottom .post-bottom-like-share > form button {
        width: 100%;
        color: black;
        font-weight: normal;
        text-transform: none;
        font-size: 15px;
        border: solid 1px transparent;
        border-radius: 10px;
        background-color: rgba(192, 191, 191, 0.2);
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        transition: 0.4s; }
        .post .post-bottom .post-bottom-like-share > form button:hover {
          cursor: pointer;
          background-color: rgba(192, 191, 191, 0.5);
          transition: 0.4s; }
        .post .post-bottom .post-bottom-like-share > form button svg {
          width: 20px;
          height: 20px;
          margin-right: 10px; }
    .post .post-bottom .post-bottom-like-share > span,
    .post .post-bottom .post-bottom-like-share > button {
      color: black;
      font-weight: normal;
      text-transform: none;
      font-size: 15px;
      border: solid 1px transparent;
      border-radius: 10px;
      background-color: rgba(192, 191, 191, 0.2);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      transition: 0.4s; }
      .post .post-bottom .post-bottom-like-share > span:hover,
      .post .post-bottom .post-bottom-like-share > button:hover {
        cursor: pointer;
        background-color: rgba(192, 191, 191, 0.5);
        transition: 0.4s; }
      .post .post-bottom .post-bottom-like-share > span svg,
      .post .post-bottom .post-bottom-like-share > button svg {
        width: 20px;
        height: 20px; }
    .post .post-bottom .post-bottom-like-share > span svg {
      margin-right: 10px; }
  .post .post-bottom .comments {
    display: none;
    padding: 0;
    margin-top: 0; }
    .post .post-bottom .comments hr {
      margin: 5px 10px; }
    .post .post-bottom .comments form {
      margin: 0px;
      display: flex;
      align-items: center; }
      .post .post-bottom .comments form textarea {
        margin: 10px 0;
        padding: 10px;
        width: calc(100% - 20px);
        border: solid 1px #aaa !important;
        height: 40px; }
      .post .post-bottom .comments form > button {
        height: 40px;
        margin: 5px; }
    .post .post-bottom .comments li {
      list-style: none;
      margin: 0 0 0 10px;
      display: flex;
      overflow-wrap: anywhere; }
      .post .post-bottom .comments li img {
        margin: 5 10 10 0; }
      .post .post-bottom .comments li .comment-content {
        width: 100%;
        display: flex;
        flex-direction: column; }
        .post .post-bottom .comments li .comment-content > div {
          width: 100%; }
        .post .post-bottom .comments li .comment-content p {
          margin: 5 10 5 0; }
          .post .post-bottom .comments li .comment-content p:first-of-type {
            margin-bottom: 0; }
          .post .post-bottom .comments li .comment-content p:nth-of-type(2) {
            margin-top: 0;
            font-size: 12px;
            color: grey; }
        .post .post-bottom .comments li .comment-content > form {
          width: min-content;
          display: flex; }
          .post .post-bottom .comments li .comment-content > form > button, .post .post-bottom .comments li .comment-content > form > span {
            padding: 0;
            margin: 0;
            font-size: 15px;
            font-weight: normal;
            background: none;
            height: min-content;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center; }
            .post .post-bottom .comments li .comment-content > form > button:first-of-type, .post .post-bottom .comments li .comment-content > form > span:first-of-type {
              margin-right: 5; }
            .post .post-bottom .comments li .comment-content > form > button:hover, .post .post-bottom .comments li .comment-content > form > span:hover {
              cursor: pointer; }
            .post .post-bottom .comments li .comment-content > form > button span, .post .post-bottom .comments li .comment-content > form > span span {
              color: black; }
            .post .post-bottom .comments li .comment-content > form > button .span-liked, .post .post-bottom .comments li .comment-content > form > span .span-liked {
              color: #f30051;
              font-weight: bold; }
            .post .post-bottom .comments li .comment-content > form > button svg, .post .post-bottom .comments li .comment-content > form > span svg {
              margin: 0 0 0 2px;
              height: 15px;
              width: 15px; }
          .post .post-bottom .comments li .comment-content > form .delete-comment-popup {
            display: none; }
            .post .post-bottom .comments li .comment-content > form .delete-comment-popup > * {
              font-size: 10px;
              margin: 0; }
            .post .post-bottom .comments li .comment-content > form .delete-comment-popup button {
              color: red;
              border-color: red;
              margin-right: 5px;
              padding: 3 5; }
              .post .post-bottom .comments li .comment-content > form .delete-comment-popup button.if-mobile {
                display: none; }
            .post .post-bottom .comments li .comment-content > form .delete-comment-popup span {
              transition: 0.4s;
              border: solid 1px #1168d8;
              background-color: white;
              color: #1168d8;
              border-radius: 5px;
              padding: 3 5;
              text-align: center;
              font-weight: bold;
              text-transform: uppercase;
              white-space: nowrap;
              text-decoration: none;
              cursor: pointer; }
              .post .post-bottom .comments li .comment-content > form .delete-comment-popup span:hover {
                transition: 0.4s;
                filter: brightness(1.1); }
          .post .post-bottom .comments li .comment-content > form .show-delete-comment-popup {
            display: flex; }
    .post .post-bottom .comments .all-comments-toggle {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1167d817;
      padding: 10px;
      transition: background-color 0.4s; }
      .post .post-bottom .comments .all-comments-toggle:hover {
        transition: background-color 0.4s;
        background-color: #1167d830;
        cursor: pointer; }
    .post .post-bottom .comments .hidden {
      display: none; }
  .post .post-bottom .comments-toggled {
    display: block; }

.carousel {
  margin: 10px; }
  .carousel .splide__arrows {
    /*
		.splide__arrow--prev{
			left: 2em;
		}
		.splide__arrow--next{
			right: 2em;
		}*/ }
    .carousel .splide__arrows > * {
      top: 55%; }
  .carousel .splide__track .splide__list .splide__slide {
    height: 300px !important; }
  .carousel.hide-arrows .splide__arrows {
    display: none; }

.splide__pagination {
  display: none; }

/*
.splide__list, .splide__slide{
	width: initial !important;
}*/
.splide__slide {
  height: 500px;
  width: 33%; }

.popup .popup-content form textarea {
  margin: 10 0 0 0; }

.popup .popup-content form input:last-of-type {
  margin-top: 18px; }

@media all and (max-width: 525px) {
  .post .post-top .poster-info {
    width: 70%; }
    .post .post-top .poster-info svg {
      width: 80px; }
  .post .post-bottom .comments li .comment-content > form {
    width: 100%; }
    .post .post-bottom .comments li .comment-content > form .delete-comment-popup {
      width: 100%;
      flex-direction: column; }
      .post .post-bottom .comments li .comment-content > form .delete-comment-popup button {
        margin: 0 2.5 2.5 0; }
        .post .post-bottom .comments li .comment-content > form .delete-comment-popup button.if-desktop {
          display: none; }
        .post .post-bottom .comments li .comment-content > form .delete-comment-popup button.if-mobile {
          display: block; }
      .post .post-bottom .comments li .comment-content > form .delete-comment-popup span {
        margin: 2.5 2.5 0 0; } }

.seed-feed {
  display: grid;
  grid-gap: 25px;
  grid-template-areas: "last welcome ads" "last progress-bar ads" "last newsfeed ads";
  grid-template-columns: min-content 850px min-content;
  margin: auto;
  width: min-content;
  max-width: 1500px;
  min-height: calc(100% - 341px); }

.welcome {
  grid-area: welcome;
  padding: 10px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1aa3ff;
  position: relative;
  border-radius: 5px; }
  .welcome p {
    text-align: center; }
  .welcome a {
    text-decoration: none;
    color: white; }
  .welcome form {
    margin: 0; }

.progress-bar {
  grid-area: progress-bar;
  display: flex;
  flex-direction: column; }
  .progress-bar p {
    margin: 5 0; }
    .progress-bar p a {
      text-decoration: none;
      color: #1168d8;
      margin-left: 5px; }
  .progress-bar form {
    margin: 0 5px; }
    .progress-bar form button {
      width: 100%; }
  .progress-bar progress {
    width: 100%;
    height: 30px; }
  .progress-bar .progress-bar-buttons {
    display: flex;
    margin: 10px 0; }
    .progress-bar .progress-bar-buttons button {
      margin: 0 5px;
      padding: 0;
      height: 35px;
      width: 100%;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .progress-bar .progress-bar-buttons button svg {
        filter: invert(49%) sepia(81%) saturate(7494%) hue-rotate(206deg) brightness(93%) contrast(87%);
        margin-right: 5px;
        height: 15px;
        width: 15px; }
      .progress-bar .progress-bar-buttons button p {
        margin: 0; }
        .progress-bar .progress-bar-buttons button p#show-less {
          display: none; }
      .progress-bar .progress-bar-buttons button .show {
        display: block; }
      .progress-bar .progress-bar-buttons button .hide {
        display: none; }
    .progress-bar .progress-bar-buttons .expanded svg {
      transform: scaleY(-1); }
  .progress-bar #missing-info {
    display: none; }
    .progress-bar #missing-info ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0; }
      .progress-bar #missing-info ul p {
        margin: 0; }
      .progress-bar #missing-info ul li {
        margin: 5px 0 5px 20px;
        list-style: none;
        width: max-content;
        flex: 1 1 160px; }
  .progress-bar .show {
    display: block !important; }

.newsfeed {
  grid-area: newsfeed; }
  .newsfeed .express-yourself {
    padding: 0; }
    .newsfeed .express-yourself form {
      width: 100%; }
    .newsfeed .express-yourself .express-top {
      padding: 5px 20px;
      background-color: rgba(192, 191, 191, 0.2); }
      .newsfeed .express-yourself .express-top p {
        margin: 0; }
    .newsfeed .express-yourself .express-content {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px rgba(192, 191, 191, 0.5); }
      .newsfeed .express-yourself .express-content img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: 10px;
        object-fit: cover; }
      .newsfeed .express-yourself .express-content textarea {
        width: 100%;
        height: 50px;
        padding: 10px;
        border: none !important; }
    .newsfeed .express-yourself .express-bottom {
      display: flex;
      flex-direction: column;
      justify-content: left;
      /*align-items: center;*/ }
      .newsfeed .express-yourself .express-bottom ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: solid 1px rgba(192, 191, 191, 0.5); }
        .newsfeed .express-yourself .express-bottom ul .album-widget {
          margin: 5; }
          .newsfeed .express-yourself .express-bottom ul .album-widget input:nth-of-type(2) {
            width: 0; }
          .newsfeed .express-yourself .express-bottom ul .album-widget > span {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: rgba(192, 191, 191, 0.2);
            padding: 0 5px;
            transition: background-color 0.4s; }
            .newsfeed .express-yourself .express-bottom ul .album-widget > span:hover {
              transition: background-color 0.4s;
              cursor: pointer;
              background-color: rgba(192, 191, 191, 0.5); }
            .newsfeed .express-yourself .express-bottom ul .album-widget > span img {
              height: calc(730px / 5) !important;
              width: calc(730px / 5) !important; }
            .newsfeed .express-yourself .express-bottom ul .album-widget > span svg {
              height: 40px;
              width: 40px; }
            .newsfeed .express-yourself .express-bottom ul .album-widget > span p {
              display: block;
              margin-left: 5px; }
      .newsfeed .express-yourself .express-bottom button {
        margin: 10 10 10 15;
        width: 120px;
        height: 45px;
        align-self: flex-end; }
  .newsfeed .page-load {
    width: 100%;
    text-decoration: none;
    color: #1168d8; }
    .newsfeed .page-load p {
      display: flex;
      justify-content: center;
      padding: 10 0;
      background-color: #1167d810;
      transition: background-color 0.4s; }
      .newsfeed .page-load p:hover {
        background-color: #1167d82a;
        transition: background-color 0.4s; }

.last,
.ads {
  width: 300px;
  padding: 0;
  position: sticky;
  top: 100px; }

.last {
  height: 500px;
  grid-area: last;
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin-top: 25Px; }
  .last .last-searches,
  .last .last-added-trips {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    height: calc(50% - 36px); }
  .last .last-added-trips {
    margin: 0 0 20px; }
  .last h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight: normal;
    background-color: #1168d8;
    color: white; }
  .last ul {
    padding: 0;
    margin: 0;
    height: calc(100% - 47px);
    overflow-y: scroll; }
    .last ul li {
      list-style: none;
      padding: 10px;
      transition: background-color 0.4s; }
      .last ul li:hover {
        background-color: gainsboro;
        transition: background-color 0.4s; }
      .last ul li a {
        text-decoration: none;
        display: flex;
        color: inherit; }
        .last ul li a img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px; }
        .last ul li a .trip-info,
        .last ul li a .search-info {
          width: calc(100% - 60px); }
          .last ul li a .trip-info p,
          .last ul li a .search-info p {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
            .last ul li a .trip-info p:first-of-type,
            .last ul li a .search-info p:first-of-type {
              font-weight: bold; }
            .last ul li a .trip-info p:last-of-type,
            .last ul li a .search-info p:last-of-type {
              font-style: oblique; }
    .last ul hr {
      margin: 0; }

.ads {
  grid-area: ads;
  margin-top: 25px; }
  .ads ul {
    padding: 0;
    margin: 0; }
    .ads ul li {
      list-style: none;
      padding: 10px;
      transition: background-color 0.4s;
      border-radius: 5px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
      .ads ul li:first-of-type {
        margin: 0 0 10; }
      .ads ul li:not(:first-of-type) {
        margin: 10 0; }
      .ads ul li:hover {
        cursor: pointer; }
      .ads ul li:not(:last-of-type):hover {
        background-color: #f1f1f1;
        transition: background-color 0.4s; }
      .ads ul li:last-of-type {
        transition: color 0.4s, border-color 0.4s; }
        .ads ul li:last-of-type a {
          color: gray;
          transition: color 0.4s;
          display: flex;
          flex-direction: column; }
          .ads ul li:last-of-type a p:first-of-type {
            margin: 0; }
          .ads ul li:last-of-type a p:last-of-type {
            margin-bottom: 0; }
          .ads ul li:last-of-type a svg {
            width: 40%;
            height: auto;
            align-self: center;
            filter: contrast(0.1);
            transition: filter 0.4s; }
        .ads ul li:last-of-type:hover {
          transition: color 0.4s, border-color 0.4s; }
          .ads ul li:last-of-type:hover a {
            color: black;
            transition: color 0.4s; }
            .ads ul li:last-of-type:hover a svg {
              filter: contrast(1);
              transition: filter 0.4s; }
      .ads ul li a {
        text-decoration: none;
        color: black; }
        .ads ul li a img {
          width: 100%; }
        .ads ul li a p:first-of-type {
          text-align: center; }
      .ads ul li > p:first-of-type {
        margin-top: 0; }
    .ads ul hr {
      width: 95%; }

footer {
  margin-top: 50px; }

@media all and (max-width: 1590px) {
  .seed-feed {
    grid-template-columns: min-content 650px min-content; }
    .seed-feed .newsfeed .express-yourself .express-bottom ul .album-widget > span img {
      width: calc(550px / 4) !important;
      height: calc(550px / 4) !important; } }

@media all and (max-width: 1320px) {
  .seed-feed {
    grid-template-columns: min-content 460px min-content; }
    .seed-feed .newsfeed .express-yourself .express-bottom ul .album-widget > span img {
      width: calc(360px / 4) !important;
      height: calc(360px / 4) !important; } }

@media all and (max-width: 1150px) {
  .seed-feed {
    grid-template-areas: "last welcome" "last progress-bar" "last ads" "last newsfeed";
    grid-template-columns: min-content 500px;
    grid-template-rows: auto auto auto auto; }
    .seed-feed .newsfeed .express-yourself .express-bottom ul .album-widget > span img {
      width: calc(420px / 3) !important;
      height: calc(420px / 3) !important; }
  .ads {
    height: max-content;
    width: initial;
    position: initial;
    margin: 0; }
    .ads ul li > a {
      display: flex;
      justify-content: center;
      align-items: center; }
      .ads ul li > a .ad-text {
        margin-left: 10px; }
      .ads ul li > a img {
        width: 35%; }
  .newsfeed {
    margin-top: 0; } }

@media all and (max-width: 1065px) {
  .seed-feed {
    min-height: calc(100vh - 323px); } }

@media all and (max-width: 850px) {
  .seed-feed {
    grid-template-columns: min-content 450px; }
    .seed-feed .newsfeed .express-yourself .express-bottom ul .album-widget > span img {
      width: calc(370px / 3) !important;
      height: calc(370px / 3) !important; } }

@media all and (max-width: 800px) {
  .seed-feed {
    grid-template-areas: "welcome" "progress-bar" "last" "ads" "newsfeed";
    grid-template-columns: 500px;
    grid-template-rows: auto auto 325px auto auto; }
    .seed-feed .newsfeed .express-yourself .express-bottom ul .album-widget > span img {
      width: calc(420px / 3) !important;
      height: calc(420px / 3) !important; }
  .last {
    width: 500px;
    position: initial;
    margin: 0 auto;
    height: initial;
    display: flex; }
    .last .last-added-trips, .last .last-searches {
      margin: 0 5px;
      height: 325px;
      width: 48%; }
  .ads {
    margin-top: 0; }
  .splide__slide {
    height: 300px !important;
    width: 33%; } }

@media all and (max-width: 600px) {
  .seed-feed {
    grid-template-rows: auto auto 350px auto auto; }
  .last {
    flex-direction: column; }
    .last .last-added-trips, .last .last-searches {
      width: 100%;
      height: 162.5px;
      margin: 5px 0; } }

@media all and (max-width: 525px) {
  .seed-feed {
    grid-template-columns: 300px; }
    .seed-feed .newsfeed .express-yourself .express-bottom ul .album-widget > span img {
      width: 120px !important;
      height: 120px !important; }
  .last {
    width: 300px; } }

/*
@media all and (max-width:450px){
	.seed-feed{
		margin: 0;
		width: 100%;
		section{
			border-radius: 0;
		}
	}
	
}*/

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__container {
  position: relative;
  box-sizing: border-box;
}
.splide__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
  padding: 0 !important;
}
.splide__pagination {
  display: inline-flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.splide__pagination li {
  list-style-type: none;
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-active {
  visibility: visible;
}
.splide__slide {
  position: relative;
  box-sizing: border-box;
  list-style-type: none !important;
  margin: 0;
  outline: none;
}
.splide__slide img {
  vertical-align: bottom;
}
.splide__slider {
  position: relative;
}
.splide__spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  border-left-color: transparent;
  animation: splide-loading 1s linear infinite;
}
.splide__track {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.splide--draggable > .splide__track > .splide__list > .splide__slide {
  -webkit-user-select: none;
  user-select: none;
}
.splide--fade > .splide__track > .splide__list {
  display: block;
}
.splide--fade > .splide__track > .splide__list > .splide__slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}
.splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.splide--rtl {
  direction: rtl;
}
.splide--ttb > .splide__track > .splide__list {
  display: block;
}
.splide--ttb > .splide__pagination {
  width: auto;
}
.splide__arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  opacity: 0.7;
  background: #ccc;
}
.splide__arrow svg {
  width: 1.2em;
  height: 1.2em;
}
.splide__arrow:hover {
  cursor: pointer;
  opacity: 0.9;
}
.splide__arrow:focus {
  outline: none;
}
.splide__arrow--prev {
  left: 1em;
}
.splide__arrow--prev svg {
  transform: scaleX(-1);
}
.splide__arrow--next {
  right: 1em;
}
.splide__pagination {
  position: absolute;
  z-index: 1;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}
.splide__pagination__page {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  margin: 3px;
  padding: 0;
  transition: transfrom 0.2s linear;
  border: none;
  opacity: 0.7;
}
.splide__pagination__page.is-active {
  transform: scale(1.4);
  background: #fff;
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}
.splide__pagination__page:focus {
  outline: none;
}
.splide__progress__bar {
  width: 0;
  height: 3px;
  background: #ccc;
}
.splide--nav > .splide__track > .splide__list > .splide__slide {
  border: 3px solid transparent;
}
.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: #000;
}
.splide--nav > .splide__track > .splide__list > .splide__slide:focus {
  outline: none;
}
.splide--rtl > .splide__arrows .splide__arrow--prev,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev {
  right: 1em;
  left: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--prev svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1);
}
.splide--rtl > .splide__arrows .splide__arrow--next,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next {
  left: 1em;
  right: auto;
}
.splide--rtl > .splide__arrows .splide__arrow--next svg,
.splide--rtl > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: scaleX(-1);
}
.splide--ttb > .splide__arrows .splide__arrow,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}
.splide--ttb > .splide__arrows .splide__arrow--prev,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev {
  top: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--prev svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev svg {
  transform: rotate(-90deg);
}
.splide--ttb > .splide__arrows .splide__arrow--next,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next {
  top: auto;
  bottom: 1em;
}
.splide--ttb > .splide__arrows .splide__arrow--next svg,
.splide--ttb > .splide__track > .splide__arrows .splide__arrow--next svg {
  transform: rotate(90deg);
}
.splide--ttb > .splide__pagination {
  display: flex;
  flex-direction: column;
  bottom: 50%;
  left: auto;
  right: 0.5em;
  transform: translateY(50%);
}
