/* line 1, static/scss/post.scss */
.post {
  margin-top: 20px;
  padding: 0;
  position: relative; }
  /* line 5, static/scss/post.scss */
  .post .post-top {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(192, 191, 191, 0.5); }
    /* line 11, static/scss/post.scss */
    .post .post-top .poster-info p:first-of-type {
      margin-bottom: 0; }
    /* line 14, static/scss/post.scss */
    .post .post-top .poster-info p:nth-of-type(2) {
      margin-top: 0; }
    /* line 18, static/scss/post.scss */
    .post .post-top .poster-info form {
      position: absolute;
      top: 20px;
      right: 10px; }
      /* line 22, static/scss/post.scss */
      .post .post-top .poster-info form button {
        border: none;
        margin: 0;
        padding: 0; }
        /* line 26, static/scss/post.scss */
        .post .post-top .poster-info form button svg {
          width: 30px;
          height: 30px; }
  /* line 35, static/scss/post.scss */
  .post .profile-picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    object-fit: cover; }
  /* line 44, static/scss/post.scss */
  .post .post-content > p {
    padding: 0 20px;
    overflow-wrap: anywhere; }
  /* line 48, static/scss/post.scss */
  .post .post-content .carousel img {
    width: 100%;
    object-fit: cover; }
  /* line 52, static/scss/post.scss */
  .post .post-content hr {
    margin: 10px; }
  /* line 55, static/scss/post.scss */
  .post .post-content .card, .post .post-content .simple-card {
    margin: auto; }
  /* line 58, static/scss/post.scss */
  .post .post-content .post-stats {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    /* line 62, static/scss/post.scss */
    .post .post-content .post-stats > p {
      color: grey;
      font-size: 12px;
      margin: 0;
      padding: 0 10px 0 0; }
    /* line 68, static/scss/post.scss */
    .post .post-content .post-stats span {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-bottom: solid 1px transparent; }
      /* line 75, static/scss/post.scss */
      .post .post-content .post-stats span:first-of-type {
        color: #f30051; }
      /* line 78, static/scss/post.scss */
      .post .post-content .post-stats span:last-of-type {
        color: #1fbf66; }
        /* line 80, static/scss/post.scss */
        .post .post-content .post-stats span:last-of-type:hover {
          cursor: pointer;
          border-bottom: solid 1px #1fbf66; }
      /* line 85, static/scss/post.scss */
      .post .post-content .post-stats span svg {
        height: 15px;
        width: 15px;
        margin-left: 2px; }
  /* line 92, static/scss/post.scss */
  .post .post-content .shared-post {
    padding: 10px;
    margin: 10 15 15 15;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    /* line 99, static/scss/post.scss */
    .post .post-content .shared-post .shared-post-user .profile-picture {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 10px;
      object-fit: cover; }
    /* line 108, static/scss/post.scss */
    .post .post-content .shared-post .shared-post-user .shared-post-user-info p:first-of-type {
      margin-bottom: 0; }
    /* line 111, static/scss/post.scss */
    .post .post-content .shared-post .shared-post-user .shared-post-user-info p:nth-of-type(2) {
      margin-top: 0; }
    /* line 117, static/scss/post.scss */
    .post .post-content .shared-post > img {
      width: 100%; }
  /* line 124, static/scss/post.scss */
  .post .post-bottom hr {
    margin: 5px 10px; }
  /* line 127, static/scss/post.scss */
  .post .post-bottom .post-bottom-like-share {
    display: flex;
    /*justify-content: left;*/
    align-items: center;
    padding: 5px 0; }
    /* line 132, static/scss/post.scss */
    .post .post-bottom .post-bottom-like-share > form, .post .post-bottom .post-bottom-like-share > span, .post .post-bottom .post-bottom-like-share > button {
      width: 100%; }
    /* line 135, static/scss/post.scss */
    .post .post-bottom .post-bottom-like-share > form {
      margin: 0 20px 0 0; }
      /* line 137, static/scss/post.scss */
      .post .post-bottom .post-bottom-like-share > form button {
        width: 100%;
        color: black;
        font-weight: normal;
        text-transform: none;
        font-size: 15px;
        border: solid 1px transparent;
        border-radius: 10px;
        background-color: rgba(192, 191, 191, 0.2);
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        transition: 0.4s; }
        /* line 152, static/scss/post.scss */
        .post .post-bottom .post-bottom-like-share > form button:hover {
          cursor: pointer;
          background-color: rgba(192, 191, 191, 0.5);
          transition: 0.4s; }
        /* line 157, static/scss/post.scss */
        .post .post-bottom .post-bottom-like-share > form button svg {
          width: 20px;
          height: 20px;
          margin-right: 10px; }
    /* line 164, static/scss/post.scss */
    .post .post-bottom .post-bottom-like-share > span,
    .post .post-bottom .post-bottom-like-share > button {
      color: black;
      font-weight: normal;
      text-transform: none;
      font-size: 15px;
      border: solid 1px transparent;
      border-radius: 10px;
      background-color: rgba(192, 191, 191, 0.2);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      transition: 0.4s; }
      /* line 179, static/scss/post.scss */
      .post .post-bottom .post-bottom-like-share > span:hover,
      .post .post-bottom .post-bottom-like-share > button:hover {
        cursor: pointer;
        background-color: rgba(192, 191, 191, 0.5);
        transition: 0.4s; }
      /* line 184, static/scss/post.scss */
      .post .post-bottom .post-bottom-like-share > span svg,
      .post .post-bottom .post-bottom-like-share > button svg {
        width: 20px;
        height: 20px;
        margin-right: 10px; }
  /* line 192, static/scss/post.scss */
  .post .post-bottom .comments {
    display: none;
    padding: 0;
    margin-top: 0; }
    /* line 196, static/scss/post.scss */
    .post .post-bottom .comments hr {
      margin: 5px 10px; }
    /* line 199, static/scss/post.scss */
    .post .post-bottom .comments form {
      margin: 0px;
      display: flex;
      align-items: center; }
      /* line 203, static/scss/post.scss */
      .post .post-bottom .comments form textarea {
        margin: 10px 0;
        padding: 10px;
        width: calc(100% - 20px);
        border: solid 1px #aaa !important;
        height: 40px; }
      /* line 210, static/scss/post.scss */
      .post .post-bottom .comments form button {
        height: 40px;
        margin: 5px; }
    /* line 215, static/scss/post.scss */
    .post .post-bottom .comments li {
      list-style: none;
      margin: 0 0 0 10px;
      display: flex;
      overflow-wrap: anywhere; }
      /* line 220, static/scss/post.scss */
      .post .post-bottom .comments li img {
        margin: 5 10 10 0; }
      /* line 223, static/scss/post.scss */
      .post .post-bottom .comments li .comment-content {
        width: 100%;
        display: flex;
        flex-direction: column; }
        /* line 227, static/scss/post.scss */
        .post .post-bottom .comments li .comment-content > div {
          width: 100%; }
        /* line 230, static/scss/post.scss */
        .post .post-bottom .comments li .comment-content p {
          margin: 5 10 5 0; }
          /* line 232, static/scss/post.scss */
          .post .post-bottom .comments li .comment-content p:first-of-type {
            margin-bottom: 0; }
          /* line 235, static/scss/post.scss */
          .post .post-bottom .comments li .comment-content p:nth-of-type(2) {
            margin-top: 0;
            font-size: 12px;
            color: grey; }
        /* line 241, static/scss/post.scss */
        .post .post-bottom .comments li .comment-content form {
          width: min-content;
          display: flex; }
          /* line 244, static/scss/post.scss */
          .post .post-bottom .comments li .comment-content form button {
            padding: 0;
            margin: 0;
            background: none;
            height: min-content;
            border: none; }
            /* line 250, static/scss/post.scss */
            .post .post-bottom .comments li .comment-content form button:first-of-type {
              margin-right: 5; }
            /* line 253, static/scss/post.scss */
            .post .post-bottom .comments li .comment-content form button svg {
              margin: 0;
              height: 20px;
              width: 20px; }
    /* line 262, static/scss/post.scss */
    .post .post-bottom .comments .all-comments-toggle {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1167d817;
      padding: 10px;
      transition: background-color 0.4s; }
      /* line 270, static/scss/post.scss */
      .post .post-bottom .comments .all-comments-toggle:hover {
        transition: background-color 0.4s;
        background-color: #1167d830;
        cursor: pointer; }
    /* line 276, static/scss/post.scss */
    .post .post-bottom .comments .hidden {
      display: none; }
  /* line 280, static/scss/post.scss */
  .post .post-bottom .comments-toggled {
    display: block; }

/* line 286, static/scss/post.scss */
.splide__pagination {
  display: none; }

/* line 290, static/scss/post.scss */
.splide__list, .splide__slide {
  width: initial !important; }
