/* line 1, static/scss/trip-card.scss */
.card {
  background-color: white;
  height: 235px;
  width: 380px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  font-family: "Roboto Mono", monospace; }
  /* line 11, static/scss/trip-card.scss */
  .card .card-left {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    /* line 17, static/scss/trip-card.scss */
    .card .card-left .card-top {
      display: flex;
      justify-content: space-between; }
      /* line 20, static/scss/trip-card.scss */
      .card .card-left .card-top img {
        filter: brightness(0);
        width: 125px;
        margin-left: 10px; }
      /* line 25, static/scss/trip-card.scss */
      .card .card-left .card-top a {
        color: black;
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 9px;
        display: flex;
        align-self: center;
        align-items: center;
        border-radius: 5px;
        border: solid 1px black;
        padding: 2px 5px; }
      /* line 37, static/scss/trip-card.scss */
      .card .card-left .card-top p {
        font-family: "Lato", sans-serif;
        font-size: 9px;
        color: #1168d8;
        height: 50%;
        display: flex;
        align-self: center;
        align-items: center;
        margin-right: 5px; }
    /* line 48, static/scss/trip-card.scss */
    .card .card-left .trip-info {
      display: flex;
      padding: 0;
      margin: 0 0 0 10px;
      width: 101%; }
      /* line 53, static/scss/trip-card.scss */
      .card .card-left .trip-info li {
        list-style: none;
        margin: 5px;
        width: 50%; }
        /* line 57, static/scss/trip-card.scss */
        .card .card-left .trip-info li p {
          font-size: 10px;
          margin: 0; }
    /* line 63, static/scss/trip-card.scss */
    .card .card-left .trip-photos {
      display: flex;
      padding: 0;
      margin: 5px 10px;
      position: relative; }
      /* line 68, static/scss/trip-card.scss */
      .card .card-left .trip-photos > p {
        position: absolute;
        z-index: 100;
        margin: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: "Lato", sans-serif; }
      /* line 80, static/scss/trip-card.scss */
      .card .card-left .trip-photos li {
        list-style: none;
        margin: 0px 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70px;
        height: 60px;
        position: relative; }
        /* line 89, static/scss/trip-card.scss */
        .card .card-left .trip-photos li label {
          height: 100%;
          display: flex;
          align-items: center; }
        /* line 94, static/scss/trip-card.scss */
        .card .card-left .trip-photos li input {
          position: relative;
          display: none; }
        /* line 98, static/scss/trip-card.scss */
        .card .card-left .trip-photos li img {
          position: absolute;
          width: 70px;
          height: 60px;
          left: 0;
          z-index: 1;
          transition: 0.4s;
          border-radius: 10px; }
    /* line 109, static/scss/trip-card.scss */
    .card .card-left .comment {
      margin: 0 20px; }
      /* line 111, static/scss/trip-card.scss */
      .card .card-left .comment p {
        font-size: 10px;
        margin: 0 0 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      /* line 118, static/scss/trip-card.scss */
      .card .card-left .comment .comment-text {
        display: flex;
        width: 100%;
        padding: 5px;
        height: 30px;
        border: solid 1px black;
        border-radius: 5px; }
        /* line 125, static/scss/trip-card.scss */
        .card .card-left .comment .comment-text p {
          font-size: 9px; }
  /* line 132, static/scss/trip-card.scss */
  .card::before {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 91px;
    top: -5%;
    box-shadow: inset 0px -15px 10px -10px rgba(0, 0, 0, 0.1); }
  /* line 143, static/scss/trip-card.scss */
  .card::after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 91px;
    bottom: -5%;
    box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.1); }
  /* line 154, static/scss/trip-card.scss */
  .card .card-right {
    background: url("/static/img/clouds.jpg?4b7f1cfde928") center no-repeat;
    background-size: cover;
    width: 105px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    /* line 162, static/scss/trip-card.scss */
    .card .card-right p {
      font-size: 18px;
      margin-bottom: 0;
      color: white;
      text-align: center; }
    /* line 168, static/scss/trip-card.scss */
    .card .card-right hr {
      width: 100%;
      border-color: white; }
    /* line 172, static/scss/trip-card.scss */
    .card .card-right .card-buttons {
      z-index: 2;
      height: 100%;
      width: 105px; }
      /* line 176, static/scss/trip-card.scss */
      .card .card-right .card-buttons form {
        display: flex;
        flex-direction: column;
        align-items: center; }
        /* line 180, static/scss/trip-card.scss */
        .card .card-right .card-buttons form button {
          border: none;
          padding: 0;
          background: transparent;
          height: fit-content;
          margin: 5px 0; }
        /* line 187, static/scss/trip-card.scss */
        .card .card-right .card-buttons form svg {
          height: 15px;
          width: 15px; }
      /* line 192, static/scss/trip-card.scss */
      .card .card-right .card-buttons .buttons {
        height: 85%; }
        /* line 194, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons a {
          display: flex;
          /*flex-direction: column;*/
          justify-content: center;
          align-items: center;
          color: white;
          text-decoration: none; }
          /* line 201, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons a:hover {
            filter: brightness(1.1); }
          /* line 204, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons a svg {
            width: 15px;
            height: 15px; }
          /* line 208, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons a p {
            font-family: "Lato", sans-serif;
            font-size: 12px;
            margin: 0;
            margin-right: 5px; }
        /* line 215, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons .share,
        .card .card-right .card-buttons .buttons .modify,
        .card .card-right .card-buttons .buttons .request {
          margin: 5px 0; }
        /* line 220, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons .share {
          margin-bottom: 10px; }
        /* line 223, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons .request {
          text-align: center; }
          /* line 225, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons .request button {
            text-transform: none;
            font-weight: normal;
            padding: 5px;
            white-space: normal; }
