/* line 1, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px; }

/* line 9, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 17, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 18, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 27, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 30, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 38, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 41, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 44, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 60, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 63, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 71, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 75, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 83, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 85, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 92, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 98, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 104, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 111, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 119, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 123, static/scss/base.scss */
  form img[src="/static/scss?50d934564566"] {
    visibility: hidden; }

/* line 128, static/scss/base.scss */
button,
input
.button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 145, static/scss/base.scss */
  button:hover,
  input
.button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 151, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 166, static/scss/base.scss */
.disabled-button {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 169, static/scss/base.scss */
  .disabled-button:hover {
    filter: brightness(1) grayscale(1); }

/* line 1, static/scss/header.scss */
header {
  background-color: #1168d8;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0; }
  /* line 8, static/scss/header.scss */
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 12, static/scss/header.scss */
    header nav h1 {
      margin: 0; }
      /* line 14, static/scss/header.scss */
      header nav h1 img {
        padding: 10px;
        height: 75px;
        box-sizing: border-box; }
    /* line 20, static/scss/header.scss */
    header nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      height: 75px; }
      /* line 25, static/scss/header.scss */
      header nav ul a {
        text-decoration: none;
        color: white;
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
      /* line 36, static/scss/header.scss */
      header nav ul .profile-toggle {
        color: white; }
        /* line 39, static/scss/header.scss */
        header nav ul .profile-toggle > div {
          display: flex;
          flex-direction: column;
          align-items: center; }
          /* line 43, static/scss/header.scss */
          header nav ul .profile-toggle > div:hover {
            cursor: pointer; }
      /* line 48, static/scss/header.scss */
      header nav ul li {
        position: relative;
        list-style: none;
        margin: 0 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px; }
      /* line 59, static/scss/header.scss */
      header nav ul p {
        margin: 0 5px; }
      /* line 62, static/scss/header.scss */
      header nav ul svg {
        width: 25px;
        height: 25px;
        filter: invert(1); }
      /* line 67, static/scss/header.scss */
      header nav ul input {
        width: 100%; }

/* line 74, static/scss/header.scss */
.sub-header {
  position: fixed;
  z-index: 100;
  top: 125px;
  right: 0px;
  padding: 0;
  border-radius: 5px 5px 0 5px; }

/* line 83, static/scss/header.scss */
.profile-dropdown {
  padding: 0;
  width: 300px;
  text-align: center;
  position: absolute;
  right: -1000px;
  top: 80px;
  opacity: 0;
  /*transition: right 0.4s;*/
  color: black; }
  /* line 93, static/scss/header.scss */
  .profile-dropdown .banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin-bottom: 40px; }
  /* line 100, static/scss/header.scss */
  .profile-dropdown .profile-pic-bg {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    top: 40px;
    left: 100px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    /* line 110, static/scss/header.scss */
    .profile-dropdown .profile-pic-bg .profile-picture {
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: auto;
      display: block; }
  /* line 119, static/scss/header.scss */
  .profile-dropdown p {
    margin: 5px 0;
    padding-bottom: 5px;
    /*border-bottom: solid 1px rgba(192, 191, 191, 0.5);*/ }
  /* line 124, static/scss/header.scss */
  .profile-dropdown ul {
    padding: 0 20px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    height: auto; }
    /* line 130, static/scss/header.scss */
    .profile-dropdown ul a {
      text-decoration: none;
      color: black;
      flex-direction: row; }
    /* line 135, static/scss/header.scss */
    .profile-dropdown ul li {
      margin: 5px 0; }
      /* line 137, static/scss/header.scss */
      .profile-dropdown ul li svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        filter: invert(0); }

/* line 147, static/scss/header.scss */
.show-profile-dropdown {
  opacity: 1;
  right: -30px;
  /*transition: right 0.4s;*/ }

/* line 153, static/scss/header.scss */
.pusher {
  height: 100px; }

@media all and (max-height: 600px) {
  /* line 160, static/scss/header.scss */
  header nav ul {
    margin: 0 10px; } }

/* line 4, static/scss/trip.scss */
.pusher {
  height: 40px !important; }

/* line 8, static/scss/trip.scss */
.content {
  display: grid;
  grid-template-areas: "trip-top trip-top" "form form" "travelers pictures";
  grid-template-columns: min-content auto;
  margin-bottom: 50px; }

/* line 18, static/scss/trip.scss */
.trip-top {
  grid-area: trip-top;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative; }
  /* line 24, static/scss/trip.scss */
  .trip-top img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.7);
    transition: height 0.4s; }
    /* line 30, static/scss/trip.scss */
    .trip-top img:before {
      content: " ";
      position: absolute;
      display: block;
      height: 300;
      width: 100%;
      background: #464646;
      background-size: cover; }
  /* line 40, static/scss/trip.scss */
  .trip-top .full-height {
    height: 100vh;
    transition: height 0.4s; }
    /* line 43, static/scss/trip.scss */
    .trip-top .full-height:before {
      height: 100vh; }
  /* line 47, static/scss/trip.scss */
  .trip-top .trip-top-text {
    color: white;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0; }
    /* line 53, static/scss/trip.scss */
    .trip-top .trip-top-text > * {
      margin: 20px 0; }
  /* line 57, static/scss/trip.scss */
  .trip-top h2 {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
  /* line 63, static/scss/trip.scss */
  .trip-top svg {
    width: 40px;
    filter: invert(1); }
  /* line 67, static/scss/trip.scss */
  .trip-top ul {
    color: white;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 73, static/scss/trip.scss */
    .trip-top ul li {
      list-style: none;
      margin: 0 10px;
      font-size: 1.1em; }
  /* line 79, static/scss/trip.scss */
  .trip-top .picture-toggle {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0; }
    /* line 84, static/scss/trip.scss */
    .trip-top .picture-toggle:hover {
      cursor: pointer; }
    /* line 87, static/scss/trip.scss */
    .trip-top .picture-toggle svg {
      filter: invert(1);
      width: 40px; }
  /* line 92, static/scss/trip.scss */
  .trip-top .trip-comment {
    display: none; }
  /* line 95, static/scss/trip.scss */
  .trip-top .up-arrow {
    display: none;
    bottom: 5%; }
  /* line 99, static/scss/trip.scss */
  .trip-top .hide {
    display: none; }
  /* line 102, static/scss/trip.scss */
  .trip-top .show {
    display: block; }

/* line 107, static/scss/trip.scss */
.like-fav {
  grid-area: form;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  /* line 115, static/scss/trip.scss */
  .like-fav button {
    border: none;
    padding: 0;
    background: transparent;
    margin: 5px 10px; }
    /* line 120, static/scss/trip.scss */
    .like-fav button svg {
      width: 30px;
      height: 30px; }

/* line 127, static/scss/trip.scss */
.travelers {
  grid-area: travelers;
  margin: 0 15px 0 50px; }
  /* line 130, static/scss/trip.scss */
  .travelers h3 {
    text-align: center; }
  /* line 133, static/scss/trip.scss */
  .travelers .simple-card {
    margin: 10px auto; }

/* line 138, static/scss/trip.scss */
.pictures {
  grid-area: pictures;
  text-align: center;
  margin: 0 50px 0 15px;
  max-width: 1100px; }
  /* line 143, static/scss/trip.scss */
  .pictures ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap; }
    /* line 147, static/scss/trip.scss */
    .pictures ul li {
      list-style: none;
      margin: 10px; }
      /* line 150, static/scss/trip.scss */
      .pictures ul li img {
        height: 200px;
        width: 200px;
        object-fit: cover; }

/* line 159, static/scss/trip.scss */
.content > button {
  /*popup button*/
  position: absolute;
  top: 80px;
  right: 10px; }

/* line 166, static/scss/trip.scss */
.content > a {
  position: absolute;
  top: 80px;
  right: 10px; }

@media all and (max-width: 1885px) {
  /* line 174, static/scss/trip.scss */
  .content .pictures {
    width: 1100px; } }

@media all and (max-width: 1685px) {
  /* line 182, static/scss/trip.scss */
  .content .pictures {
    width: 880px; } }

@media all and (max-width: 1485px) {
  /* line 190, static/scss/trip.scss */
  .content .pictures {
    width: 660px; } }

@media all and (max-width: 1265px) {
  /* line 198, static/scss/trip.scss */
  .content .pictures {
    width: 460px; } }

@media all and (max-width: 1070px) {
  /* line 206, static/scss/trip.scss */
  .trip-top h2 {
    font-size: 30px; } }
