/* line 1, static/scss/footer.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden; }
  /* line 6, static/scss/footer.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 9, static/scss/footer.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    /*&:nth-of-type(2) {
			li {
				&:first-of-type {
					margin-top: 0;
					display: flex;
					align-items: center;
					p {
						margin: 0;
					}
				}
			}
		}*/ }
    /* line 14, static/scss/footer.scss */
    footer ul li {
      list-style: none;
      margin: 5px 20px; }
      /* line 17, static/scss/footer.scss */
      footer ul li a {
        color: #bababa;
        font-size: 20px;
        text-decoration: none; }
        /* line 21, static/scss/footer.scss */
        footer ul li a:hover {
          cursor: pointer;
          color: #d6d6d6;
          transition: color 0.2s; }
      /* line 27, static/scss/footer.scss */
      footer ul li svg {
        width: 40px;
        height: 40px; }
  /* line 45, static/scss/footer.scss */
  footer .footer-sm {
    display: flex;
    align-items: center; }
    /* line 48, static/scss/footer.scss */
    footer .footer-sm > p {
      white-space: nowrap; }
    /* line 51, static/scss/footer.scss */
    footer .footer-sm ul {
      width: 100%; }
  /* line 55, static/scss/footer.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 59, static/scss/footer.scss */
  footer .contact-us-log-in {
    position: relative; }
    /* line 61, static/scss/footer.scss */
    footer .contact-us-log-in span {
      width: max-content;
      position: absolute;
      display: none;
      top: 45px;
      right: -110%;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1000; }
    /* line 75, static/scss/footer.scss */
    footer .contact-us-log-in:hover a {
      cursor: default; }
    /* line 78, static/scss/footer.scss */
    footer .contact-us-log-in:hover span {
      display: block; }

@media all and (max-width: 1065px) {
  /* line 88, static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 20%; }
  /* line 92, static/scss/footer.scss */
  footer .footer-sm {
    display: block; } }

@media all and (max-width: 860px) {
  /* line 101, static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 50%; }
  /* line 107, static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 12%; } }

@media all and (max-width: 550px) {
  /* line 119, static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 30%; } }

/* line 3, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 11, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10000;
    width: 30%;
    /*min-height: 20%;*/
    background-color: #292929;
    padding: 10px;
    margin: 0;
    border-radius: 5px; }
    /* line 22, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 28, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 32, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 35, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 39, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 45, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 48, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 54, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 61, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 334px); }

/* line 68, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 69, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 75, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 78, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 86, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 89, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 92, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 108, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 111, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 119, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 123, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 131, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 133, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 140, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 146, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 152, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 159, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 167, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 171, static/scss/base.scss */
  form img[src="/static/scss?730e95db634b"] {
    visibility: hidden; }

/* line 176, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 191, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 197, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 212, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 215, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 220, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  /* line 226, static/scss/base.scss */
  .cards-content,
  .content {
    min-height: calc(100vh - 392px); } }

@media all and (max-width: 600px) {
  /* line 233, static/scss/base.scss */
  body > ul.messages {
    width: 96%;
    right: 0%;
    left: 0;
    bottom: 0;
    border-radius: 0; } }

/* line 3, static/scss/auth.scss */
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/beach-glasses.jpg?4b7f1cfde928") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column; }

/* line 13, static/scss/auth.scss */
h1 {
  margin: 0;
  z-index: 100;
  position: absolute; }
  /* line 17, static/scss/auth.scss */
  h1 img {
    padding: 1rem;
    height: 8rem;
    box-sizing: border-box;
    filter: brightness(0) invert(1); }

/* line 25, static/scss/auth.scss */
.signup,
.login {
  background-color: white;
  display: flex;
  width: 40%;
  border-radius: 10px;
  margin: auto; }
  /* line 32, static/scss/auth.scss */
  .signup .signup-form,
  .login .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px auto; }
    /* line 39, static/scss/auth.scss */
    .signup .signup-form .social-signup,
    .login .signup-form .social-signup {
      display: flex;
      justify-content: space-around;
      margin: 5px 0; }
      /* line 43, static/scss/auth.scss */
      .signup .signup-form .social-signup svg,
      .login .signup-form .social-signup svg {
        width: 75px;
        height: 75px;
        transition: filter 0.4s; }
        /* line 47, static/scss/auth.scss */
        .signup .signup-form .social-signup svg:hover,
        .login .signup-form .social-signup svg:hover {
          filter: brightness(1.25);
          transition: filter 0.4s; }
    /* line 53, static/scss/auth.scss */
    .signup .signup-form form,
    .login .signup-form form {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 15px auto 0; }
      /* line 59, static/scss/auth.scss */
      .signup .signup-form form h2,
      .login .signup-form form h2 {
        font-size: 30px;
        margin: 0;
        display: flex;
        justify-content: center; }
      /* line 65, static/scss/auth.scss */
      .signup .signup-form form p,
      .login .signup-form form p {
        margin: 5px 0; }
        /* line 67, static/scss/auth.scss */
        .signup .signup-form form p input[type="text"],
        .login .signup-form form p input[type="text"] {
          margin: 0; }
      /* line 71, static/scss/auth.scss */
      .signup .signup-form form .name,
      .login .signup-form form .name {
        margin-top: 5px; }
      /* line 74, static/scss/auth.scss */
      .signup .signup-form form #id_password2:invalid + div > .progress,
      .login .signup-form form #id_password2:invalid + div > .progress {
        margin: 0 !important; }
        /* line 76, static/scss/auth.scss */
        .signup .signup-form form #id_password2:invalid + div > .progress > .progress-bar,
        .login .signup-form form #id_password2:invalid + div > .progress > .progress-bar {
          height: 0; }
      /* line 80, static/scss/auth.scss */
      .signup .signup-form form > div:nth-of-type(3),
      .login .signup-form form > div:nth-of-type(3) {
        margin: 0 !important; }
      /* line 83, static/scss/auth.scss */
      .signup .signup-form form .password_strength_info,
      .login .signup-form form .password_strength_info {
        display: none; }
      /* line 86, static/scss/auth.scss */
      .signup .signup-form form .show-password-input,
      .login .signup-form form .show-password-input {
        display: flex;
        align-items: center;
        margin-bottom: 5; }
        /* line 90, static/scss/auth.scss */
        .signup .signup-form form .show-password-input input,
        .login .signup-form form .show-password-input input {
          margin: 0 0 0 5;
          padding: 0;
          height: initial; }
      /* line 96, static/scss/auth.scss */
      .signup .signup-form form .g-recaptcha,
      .login .signup-form form .g-recaptcha {
        display: none; }
      /* line 99, static/scss/auth.scss */
      .signup .signup-form form .errorlist,
      .login .signup-form form .errorlist {
        padding: 0; }
        /* line 101, static/scss/auth.scss */
        .signup .signup-form form .errorlist li,
        .login .signup-form form .errorlist li {
          list-style: none; }
    /* line 106, static/scss/auth.scss */
    .signup .signup-form > p,
    .login .signup-form > p {
      margin: 15px; }
  /* line 110, static/scss/auth.scss */
  .signup a,
  .login a {
    color: #1168d8;
    text-decoration: none; }
  /* line 115, static/scss/auth.scss */
  .signup .right-panel,
  .login .right-panel {
    width: 50%;
    background-image: url("/static/img/beach-glasses.jpg?4b7f1cfde928");
    background-position: center center;
    background-size: cover;
    border-radius: 0 10px 10px 0; }

/* line 127, static/scss/auth.scss */
.login .signup-form form #id_password {
  margin: 0; }

/* line 134, static/scss/auth.scss */
.ctas {
  display: flex;
  flex-direction: column; }
  /* line 137, static/scss/auth.scss */
  .ctas > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  /* line 143, static/scss/auth.scss */
  .ctas p {
    margin: 0; }
  /* line 146, static/scss/auth.scss */
  .ctas a {
    margin-left: 5px; }

/* line 151, static/scss/auth.scss */
.logout {
  width: 30%;
  margin: auto; }
  /* line 154, static/scss/auth.scss */
  .logout .signup-form > * {
    margin: 10px auto; }

/* line 159, static/scss/auth.scss */
.password-reset,
.reset-done-message,
.reset-complete-message {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: auto; }
  /* line 169, static/scss/auth.scss */
  .password-reset h2,
  .reset-done-message h2,
  .reset-complete-message h2 {
    text-align: center; }
  /* line 172, static/scss/auth.scss */
  .password-reset input[type="submit"],
  .reset-done-message input[type="submit"],
  .reset-complete-message input[type="submit"] {
    transition: 0.4s;
    border: solid 1px #1168d8;
    background-color: white;
    color: #1168d8;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; }
    /* line 183, static/scss/auth.scss */
    .password-reset input[type="submit"]:hover,
    .reset-done-message input[type="submit"]:hover,
    .reset-complete-message input[type="submit"]:hover {
      transition: 0.4s;
      filter: brightness(1.1); }
  /* line 188, static/scss/auth.scss */
  .password-reset a,
  .reset-done-message a,
  .reset-complete-message a {
    color: #1168d8;
    text-decoration: none;
    margin: 5 0; }

/* line 195, static/scss/auth.scss */
.reset-complete-message {
  align-items: center; }

/* line 199, static/scss/auth.scss */
.reset-done-message {
  text-align: center; }

/* line 205, static/scss/auth.scss */
.password-reset-confirm-form form br {
  display: none; }

/* line 209, static/scss/auth.scss */
.password-reset-confirm-form form .helptext ul {
  margin: 0 0 10; }

/* line 216, static/scss/auth.scss */
footer {
  display: none; }

/* line 220, static/scss/auth.scss */
.progress-bar {
  height: 8px;
  border-radius: 5px; }
  /* line 223, static/scss/auth.scss */
  .progress-bar.progress-bar-warning {
    background-color: red; }
  /* line 226, static/scss/auth.scss */
  .progress-bar.progress-bar-success {
    background-color: #13af13; }

/* line 231, static/scss/auth.scss */
.hidden {
  display: none; }

@media all and (max-width: 900px) {
  /* line 236, static/scss/auth.scss */
  .signup, .login, .password-reset {
    width: 90%; } }

@media all and (max-height: 850px) {
  /* line 242, static/scss/auth.scss */
  h1 {
    position: initial;
    text-align: center; }
    /* line 246, static/scss/auth.scss */
    h1 a img {
      padding: 0;
      margin: 1rem; } }

@media all and (max-height: 850px) and (max-width: 475px) {
  /* line 256, static/scss/auth.scss */
  h1 img {
    height: 6rem; } }

@media all and (max-width: 400px) {
  /* line 263, static/scss/auth.scss */
  h1 {
    position: initial; }
    /* line 265, static/scss/auth.scss */
    h1 img {
      height: 6rem; }
  /* line 274, static/scss/auth.scss */
  .signup .signup-form form .social-signup a svg, .login .signup-form form .social-signup a svg {
    width: 40px;
    height: 40px; } }

@media all and (max-width: 360px) {
  /* line 287, static/scss/auth.scss */
  h1 img {
    height: 5rem; } }
