/* line 1, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 9, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10000;
    width: 30%;
    /*min-height: 20%;*/
    background-color: #292929;
    padding: 10px;
    margin: 0;
    border-radius: 5px; }
    /* line 20, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 26, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 30, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 33, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 37, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 43, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 46, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 52, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 59, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 291px); }

/* line 66, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 67, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 73, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 76, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 84, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 87, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 90, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 106, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 109, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 117, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 121, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 129, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 131, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 138, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 144, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 150, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 157, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 165, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 169, static/scss/base.scss */
  form img[src="/static/scss?85832ad186f7"] {
    visibility: hidden; }

/* line 174, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 189, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 195, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 210, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 213, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 218, static/scss/base.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  bottom: 0; }
  /* line 225, static/scss/base.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 228, static/scss/base.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; }
    /* line 236, static/scss/base.scss */
    footer ul li a {
      color: #bababa;
      font-size: 20px;
      text-decoration: none; }
      /* line 240, static/scss/base.scss */
      footer ul li a:hover {
        cursor: pointer;
        color: #d6d6d6;
        transition: color 0.2s; }
    /* line 246, static/scss/base.scss */
    footer ul li svg {
      width: 40px;
      height: 40px; }
    /* line 250, static/scss/base.scss */
    footer ul li .pinterest-button {
      /*style added to html*/
      font-size: 50px; }
      /* line 253, static/scss/base.scss */
      footer ul li .pinterest-button svg {
        pointer-events: none; }
    /* line 258, static/scss/base.scss */
    footer ul .contact-us-log-in {
      position: relative; }
      /* line 260, static/scss/base.scss */
      footer ul .contact-us-log-in span {
        width: max-content;
        position: absolute;
        display: none;
        top: 45px;
        right: -110%;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1000; }
      /* line 274, static/scss/base.scss */
      footer ul .contact-us-log-in:hover a {
        cursor: default; }
      /* line 277, static/scss/base.scss */
      footer ul .contact-us-log-in:hover span {
        display: block; }
    /* line 284, static/scss/base.scss */
    footer ul:nth-of-type(2) li:first-of-type {
      margin-top: 0;
      display: flex;
      align-items: center; }
      /* line 288, static/scss/base.scss */
      footer ul:nth-of-type(2) li:first-of-type p {
        margin: 0; }
  /* line 295, static/scss/base.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }

/* line 300, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  /* line 309, static/scss/base.scss */
  footer ul li a, footer ul li p {
    font-size: initial; }
  /* line 314, static/scss/base.scss */
  footer p {
    font-size: initial; }
  /* line 318, static/scss/base.scss */
  .cards-content,
  .content {
    min-height: calc(100vh - 273px); } }

@media all and (max-width: 700px) {
  /* line 325, static/scss/base.scss */
  footer {
    padding: 0 20px; }
    /* line 327, static/scss/base.scss */
    footer ul {
      align-items: initial;
      justify-content: initial; }
    /* line 332, static/scss/base.scss */
    footer .footer-links li {
      flex: 1 1 165px;
      margin: 10px 0; }
    /* line 337, static/scss/base.scss */
    footer .footer-sm {
      position: relative;
      padding-top: 25px; }
      /* line 340, static/scss/base.scss */
      footer .footer-sm li {
        flex: 1 1 105px;
        margin: 10px 0; }
        /* line 343, static/scss/base.scss */
        footer .footer-sm li:first-of-type {
          position: absolute;
          top: 0;
          right: 50%;
          transform: translateX(50%); } }

@media all and (max-width: 600px) {
  /* line 355, static/scss/base.scss */
  body > ul.messages {
    width: 96%;
    right: 0%;
    left: 0;
    bottom: 0;
    border-radius: 0; } }

/* line 3, static/scss/auth.scss */
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/beach-glasses.8448323960a3.jpg?4b7f1cfde928") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column; }

/* line 13, static/scss/auth.scss */
h1 {
  margin: 0;
  z-index: 100;
  position: absolute; }
  /* line 17, static/scss/auth.scss */
  h1 img {
    padding: 1rem;
    height: 8rem;
    box-sizing: border-box;
    filter: brightness(0) invert(1); }

/* line 25, static/scss/auth.scss */
.signup,
.login {
  background-color: white;
  display: flex;
  width: 40%;
  border-radius: 10px;
  margin: auto; }
  /* line 32, static/scss/auth.scss */
  .signup .signup-form,
  .login .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px auto; }
    /* line 39, static/scss/auth.scss */
    .signup .signup-form .social-signup,
    .login .signup-form .social-signup {
      display: flex;
      justify-content: space-around;
      margin: 5px 0; }
      /* line 43, static/scss/auth.scss */
      .signup .signup-form .social-signup svg,
      .login .signup-form .social-signup svg {
        width: 75px;
        height: 75px;
        transition: filter 0.4s; }
        /* line 47, static/scss/auth.scss */
        .signup .signup-form .social-signup svg:hover,
        .login .signup-form .social-signup svg:hover {
          filter: brightness(1.25);
          transition: filter 0.4s; }
    /* line 53, static/scss/auth.scss */
    .signup .signup-form form,
    .login .signup-form form {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 15px auto 0; }
      /* line 59, static/scss/auth.scss */
      .signup .signup-form form h2,
      .login .signup-form form h2 {
        font-size: 30px;
        margin: 0;
        display: flex;
        justify-content: center; }
      /* line 65, static/scss/auth.scss */
      .signup .signup-form form p,
      .login .signup-form form p {
        margin: 5px 0; }
        /* line 67, static/scss/auth.scss */
        .signup .signup-form form p input[type="text"],
        .login .signup-form form p input[type="text"] {
          margin: 0; }
      /* line 71, static/scss/auth.scss */
      .signup .signup-form form .name,
      .login .signup-form form .name {
        margin-top: 5px; }
      /* line 74, static/scss/auth.scss */
      .signup .signup-form form .show-password-input,
      .login .signup-form form .show-password-input {
        display: flex;
        align-items: center; }
        /* line 77, static/scss/auth.scss */
        .signup .signup-form form .show-password-input input,
        .login .signup-form form .show-password-input input {
          margin: 0 0 0 5;
          padding: 0;
          height: initial; }
      /* line 83, static/scss/auth.scss */
      .signup .signup-form form .g-recaptcha,
      .login .signup-form form .g-recaptcha {
        display: none; }
    /* line 87, static/scss/auth.scss */
    .signup .signup-form > p,
    .login .signup-form > p {
      margin: 15px; }
  /* line 91, static/scss/auth.scss */
  .signup a,
  .login a {
    color: #1168d8;
    text-decoration: none; }
  /* line 96, static/scss/auth.scss */
  .signup .right-panel,
  .login .right-panel {
    width: 50%;
    background-image: url("/static/img/beach-glasses.8448323960a3.jpg?4b7f1cfde928");
    background-position: center center;
    background-size: cover;
    border-radius: 0 10px 10px 0; }

/* line 105, static/scss/auth.scss */
.ctas {
  display: flex;
  flex-direction: column; }
  /* line 108, static/scss/auth.scss */
  .ctas > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  /* line 114, static/scss/auth.scss */
  .ctas p {
    margin: 0; }
  /* line 117, static/scss/auth.scss */
  .ctas a {
    margin-left: 5px; }

/* line 122, static/scss/auth.scss */
.logout {
  width: 30%;
  margin: auto; }
  /* line 125, static/scss/auth.scss */
  .logout .signup-form > * {
    margin: 10px auto; }

/* line 130, static/scss/auth.scss */
.password-reset,
.reset-done-message,
.reset-complete-message {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: auto; }
  /* line 140, static/scss/auth.scss */
  .password-reset h2,
  .reset-done-message h2,
  .reset-complete-message h2 {
    text-align: center; }
  /* line 143, static/scss/auth.scss */
  .password-reset input[type="submit"],
  .reset-done-message input[type="submit"],
  .reset-complete-message input[type="submit"] {
    transition: 0.4s;
    border: solid 1px #1168d8;
    background-color: white;
    color: #1168d8;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer; }
    /* line 154, static/scss/auth.scss */
    .password-reset input[type="submit"]:hover,
    .reset-done-message input[type="submit"]:hover,
    .reset-complete-message input[type="submit"]:hover {
      transition: 0.4s;
      filter: brightness(1.1); }
  /* line 159, static/scss/auth.scss */
  .password-reset a,
  .reset-done-message a,
  .reset-complete-message a {
    color: #1168d8;
    text-decoration: none;
    margin: 5 0; }

/* line 166, static/scss/auth.scss */
.reset-done-message {
  text-align: center; }

/* line 170, static/scss/auth.scss */
footer {
  display: none; }

@media all and (max-width: 900px) {
  /* line 175, static/scss/auth.scss */
  .signup, .login, .password-reset {
    width: 90%; } }

@media all and (max-width: 400px) {
  /* line 181, static/scss/auth.scss */
  h1 {
    position: initial; }
    /* line 183, static/scss/auth.scss */
    h1 img {
      height: 6.5rem; }
  /* line 192, static/scss/auth.scss */
  .signup .signup-form form .social-signup a svg, .login .signup-form form .social-signup a svg {
    width: 40px;
    height: 40px; } }

/* line 203, static/scss/auth.scss */
.progress-bar {
  height: 10px; }
  /* line 205, static/scss/auth.scss */
  .progress-bar.progress-bar-warning {
    background-color: red; }
  /* line 208, static/scss/auth.scss */
  .progress-bar.progress-bar-success {
    background-color: greenyellow; }

/* line 213, static/scss/auth.scss */
.hidden {
  display: none; }
