/* line 1, static/scss/header.scss */
header {
  background-color: #1168d8;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0; }
  /* line 8, static/scss/header.scss */
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 12, static/scss/header.scss */
    header nav h1 {
      margin: 0; }
      /* line 14, static/scss/header.scss */
      header nav h1 img {
        padding: 10px;
        height: 75px;
        box-sizing: border-box; }
    /* line 20, static/scss/header.scss */
    header nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      height: 75px; }
      /* line 25, static/scss/header.scss */
      header nav ul a {
        text-decoration: none;
        color: white;
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; }
      /* line 36, static/scss/header.scss */
      header nav ul .profile-toggle {
        color: white; }
        /* line 39, static/scss/header.scss */
        header nav ul .profile-toggle > div {
          display: flex;
          flex-direction: column;
          align-items: center; }
          /* line 43, static/scss/header.scss */
          header nav ul .profile-toggle > div:hover {
            cursor: pointer; }
      /* line 48, static/scss/header.scss */
      header nav ul li {
        list-style: none;
        margin: 0 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px; }
      /* line 58, static/scss/header.scss */
      header nav ul p {
        margin: 0 5px; }
      /* line 61, static/scss/header.scss */
      header nav ul svg {
        width: 25px;
        height: 25px;
        filter: invert(1); }
      /* line 67, static/scss/header.scss */
      header nav ul .logout > span:hover {
        cursor: pointer; }
      /* line 70, static/scss/header.scss */
      header nav ul .logout .show-logout-modal {
        display: flex !important; }
      /* line 73, static/scss/header.scss */
      header nav ul .logout .logout-modal {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center; }
        /* line 83, static/scss/header.scss */
        header nav ul .logout .logout-modal > div {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: white;
          padding: 0 20px;
          border-radius: 5px; }
          /* line 90, static/scss/header.scss */
          header nav ul .logout .logout-modal > div > p {
            margin: 20 0 10; }
          /* line 93, static/scss/header.scss */
          header nav ul .logout .logout-modal > div .logout-buttons {
            display: flex; }
            /* line 95, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons button {
              margin: 0; }
            /* line 98, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons > a {
              margin: 10 0 20;
              width: auto; }
            /* line 102, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons > button {
              margin: 10 0 20;
              color: red;
              border-color: red; }
          /* line 108, static/scss/header.scss */
          header nav ul .logout .logout-modal > div > span {
            position: absolute;
            top: 5px;
            right: 8px;
            color: grey; }
            /* line 113, static/scss/header.scss */
            header nav ul .logout .logout-modal > div > span:hover {
              cursor: pointer; }

/* line 124, static/scss/header.scss */
.sub-header {
  position: fixed;
  z-index: 100;
  top: 125px;
  right: 0px;
  padding: 0;
  border-radius: 5px 5px 0 5px; }

/* line 133, static/scss/header.scss */
.profile-dropdown {
  padding: 0;
  width: 300px;
  text-align: center;
  position: absolute;
  right: -1000px;
  top: 80px;
  opacity: 0;
  /*transition: right 0.4s;*/
  color: black; }
  /* line 143, static/scss/header.scss */
  .profile-dropdown .banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin-bottom: 40px; }
  /* line 150, static/scss/header.scss */
  .profile-dropdown .profile-pic-bg {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    top: 40px;
    left: 100px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    /* line 160, static/scss/header.scss */
    .profile-dropdown .profile-pic-bg .profile-picture {
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: auto;
      display: block; }
  /* line 169, static/scss/header.scss */
  .profile-dropdown > span {
    color: white;
    font-weight: bold;
    top: 5px;
    right: 7px;
    position: absolute; }
    /* line 175, static/scss/header.scss */
    .profile-dropdown > span:hover {
      cursor: pointer; }
  /* line 179, static/scss/header.scss */
  .profile-dropdown p {
    margin: 5px 0;
    padding-bottom: 5px;
    /*border-bottom: solid 1px rgba(192, 191, 191, 0.5);*/ }
  /* line 184, static/scss/header.scss */
  .profile-dropdown ul {
    padding: 0 20px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    height: auto; }
    /* line 190, static/scss/header.scss */
    .profile-dropdown ul a {
      text-decoration: none;
      color: black;
      flex-direction: row; }
    /* line 195, static/scss/header.scss */
    .profile-dropdown ul li {
      margin: 5px 0; }
      /* line 197, static/scss/header.scss */
      .profile-dropdown ul li svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        filter: invert(0); }

/* line 207, static/scss/header.scss */
.show-profile-dropdown {
  opacity: 1;
  right: 5px;
  /*transition: right 0.4s;*/ }

/* line 213, static/scss/header.scss */
.pusher {
  height: 100px; }

@media all and (max-height: 600px) {
  /* line 220, static/scss/header.scss */
  header nav ul {
    margin: 0 10px; } }
