.post {
  margin-top: 20px;
  padding: 0;
  position: relative; }
  .post .post-top {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(192, 191, 191, 0.5); }
    .post .post-top .poster-info {
      width: 100%; }
      .post .post-top .poster-info p:first-of-type {
        margin-bottom: 0; }
      .post .post-top .poster-info p:nth-of-type(2) {
        margin-top: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        max-width: 85%; }
        .post .post-top .poster-info p:nth-of-type(2) > * {
          margin: 0 5; }
        .post .post-top .poster-info p:nth-of-type(2) svg {
          width: 20px; }
        .post .post-top .poster-info p:nth-of-type(2) strong {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
      .post .post-top .poster-info .delete-post {
        position: absolute;
        top: 20px;
        right: 10px; }
        .post .post-top .poster-info .delete-post > button {
          border: none;
          margin: 0;
          padding: 0; }
          .post .post-top .poster-info .delete-post > button svg {
            width: 30px;
            height: 30px; }
  .post .delete-post-form {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: max-content;
    width: max-content;
    z-index: 100;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .post .delete-post-form button {
      padding: 10 16;
      margin: 0;
      color: red;
      border-color: red; }
    .post .delete-post-form span {
      width: 89%;
      transition: 0.4s;
      border: solid 1px #1168d8;
      background-color: white;
      color: #1168d8;
      border-radius: 5px;
      margin: 5px 0;
      padding: 10px 16px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer; }
      .post .delete-post-form span:hover {
        transition: 0.4s;
        filter: brightness(1.1); }
  .post .show-delete-post-form {
    display: flex; }
  .post .profile-picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    object-fit: cover; }
  .post .post-content > p {
    padding: 0 20px;
    overflow-wrap: anywhere; }
  .post .post-content hr {
    margin: 10px; }
  .post .post-content .card, .post .post-content .simple-card {
    margin: auto; }
  .post .post-content .post-stats {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .post .post-content .post-stats > p {
      color: grey;
      font-size: 12px;
      margin: 0;
      padding: 0 10px 0 0; }
    .post .post-content .post-stats span {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-bottom: solid 1px transparent; }
      .post .post-content .post-stats span:first-of-type {
        color: #f30051; }
      .post .post-content .post-stats span:last-of-type {
        color: #1fbf66; }
        .post .post-content .post-stats span:last-of-type:hover {
          cursor: pointer;
          border-bottom: solid 1px #1fbf66; }
      .post .post-content .post-stats span svg {
        height: 15px;
        width: 15px;
        margin-left: 2px; }
  .post .post-content .shared-post {
    margin: 10 15 15 15;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    .post .post-content .shared-post .shared-post-user {
      display: flex;
      align-items: center;
      border-bottom: solid 1px rgba(192, 191, 191, 0.5); }
      .post .post-content .shared-post .shared-post-user .profile-picture {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: 10px;
        object-fit: cover; }
      .post .post-content .shared-post .shared-post-user .shared-post-user-info p:first-of-type {
        margin-bottom: 0; }
      .post .post-content .shared-post .shared-post-user .shared-post-user-info p:nth-of-type(2) {
        margin-top: 0;
        color: grey;
        font-size: 12px; }
    .post .post-content .shared-post .shared-post-text {
      padding: 0 20;
      overflow-wrap: anywhere; }
    .post .post-content .shared-post > a {
      margin: 5 10px;
      text-decoration: none;
      color: #1168d8;
      display: flex;
      justify-content: flex-end; }
  .post .post-bottom hr {
    margin: 5px 10px; }
  .post .post-bottom .post-bottom-like-share {
    display: flex;
    /*justify-content: left;*/
    align-items: center;
    padding: 5px 0; }
    .post .post-bottom .post-bottom-like-share > form, .post .post-bottom .post-bottom-like-share > span, .post .post-bottom .post-bottom-like-share > button {
      width: 100%; }
    .post .post-bottom .post-bottom-like-share > form {
      margin: 0 20px 0 0; }
      .post .post-bottom .post-bottom-like-share > form button {
        width: 100%;
        color: black;
        font-weight: normal;
        text-transform: none;
        font-size: 15px;
        border: solid 1px transparent;
        border-radius: 10px;
        background-color: rgba(192, 191, 191, 0.2);
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        transition: 0.4s; }
        .post .post-bottom .post-bottom-like-share > form button:hover {
          cursor: pointer;
          background-color: rgba(192, 191, 191, 0.5);
          transition: 0.4s; }
        .post .post-bottom .post-bottom-like-share > form button svg {
          width: 20px;
          height: 20px;
          margin-right: 10px; }
    .post .post-bottom .post-bottom-like-share > span,
    .post .post-bottom .post-bottom-like-share > button {
      color: black;
      font-weight: normal;
      text-transform: none;
      font-size: 15px;
      border: solid 1px transparent;
      border-radius: 10px;
      background-color: rgba(192, 191, 191, 0.2);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      transition: 0.4s; }
      .post .post-bottom .post-bottom-like-share > span:hover,
      .post .post-bottom .post-bottom-like-share > button:hover {
        cursor: pointer;
        background-color: rgba(192, 191, 191, 0.5);
        transition: 0.4s; }
      .post .post-bottom .post-bottom-like-share > span svg,
      .post .post-bottom .post-bottom-like-share > button svg {
        width: 20px;
        height: 20px; }
    .post .post-bottom .post-bottom-like-share > span svg {
      margin-right: 10px; }
  .post .post-bottom .comments {
    display: none;
    padding: 0;
    margin-top: 0; }
    .post .post-bottom .comments hr {
      margin: 5px 10px; }
    .post .post-bottom .comments form {
      margin: 0px;
      display: flex;
      align-items: center; }
      .post .post-bottom .comments form textarea {
        margin: 10px 0;
        padding: 10px;
        width: calc(100% - 20px);
        border: solid 1px #aaa !important;
        height: 40px; }
      .post .post-bottom .comments form > button {
        height: 40px;
        margin: 5px; }
    .post .post-bottom .comments li {
      list-style: none;
      margin: 0 0 0 10px;
      display: flex;
      overflow-wrap: anywhere; }
      .post .post-bottom .comments li img {
        margin: 5 10 10 0; }
      .post .post-bottom .comments li .comment-content {
        width: 100%;
        display: flex;
        flex-direction: column; }
        .post .post-bottom .comments li .comment-content > div {
          width: 100%; }
        .post .post-bottom .comments li .comment-content p {
          margin: 5 10 5 0; }
          .post .post-bottom .comments li .comment-content p:first-of-type {
            margin-bottom: 0; }
          .post .post-bottom .comments li .comment-content p:nth-of-type(2) {
            margin-top: 0;
            font-size: 12px;
            color: grey; }
        .post .post-bottom .comments li .comment-content > form {
          width: min-content;
          display: flex; }
          .post .post-bottom .comments li .comment-content > form > button, .post .post-bottom .comments li .comment-content > form > span {
            padding: 0;
            margin: 0;
            font-size: 15px;
            font-weight: normal;
            background: none;
            height: min-content;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center; }
            .post .post-bottom .comments li .comment-content > form > button:first-of-type, .post .post-bottom .comments li .comment-content > form > span:first-of-type {
              margin-right: 5; }
            .post .post-bottom .comments li .comment-content > form > button:hover, .post .post-bottom .comments li .comment-content > form > span:hover {
              cursor: pointer; }
            .post .post-bottom .comments li .comment-content > form > button span, .post .post-bottom .comments li .comment-content > form > span span {
              color: black; }
            .post .post-bottom .comments li .comment-content > form > button .span-liked, .post .post-bottom .comments li .comment-content > form > span .span-liked {
              color: #f30051;
              font-weight: bold; }
            .post .post-bottom .comments li .comment-content > form > button svg, .post .post-bottom .comments li .comment-content > form > span svg {
              margin: 0 0 0 2px;
              height: 15px;
              width: 15px; }
          .post .post-bottom .comments li .comment-content > form .delete-comment-popup {
            display: none; }
            .post .post-bottom .comments li .comment-content > form .delete-comment-popup > * {
              font-size: 10px;
              margin: 0; }
            .post .post-bottom .comments li .comment-content > form .delete-comment-popup button {
              color: red;
              border-color: red;
              margin-right: 5px;
              padding: 3 5; }
              .post .post-bottom .comments li .comment-content > form .delete-comment-popup button.if-mobile {
                display: none; }
            .post .post-bottom .comments li .comment-content > form .delete-comment-popup span {
              transition: 0.4s;
              border: solid 1px #1168d8;
              background-color: white;
              color: #1168d8;
              border-radius: 5px;
              padding: 3 5;
              text-align: center;
              font-weight: bold;
              text-transform: uppercase;
              white-space: nowrap;
              text-decoration: none;
              cursor: pointer; }
              .post .post-bottom .comments li .comment-content > form .delete-comment-popup span:hover {
                transition: 0.4s;
                filter: brightness(1.1); }
          .post .post-bottom .comments li .comment-content > form .show-delete-comment-popup {
            display: flex; }
    .post .post-bottom .comments .all-comments-toggle {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1167d817;
      padding: 10px;
      transition: background-color 0.4s; }
      .post .post-bottom .comments .all-comments-toggle:hover {
        transition: background-color 0.4s;
        background-color: #1167d830;
        cursor: pointer; }
    .post .post-bottom .comments .hidden {
      display: none; }
  .post .post-bottom .comments-toggled {
    display: block; }

.carousel {
  margin: 10px; }
  .carousel .splide__arrows {
    /*
		.splide__arrow--prev{
			left: 2em;
		}
		.splide__arrow--next{
			right: 2em;
		}*/ }
    .carousel .splide__arrows > * {
      top: 55%; }
  .carousel .splide__track .splide__list .splide__slide {
    height: 300px !important; }
  .carousel.hide-arrows .splide__arrows {
    display: none; }

.splide__pagination {
  display: none; }

/*
.splide__list, .splide__slide{
	width: initial !important;
}*/
.splide__slide {
  height: 500px;
  width: 33%; }

.popup .popup-content form textarea {
  margin: 10 0 0 0; }

.popup .popup-content form input:last-of-type {
  margin-top: 18px; }

@media all and (max-width: 525px) {
  .post .post-top .poster-info {
    width: 70%; }
    .post .post-top .poster-info svg {
      width: 80px; }
  .post .post-bottom .comments li .comment-content > form {
    width: 100%; }
    .post .post-bottom .comments li .comment-content > form .delete-comment-popup {
      width: 100%;
      flex-direction: column; }
      .post .post-bottom .comments li .comment-content > form .delete-comment-popup button {
        margin: 0 2.5 2.5 0; }
        .post .post-bottom .comments li .comment-content > form .delete-comment-popup button.if-desktop {
          display: none; }
        .post .post-bottom .comments li .comment-content > form .delete-comment-popup button.if-mobile {
          display: block; }
      .post .post-bottom .comments li .comment-content > form .delete-comment-popup span {
        margin: 2.5 2.5 0 0; } }
