/* line 1, static/scss/profile-edit.scss */
.messages {
  position: fixed;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  left: 20px; }
  /* line 8, static/scss/profile-edit.scss */
  .messages li {
    list-style: none; }

/* line 13, static/scss/profile-edit.scss */
section {
  margin: 10px; }
  /* line 15, static/scss/profile-edit.scss */
  section h2,
  section h3 {
    text-align: center; }

/* line 21, static/scss/profile-edit.scss */
form {
  width: 40%;
  min-height: calc(100% - 316px);
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 27, static/scss/profile-edit.scss */
  form > * {
    width: 100%; }
  /* line 30, static/scss/profile-edit.scss */
  form .select2 {
    width: 100% !important; }
  /* line 34, static/scss/profile-edit.scss */
  form .my-info .tab-titles {
    display: flex;
    justify-content: space-evenly; }
    /* line 37, static/scss/profile-edit.scss */
    form .my-info .tab-titles p {
      border-bottom: solid 2px transparent;
      padding-bottom: 2px;
      user-select: none; }
      /* line 41, static/scss/profile-edit.scss */
      form .my-info .tab-titles p:hover {
        cursor: pointer; }
    /* line 45, static/scss/profile-edit.scss */
    form .my-info .tab-titles .active-tab {
      color: #1168d8;
      border-bottom: solid 2px #1168d8;
      font-weight: bold; }
  /* line 53, static/scss/profile-edit.scss */
  form > input {
    width: calc(100% + 40px);
    font-size: 15px;
    transition: 0.4s;
    border: solid 1px #14750b;
    background-color: white;
    color: #14750b;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer; }
    /* line 66, static/scss/profile-edit.scss */
    form > input:hover {
      transition: 0.4s;
      filter: brightness(1.1); }
  /* line 71, static/scss/profile-edit.scss */
  form svg {
    height: 30px;
    width: 30px; }

/* line 77, static/scss/profile-edit.scss */
.picture,
.cover,
.album {
  width: max-content;
  margin: 5px auto;
  text-align: center; }

/* line 85, static/scss/profile-edit.scss */
.picture-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  /* line 91, static/scss/profile-edit.scss */
  .picture-widget div img {
    width: 200px !important;
    height: 200px !important; }
    /* line 94, static/scss/profile-edit.scss */
    .picture-widget div img:before {
      content: " ";
      display: block;
      position: absolute;
      height: 200px;
      width: 200px;
      background-image: url(/static/img/default-cover.jpeg?4b7f1cfde928);
      background-position: center;
      background-size: cover; }
    /* line 105, static/scss/profile-edit.scss */
    .picture-widget div img:hover {
      cursor: pointer; }
  /* line 109, static/scss/profile-edit.scss */
  .picture-widget div button {
    padding: 8px 10;
    font-size: 10px;
    top: 8px !important;
    right: 8px !important; }

/* line 118, static/scss/profile-edit.scss */
.profile-cover {
  display: flex; }

/* line 125, static/scss/profile-edit.scss */
.picture div img:before {
  background-image: url(/static/img/default-profile.png?4b7f1cfde928); }

/* line 133, static/scss/profile-edit.scss */
.album ul {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px; }
  /* line 138, static/scss/profile-edit.scss */
  .album ul li {
    list-style: none; }

/* line 144, static/scss/profile-edit.scss */
.cancel {
  width: calc(100% + 5px);
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 16px;
  text-decoration: none;
  color: #1168d8;
  border-radius: 5px;
  text-align: center;
  cursor: pointer; }
  /* line 158, static/scss/profile-edit.scss */
  .cancel:hover {
    transition: 0.4s;
    filter: brightness(1.1); }
