/* line 1, static/scss/footer.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden; }
  /* line 6, static/scss/footer.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 9, static/scss/footer.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    /*&:nth-of-type(2) {
			li {
				&:first-of-type {
					margin-top: 0;
					display: flex;
					align-items: center;
					p {
						margin: 0;
					}
				}
			}
		}*/ }
    /* line 14, static/scss/footer.scss */
    footer ul li {
      list-style: none;
      margin: 5px 20px; }
      /* line 17, static/scss/footer.scss */
      footer ul li a {
        color: #bababa;
        font-size: 20px;
        text-decoration: none; }
        /* line 21, static/scss/footer.scss */
        footer ul li a:hover {
          cursor: pointer;
          color: #d6d6d6;
          transition: color 0.2s; }
      /* line 27, static/scss/footer.scss */
      footer ul li svg {
        width: 40px;
        height: 40px; }
  /* line 45, static/scss/footer.scss */
  footer .footer-sm {
    display: flex;
    align-items: center; }
    /* line 48, static/scss/footer.scss */
    footer .footer-sm > p {
      white-space: nowrap; }
    /* line 51, static/scss/footer.scss */
    footer .footer-sm ul {
      width: 100%; }
  /* line 55, static/scss/footer.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 59, static/scss/footer.scss */
  footer .contact-us-log-in {
    position: relative; }
    /* line 61, static/scss/footer.scss */
    footer .contact-us-log-in span {
      width: max-content;
      position: absolute;
      display: none;
      top: 45px;
      right: -110%;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1000; }
    /* line 75, static/scss/footer.scss */
    footer .contact-us-log-in:hover a {
      cursor: default; }
    /* line 78, static/scss/footer.scss */
    footer .contact-us-log-in:hover span {
      display: block; }

@media all and (max-width: 1065px) {
  /* line 88, static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 20%; }
  /* line 92, static/scss/footer.scss */
  footer .footer-sm {
    display: block; } }

@media all and (max-width: 860px) {
  /* line 101, static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 50%; }
  /* line 107, static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 12%; } }

@media all and (max-width: 550px) {
  /* line 119, static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 30%; } }

/* line 3, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 11, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10000;
    width: 30%;
    /*min-height: 20%;*/
    background-color: #292929;
    padding: 10px;
    margin: 0;
    border-radius: 5px; }
    /* line 22, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 28, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 32, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 35, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 39, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 45, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 48, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 54, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 61, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 334px); }

/* line 68, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 69, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 75, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 78, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 86, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 89, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 92, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 108, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 111, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 119, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 123, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 131, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 133, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 140, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 146, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 152, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 159, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 167, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 171, static/scss/base.scss */
  form img[src="/static/scss?730e95db634b"] {
    visibility: hidden; }

/* line 176, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 191, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 197, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 212, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 215, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 220, static/scss/base.scss */
.active-filter {
  background-color: #1168d8;
  color: white; }

/* line 225, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  /* line 231, static/scss/base.scss */
  .cards-content,
  .content {
    min-height: calc(100vh - 392px); } }

@media all and (max-width: 600px) {
  /* line 238, static/scss/base.scss */
  body > ul.messages {
    width: 96%;
    right: 0%;
    left: 0;
    bottom: 0;
    border-radius: 0; } }

/* line 1, static/scss/popup.scss */
.popup {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4); }
  /* line 11, static/scss/popup.scss */
  .popup.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  /* line 17, static/scss/popup.scss */
  .popup .popup-content {
    background: white;
    border-radius: 5px;
    padding: 20px; }
  /* line 22, static/scss/popup.scss */
  .popup .popup-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px; }
  /* line 28, static/scss/popup.scss */
  .popup form {
    height: initial;
    display: block; }
    /* line 31, static/scss/popup.scss */
    .popup form > button {
      border-color: red;
      color: red;
      width: 100%; }
    /* line 36, static/scss/popup.scss */
    .popup form input[type="submit"] {
      transition: 0.4s;
      border: solid 1px #1168d8;
      background-color: white;
      color: #1168d8;
      border-radius: 5px;
      margin: 5px 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer; }
      /* line 50, static/scss/popup.scss */
      .popup form input[type="submit"]:hover {
        transition: 0.4s;
        filter: brightness(1.1); }
  /* line 56, static/scss/popup.scss */
  .popup #id_picture {
    visibility: hidden;
    position: absolute; }
  /* line 60, static/scss/popup.scss */
  .popup .popup-buttons {
    display: flex; }
    /* line 63, static/scss/popup.scss */
    .popup .popup-buttons button:first-of-type {
      margin-right: 5px;
      color: red;
      border: solid 1px red !important;
      transition: 0.4s;
      background-color: white;
      border-radius: 5px;
      margin: 5px 0;
      padding: 10px 16px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer; }
      /* line 77, static/scss/popup.scss */
      .popup .popup-buttons button:first-of-type:hover {
        transition: 0.4s;
        filter: brightness(1.1); }
    /* line 82, static/scss/popup.scss */
    .popup .popup-buttons button:last-of-type {
      margin-left: 5px;
      color: green;
      border: solid 1px green !important; }

@media all and (max-height: 600px) {
  /* line 92, static/scss/popup.scss */
  .popup {
    padding: 10px 20px; }
    /* line 94, static/scss/popup.scss */
    .popup .popup-title {
      font-size: 20px;
      margin: 10px 0; } }

/* line 1, static/scss/header.scss */
header {
  background-color: #1168d8;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0; }
  /* line 8, static/scss/header.scss */
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    /* line 12, static/scss/header.scss */
    header nav h1 {
      margin: 0; }
      /* line 14, static/scss/header.scss */
      header nav h1 img {
        padding: 10px;
        height: 75px;
        box-sizing: border-box; }
    /* line 20, static/scss/header.scss */
    header nav ul {
      display: flex;
      margin: 0;
      padding: 0;
      height: 75px; }
      /* line 25, static/scss/header.scss */
      header nav ul li {
        list-style: none;
        margin: 0 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px; }
        /* line 34, static/scss/header.scss */
        header nav ul li a,
        header nav ul li > span {
          position: relative;
          text-decoration: none;
          color: white;
          text-align: center;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center; }
        /* line 48, static/scss/header.scss */
        header nav ul li .notifications:hover {
          cursor: pointer; }
      /* line 53, static/scss/header.scss */
      header nav ul .profile-toggle {
        color: white; }
        /* line 56, static/scss/header.scss */
        header nav ul .profile-toggle > div {
          display: flex;
          flex-direction: column;
          align-items: center; }
          /* line 60, static/scss/header.scss */
          header nav ul .profile-toggle > div:hover {
            cursor: pointer; }
      /* line 66, static/scss/header.scss */
      header nav ul .nav-button svg, header nav ul .nav-button p {
        display: none; }
      /* line 69, static/scss/header.scss */
      header nav ul .nav-button .notification {
        display: block;
        right: -9px; }
      /* line 74, static/scss/header.scss */
      header nav ul p {
        margin: 0 5px; }
      /* line 77, static/scss/header.scss */
      header nav ul svg {
        width: 25px;
        height: 25px;
        filter: invert(1); }
      /* line 83, static/scss/header.scss */
      header nav ul .logout > span:hover {
        cursor: pointer; }
      /* line 86, static/scss/header.scss */
      header nav ul .logout .show-logout-modal {
        display: flex !important; }
      /* line 89, static/scss/header.scss */
      header nav ul .logout .logout-modal {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 100000;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center; }
        /* line 100, static/scss/header.scss */
        header nav ul .logout .logout-modal > div {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: white;
          padding: 0 20px;
          border-radius: 5px; }
          /* line 107, static/scss/header.scss */
          header nav ul .logout .logout-modal > div > p {
            margin: 20 0 10; }
          /* line 110, static/scss/header.scss */
          header nav ul .logout .logout-modal > div .logout-buttons {
            display: flex;
            justify-content: center; }
            /* line 113, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons button {
              margin: 0;
              height: min-content; }
            /* line 117, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons > a {
              margin: 10 5 20 0;
              width: auto;
              height: min-content; }
            /* line 122, static/scss/header.scss */
            header nav ul .logout .logout-modal > div .logout-buttons > button {
              margin: 10 0 20 5;
              color: red;
              border-color: red; }
          /* line 128, static/scss/header.scss */
          header nav ul .logout .logout-modal > div > span {
            position: absolute;
            top: 5px;
            right: 8px;
            color: grey; }
            /* line 133, static/scss/header.scss */
            header nav ul .logout .logout-modal > div > span:hover {
              cursor: pointer; }
    /* line 141, static/scss/header.scss */
    header nav #nav-hamburger {
      display: none;
      height: 60px;
      width: 45px;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer; }
      /* line 149, static/scss/header.scss */
      header nav #nav-hamburger span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out; }
        /* line 160, static/scss/header.scss */
        header nav #nav-hamburger span:nth-child(1) {
          top: 30%; }
        /* line 163, static/scss/header.scss */
        header nav #nav-hamburger span:nth-child(2), header nav #nav-hamburger span:nth-child(3) {
          top: 50%; }
        /* line 167, static/scss/header.scss */
        header nav #nav-hamburger span:nth-child(4) {
          top: 70%; }
    /* line 174, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(1) {
      top: 30%;
      width: 0%;
      left: 50%; }
    /* line 179, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(2) {
      transform: rotate(45deg); }
    /* line 182, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(3) {
      transform: rotate(-45deg); }
    /* line 185, static/scss/header.scss */
    header nav #nav-hamburger.open-hamburger span:nth-child(4) {
      top: 70%;
      width: 0%;
      left: 50%; }

/* line 195, static/scss/header.scss */
.notification-panel {
  position: absolute;
  max-height: 400px;
  width: 300px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 50;
  right: -1000px;
  top: 80px;
  opacity: 0; }
  /* line 207, static/scss/header.scss */
  .notification-panel > span {
    position: absolute;
    top: 5px;
    right: 5px;
    color: grey;
    font-weight: bold; }
    /* line 213, static/scss/header.scss */
    .notification-panel > span:hover {
      cursor: pointer; }
  /* line 217, static/scss/header.scss */
  .notification-panel > p {
    margin: 5px 0 5px 5px; }
  /* line 220, static/scss/header.scss */
  .notification-panel h4 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 5px; }
  /* line 225, static/scss/header.scss */
  .notification-panel hr {
    margin: 0; }
  /* line 228, static/scss/header.scss */
  .notification-panel .notification-feed {
    padding: 0;
    flex-direction: column;
    height: max-content; }
    /* line 232, static/scss/header.scss */
    .notification-panel .notification-feed li {
      position: relative;
      list-style: none;
      padding: 10px;
      margin: 0;
      border-radius: 0;
      transition: background-color 0.4s; }
      /* line 239, static/scss/header.scss */
      .notification-panel .notification-feed li:hover {
        background-color: gainsboro;
        transition: background-color 0.4s; }
      /* line 243, static/scss/header.scss */
      .notification-panel .notification-feed li a {
        text-decoration: none;
        color: inherit;
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        width: 100%; }
        /* line 250, static/scss/header.scss */
        .notification-panel .notification-feed li a img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px; }
        /* line 256, static/scss/header.scss */
        .notification-panel .notification-feed li a .notification-info {
          width: calc(100% - 60px); }
          /* line 258, static/scss/header.scss */
          .notification-panel .notification-feed li a .notification-info p {
            width: 100%; }
          /* line 261, static/scss/header.scss */
          .notification-panel .notification-feed li a .notification-info .preview {
            font-size: 12.5px;
            color: grey;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          /* line 268, static/scss/header.scss */
          .notification-panel .notification-feed li a .notification-info .notification-time {
            font-style: oblique; }
      /* line 273, static/scss/header.scss */
      .notification-panel .notification-feed li .unread-notification-bubble {
        display: none; }
    /* line 277, static/scss/header.scss */
    .notification-panel .notification-feed .unread-notification {
      background-color: #1167d80e;
      align-items: flex-start; }
      /* line 280, static/scss/header.scss */
      .notification-panel .notification-feed .unread-notification a {
        width: 90%; }
      /* line 283, static/scss/header.scss */
      .notification-panel .notification-feed .unread-notification .unread-notification-bubble {
        display: block;
        position: absolute;
        right: 10px;
        top: 40%;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #1168d8; }
    /* line 294, static/scss/header.scss */
    .notification-panel .notification-feed hr {
      width: 99%;
      margin: 0; }

/* line 301, static/scss/header.scss */
.profile-dropdown {
  padding: 0;
  width: 300px;
  text-align: center;
  position: absolute;
  right: -1000px;
  top: 80px;
  opacity: 0;
  z-index: 100;
  /*transition: right 0.4s;*/
  color: black; }
  /* line 312, static/scss/header.scss */
  .profile-dropdown .banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin-bottom: 40px; }
  /* line 319, static/scss/header.scss */
  .profile-dropdown .profile-pic-bg {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
    /* line 330, static/scss/header.scss */
    .profile-dropdown .profile-pic-bg .profile-picture {
      object-fit: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: auto;
      display: block; }
  /* line 339, static/scss/header.scss */
  .profile-dropdown > span {
    color: white;
    font-weight: bold;
    top: 5px;
    right: 7px;
    position: absolute; }
    /* line 345, static/scss/header.scss */
    .profile-dropdown > span:hover {
      cursor: pointer; }
  /* line 349, static/scss/header.scss */
  .profile-dropdown p {
    margin: 5px 0;
    padding-bottom: 5px;
    /*border-bottom: solid 1px rgba(192, 191, 191, 0.5);*/ }
  /* line 354, static/scss/header.scss */
  .profile-dropdown ul {
    padding: 0 20px;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    height: auto; }
    /* line 360, static/scss/header.scss */
    .profile-dropdown ul a {
      text-decoration: none;
      color: black;
      flex-direction: row; }
    /* line 365, static/scss/header.scss */
    .profile-dropdown ul li {
      margin: 5px 0; }
      /* line 367, static/scss/header.scss */
      .profile-dropdown ul li svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        filter: invert(0); }

/* line 377, static/scss/header.scss */
.show-dropdown {
  opacity: 1;
  right: 5px;
  /*transition: right 0.4s;*/ }

/* line 383, static/scss/header.scss */
.pusher {
  height: 75px; }

@media all and (max-width: 1095px) {
  /* line 389, static/scss/header.scss */
  header nav {
    position: relative; }
    /* line 391, static/scss/header.scss */
    header nav .logo {
      position: absolute;
      left: 0;
      top: 0; }
    /* line 397, static/scss/header.scss */
    header nav ul li {
      display: none; }
    /* line 401, static/scss/header.scss */
    header nav ul.open-menu {
      width: 100%;
      margin: auto;
      margin-top: 75px;
      justify-content: center; }
      /* line 406, static/scss/header.scss */
      header nav ul.open-menu li {
        float: none;
        display: flex;
        text-align: left; }
    /* line 412, static/scss/header.scss */
    header nav #nav-hamburger {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      margin: 7.5px 15px 0 0; }
  /* line 420, static/scss/header.scss */
  header .show-dropdown {
    top: 100%; } }

@media all and (max-width: 890px) {
  /* line 429, static/scss/header.scss */
  header nav ul.open-menu {
    height: max-content;
    flex-wrap: wrap; }
    /* line 432, static/scss/header.scss */
    header nav ul.open-menu > li {
      margin: 10px;
      flex: 1 1 160px;
      height: auto; }
      /* line 438, static/scss/header.scss */
      header nav ul.open-menu > li > a svg,
      header nav ul.open-menu > li > div svg, header nav ul.open-menu > li > span svg {
        height: 35px;
        width: 35px;
        flex-shrink: 0; }
    /* line 446, static/scss/header.scss */
    header nav ul.open-menu .nav-button button {
      display: none; }
    /* line 449, static/scss/header.scss */
    header nav ul.open-menu .nav-button svg, header nav ul.open-menu .nav-button p {
      display: block; }
  /* line 456, static/scss/header.scss */
  header .profile-dropdown .profile-links {
    flex-direction: row;
    flex-wrap: wrap; }
    /* line 459, static/scss/header.scss */
    header .profile-dropdown .profile-links > li {
      flex: 1 1 150px;
      margin: 5px 10px; }
      /* line 462, static/scss/header.scss */
      header .profile-dropdown .profile-links > li a {
        flex-direction: row;
        min-width: 105px;
        min-height: 30px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
  /* line 472, static/scss/header.scss */
  header .profile-dropdown > span {
    font-size: 30px; }
  /* line 476, static/scss/header.scss */
  header .show-dropdown {
    top: 0;
    width: 75%;
    right: 50%;
    transform: translateX(53%);
    box-shadow: 20px 20px 0px 2000px rgba(0, 0, 0, 0.2); }
  /* line 484, static/scss/header.scss */
  .notification {
    right: 30% !important;
    top: -10px !important; } }

@media all and (max-width: 600px) {
  /* line 495, static/scss/header.scss */
  header nav ul.open-menu li {
    margin: 15px; } }

@media all and (max-width: 506px) {
  /* line 506, static/scss/header.scss */
  header .profile-dropdown .profile-pic-bg {
    top: 6%; } }

@media all and (max-width: 400px) {
  /* line 517, static/scss/header.scss */
  header nav ul.open-menu li {
    flex: 1 1 80px; }
  /* line 523, static/scss/header.scss */
  .notification {
    right: 15% !important; } }

/* line 5, static/scss/profile.scss */
section {
  padding-top: 5px; }

/* line 9, static/scss/profile.scss */
.profile {
  display: grid;
  grid-gap: 15px;
  grid-template-areas: "profile-top profile-top" "about future-trips" "album past-trips" "contacts contacts";
  grid-template-columns: 420px 820px;
  margin: auto auto 25px;
  width: 1255px;
  position: relative; }
  /* line 21, static/scss/profile.scss */
  .profile h2 {
    margin-top: 10px; }
  /* line 25, static/scss/profile.scss */
  .profile .profile-top {
    grid-area: profile-top;
    padding: 0;
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto auto 25px; }
    /* line 32, static/scss/profile.scss */
    .profile .profile-top .banner {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: brightness(0.8); }
    /* line 38, static/scss/profile.scss */
    .profile .profile-top .profile-pic-bg {
      background: white;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      position: absolute;
      display: flex;
      bottom: -17%;
      left: 12px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
      /* line 48, static/scss/profile.scss */
      .profile .profile-top .profile-pic-bg .profile-picture {
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: auto;
        display: block; }
    /* line 57, static/scss/profile.scss */
    .profile .profile-top p {
      position: absolute;
      bottom: -30px;
      left: 200px;
      font-size: 40px;
      color: white;
      max-width: 65%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  /* line 70, static/scss/profile.scss */
  .profile .about-me {
    grid-area: about; }
    /* line 72, static/scss/profile.scss */
    .profile .about-me .practical-info {
      width: 100%; }
      /* line 74, static/scss/profile.scss */
      .profile .about-me .practical-info .flag {
        margin-right: 5px;
        position: relative;
        max-width: calc(100% - 55px); }
        /* line 78, static/scss/profile.scss */
        .profile .about-me .practical-info .flag svg {
          position: absolute;
          right: -60px;
          top: 50%;
          margin-top: -20px;
          width: 55px;
          flex-shrink: 0;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }
      /* line 89, static/scss/profile.scss */
      .profile .about-me .practical-info .sex svg {
        width: 15px;
        height: 15px;
        margin-left: 5px; }
    /* line 96, static/scss/profile.scss */
    .profile .about-me hr {
      margin: 0 10px; }
      /* line 98, static/scss/profile.scss */
      .profile .about-me hr:nth-last-child(1) {
        display: none; }
      /* line 101, static/scss/profile.scss */
      .profile .about-me hr:nth-last-child(2) {
        display: none; }
    /* line 107, static/scss/profile.scss */
    .profile .about-me .description span svg {
      height: 20px;
      width: 20px; }
    /* line 111, static/scss/profile.scss */
    .profile .about-me .description span:last-of-type {
      float: right;
      transform: scaleX(-1) scaleY(-1); }
    /* line 116, static/scss/profile.scss */
    .profile .about-me .description p {
      text-align: center;
      margin: 0; }
  /* line 123, static/scss/profile.scss */
  .profile .album {
    grid-area: album; }
    /* line 125, static/scss/profile.scss */
    .profile .album .album-pictures {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      grid-template-rows: 50% 50%;
      height: 250px; }
      /* line 131, static/scss/profile.scss */
      .profile .album .album-pictures img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px; }
  /* line 140, static/scss/profile.scss */
  .profile .contacts {
    grid-area: contacts; }
    /* line 142, static/scss/profile.scss */
    .profile .contacts .simple-card {
      margin: 10px auto; }
  /* line 147, static/scss/profile.scss */
  .profile .future-trips, .profile .past-trips {
    grid-area: future-trips;
    /*h2 {
			margin-left: 5px;
		}*/ }
    /* line 152, static/scss/profile.scss */
    .profile .future-trips ul, .profile .past-trips ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      /*.card {
				margin: 0;
			}*/ }
  /* line 162, static/scss/profile.scss */
  .profile .future-trips {
    grid-area: future-trips; }
  /* line 166, static/scss/profile.scss */
  .profile .past-trips {
    grid-area: past-trips; }
  /* line 170, static/scss/profile.scss */
  .profile .profile-actions {
    position: absolute;
    right: 15px;
    top: 145px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px; }
    /* line 180, static/scss/profile.scss */
    .profile .profile-actions > a button,
    .profile .profile-actions > button {
      border: none;
      padding: 0;
      background: transparent;
      height: fit-content;
      margin: 0 5px; }
    /* line 188, static/scss/profile.scss */
    .profile .profile-actions svg {
      width: 30px;
      height: 30px; }
    /* line 192, static/scss/profile.scss */
    .profile .profile-actions .like-fav {
      display: flex; }
      /* line 194, static/scss/profile.scss */
      .profile .profile-actions .like-fav button {
        border: none;
        padding: 0;
        background: transparent;
        height: fit-content;
        margin: 0 5px; }
      /* line 201, static/scss/profile.scss */
      .profile .profile-actions .like-fav svg {
        width: 30px;
        height: 30px; }

/* line 212, static/scss/profile.scss */
.popup .popup-content form textarea {
  margin: 10 0 0 0; }

/* line 216, static/scss/profile.scss */
.popup .popup-content form input:last-of-type {
  margin-top: 18px; }

@media all and (max-width: 1300px) {
  /* line 225, static/scss/profile.scss */
  .profile {
    width: 830px;
    grid-template-columns: 420px 430px; }
    /* line 229, static/scss/profile.scss */
    .profile .profile-top p {
      max-width: 55%; } }

@media all and (max-width: 1000px) {
  /* line 237, static/scss/profile.scss */
  .profile {
    grid-template-areas: "profile-top" "about" "album" "contacts" "future-trips" "past-trips";
    grid-template-columns: auto;
    width: 95%; }
    /* line 247, static/scss/profile.scss */
    .profile .profile-top p {
      max-width: 48%; } }

@media all and (max-width: 800px) {
  /* line 257, static/scss/profile.scss */
  .profile .profile-top .profile-actions {
    top: 10px; }
  /* line 260, static/scss/profile.scss */
  .profile .profile-top p {
    max-width: 66%; } }

@media all and (max-width: 600px) {
  /* line 268, static/scss/profile.scss */
  .profile {
    width: 100%; }
    /* line 270, static/scss/profile.scss */
    .profile .profile-top {
      margin: auto auto 80px; }
      /* line 272, static/scss/profile.scss */
      .profile .profile-top .profile-pic-bg {
        left: 50%;
        transform: translateX(-50%); }
      /* line 276, static/scss/profile.scss */
      .profile .profile-top p {
        text-align: center;
        width: 100%;
        max-width: 100%;
        left: auto;
        color: black;
        bottom: -100px; }
    /* line 285, static/scss/profile.scss */
    .profile section {
      padding: 5;
      border-radius: 0; }
      /* line 288, static/scss/profile.scss */
      .profile section h2 {
        margin: 10px; }
      /* line 291, static/scss/profile.scss */
      .profile section p {
        margin: 10px; }
    /* line 298, static/scss/profile.scss */
    .profile .about-me .practical-info .flag svg {
      right: -40px; }
    /* line 305, static/scss/profile.scss */
    .profile .future-trips > ul, .profile .past-trips > ul {
      justify-content: center; }
      /* line 307, static/scss/profile.scss */
      .profile .future-trips > ul .card, .profile .past-trips > ul .card {
        margin: 5 0; } }
