/* line 1, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px; }

/* line 9, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 17, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 18, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 27, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 30, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 38, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 41, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 44, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 60, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 63, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 71, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 75, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 83, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 85, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 92, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 98, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 104, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 111, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 119, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 123, static/scss/base.scss */
  form img[src="/static/scss?09e1318b19e6"] {
    visibility: hidden; }

/* line 128, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 143, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 149, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 164, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 167, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 2, static/scss/request-card.scss */
.request-card {
  height: 235px;
  width: 380px;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  /* line 12, static/scss/request-card.scss */
  .request-card .card-top {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%), url("/static/img/clouds.jpg?4b7f1cfde928") left no-repeat;
    background-size: cover;
    color: white;
    border-radius: 5px 5px 0 0; }
    /* line 26, static/scss/request-card.scss */
    .request-card .card-top svg {
      height: 20px;
      width: 20px;
      margin-right: 5px;
      filter: invert(1); }
  /* line 34, static/scss/request-card.scss */
  .request-card .card-content {
    display: flex;
    align-items: center;
    height: calc(100% - 70px);
    padding: 10px 10px 5px;
    margin: 0 10px; }
    /* line 40, static/scss/request-card.scss */
    .request-card .card-content img {
      border-radius: 5px;
      width: 110px;
      height: 110px;
      object-fit: cover; }
    /* line 46, static/scss/request-card.scss */
    .request-card .card-content .sender-info {
      margin-left: 10px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      /* line 54, static/scss/request-card.scss */
      .request-card .card-content .sender-info p:first-of-type {
        margin-top: 3px; }
      /* line 57, static/scss/request-card.scss */
      .request-card .card-content .sender-info p:last-of-type {
        height: 100%;
        width: 100%; }
  /* line 65, static/scss/request-card.scss */
  .request-card .request-actions {
    margin: 5px 10px 10px;
    display: flex;
    width: 90%;
    align-self: center;
    justify-content: space-evenly;
    align-items: center; }
    /* line 73, static/scss/request-card.scss */
    .request-card .request-actions form {
      display: contents; }
    /* line 76, static/scss/request-card.scss */
    .request-card .request-actions button {
      border: none;
      background-color: #1167d817;
      border-radius: 25px;
      padding: 15px 20px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none; }
      /* line 86, static/scss/request-card.scss */
      .request-card .request-actions button svg {
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0; }
