/* line 5, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.pusher {
  height: 80px !important; }

/* line 9, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.cards-content {
  padding: 0;
  min-height: calc(100vh - 339px); }

/* line 14, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.filters {
  max-width: 325px;
  grid-area: filters;
  position: initial;
  /*to remove*/ }
  /* line 19, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .filters h2 {
    font-size: 1.5em; }
  /* line 22, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .filters form {
    max-width: 325px; }
  /* line 25, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .filters .filter-by {
    margin-top: 5px;
    /*.errorlist {
			padding: 0;
			color: grey;
			li {
				list-style: none;
			}
		}*/ }
    /* line 34, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by .city-country-search {
      align-items: center;
      margin-bottom: 5px; }
      /* line 37, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .filter-by .city-country-search .select2 {
        width: 100% !important; }
      /* line 40, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .filter-by .city-country-search input[type="checkbox"] {
        display: inline-block;
        visibility: hidden;
        width: 0;
        height: 0; }
        /* line 45, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"] + label {
          cursor: pointer;
          text-indent: -9999px;
          width: 30px;
          height: 15px;
          background: #1168d8;
          border-radius: 10px;
          display: inline-block;
          position: relative; }
          /* line 54, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
          .filters .filter-by .city-country-search input[type="checkbox"] + label:after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            width: 15px;
            height: 15px;
            background: #fff;
            border-radius: 10px;
            transition: 0.3s; }
        /* line 67, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"]:checked ~ #id_destination {
          display: none; }
          /* line 69, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
          .filters .filter-by .city-country-search input[type="checkbox"]:checked ~ #id_destination + .select2 {
            display: none; }
        /* line 73, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"]:checked + label {
          background: #1168d8; }
          /* line 75, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
          .filters .filter-by .city-country-search input[type="checkbox"]:checked + label:after {
            transform: translateX(16px); }
        /* line 80, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"]:not(:checked) ~ #id_country {
          display: none; }
          /* line 82, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
          .filters .filter-by .city-country-search input[type="checkbox"]:not(:checked) ~ #id_country + .select2 {
            display: none; }
        /* line 86, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"] + label::after {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: transform 0.4s; }
    /* line 98, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by form .advanced-filters,
    .filters .filter-by form .lucky {
      max-height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: 0.4s;
      position: relative; }
    /* line 106, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by #advanced-switch,
    .filters .filter-by #lucky-switch {
      cursor: pointer;
      visibility: hidden;
      height: 0;
      margin: 0; }
      /* line 112, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .filter-by #advanced-switch + label,
      .filters .filter-by #lucky-switch + label {
        cursor: pointer;
        display: block;
        margin-bottom: 10px;
        transition: 0.4s;
        border: solid 1px #1168d8;
        background-color: white;
        color: #1168d8;
        border-radius: 5px;
        margin: 5px 0;
        padding: 10px 16px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        text-decoration: none; }
        /* line 128, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .filter-by #advanced-switch + label svg,
        .filters .filter-by #lucky-switch + label svg {
          transition: transform 0.4s;
          height: 10px;
          width: 10px;
          filter: invert(26%) sepia(95%) saturate(1936%) hue-rotate(204deg) brightness(92%) contrast(90%); }
    /* line 138, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by #lucky-switch + label {
      border-color: #43a5a8;
      background-color: #43a5a8;
      color: white; }
      /* line 142, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .filter-by #lucky-switch + label svg {
        filter: invert(1); }
    /* line 148, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by #advanced-switch:checked + label svg {
      transform: scaleY(-1); }
    /* line 151, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by #advanced-switch:checked ~ .advanced-filters {
      visibility: visible;
      max-height: 1000px; }
    /* line 157, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by #lucky-switch:checked + label svg {
      transform: scaleY(-1); }
    /* line 160, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by #lucky-switch:checked ~ .lucky {
      visibility: visible;
      max-height: 1000px; }
    /* line 166, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by .lucky {
      transition: 0.4s; }
      /* line 168, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .filter-by .lucky ul {
        padding: 0;
        margin-bottom: 0; }
        /* line 171, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .filter-by .lucky ul li {
          list-style: none; }
          /* line 173, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
          .filters .filter-by .lucky ul li button {
            white-space: normal; }
    /* line 179, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by #slider-range {
      margin: 10px 10px 15px; }
    /* line 182, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by .smoker {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      /* line 186, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .filter-by .smoker input {
        margin: 0 5px;
        height: 13px;
        width: 13px; }
    /* line 192, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by .covid {
      margin: 10px 0; }
    /* line 195, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .filter-by button {
      width: 100%; }
      /* line 197, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .filter-by button[type="submit"] {
        background-color: #1168d8;
        color: white; }

/* line 205, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.card-section {
  grid-area: card-section;
  min-height: 515px;
  height: max-content;
  position: relative;
  width: 1200px; }
  /* line 211, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .card-section .card-section-title {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px; }
    /* line 215, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .card-section .card-section-title p {
      margin: 0;
      color: grey;
      text-align: center;
      user-select: none;
      display: flex;
      align-items: center; }
      /* line 222, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .card-section .card-section-title p:hover {
        cursor: pointer; }
    /* line 226, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .card-section .card-section-title .unclickable:hover {
      cursor: not-allowed; }
    /* line 229, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .card-section .card-section-title hr {
      width: auto;
      margin: initial; }
  /* line 234, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .card-section .cards-list {
    flex-direction: column; }
    /* line 236, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .card-section .cards-list > p {
      margin: 10px; }
    /* line 239, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .card-section .cards-list ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap; }
      /* line 244, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .card-section .cards-list ul li {
        list-style: none; }
        /* line 246, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .card-section .cards-list ul li.empty-search {
          margin: 10px; }
          /* line 249, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
          .card-section .cards-list ul li.empty-search p:first-of-type {
            margin-top: 0; }
      /* line 255, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .card-section .cards-list ul.nonfield {
        margin: 10px;
        display: none; }
  /* line 261, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .card-section .local-map,
  .card-section .destination-map {
    width: 97%;
    max-width: 1200px;
    margin: auto;
    top: 0;
    position: absolute;
    visibility: hidden; }

/* line 272, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.filters-toggle {
  position: initial; }

/* line 276, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.active-tab {
  color: black !important;
  font-weight: bold; }

/* line 281, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.additional-information {
  grid-area: additional-information;
  padding: 10px; }

/* line 286, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
.show {
  display: block; }

/*@media all and (max-width: 1630px) {
	.cards-content {
		.search-content {
			.card-section,
			.additional-information {
				width: 800px;
			}
		}
	}
}

@media all and (max-width: 1220px) {
	.cards-content {
		.search-content {
			.card-section,
			.additional-information {
				width: 400px;
			}
		}
	}
}*/
@media all and (max-width: 1065px) {
  /* line 329, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .cards-content {
    min-height: calc(100% - 397px); } }

@media all and (max-width: 835px) {
  /* line 335, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .cards-content {
    flex-direction: column;
    justify-content: initial;
    padding: 0; }
    /* line 339, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .cards-content .card-section {
      min-width: 0;
      margin: 10 0 0;
      padding: 10 0;
      width: 100% !important;
      justify-content: center; }
      /* line 346, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .cards-content .card-section .card-and-actions .card {
        margin: 5 0; }
  /* line 352, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .filters {
    max-width: initial;
    margin: 0; }
    /* line 355, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .filters .my-trips-cards,
    .filters .my-contacts,
    .filters .filter-by {
      display: block;
      width: 100%; }
      /* line 360, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
      .filters .my-trips-cards form,
      .filters .my-contacts form,
      .filters .filter-by form {
        width: 100%;
        max-width: initial; }
        /* line 364, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .my-trips-cards form .city-country-search .select2,
        .filters .my-contacts form .city-country-search .select2,
        .filters .filter-by form .city-country-search .select2 {
          width: 100% !important; }
        /* line 369, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
        .filters .my-trips-cards form .advanced-filters .select2,
        .filters .my-contacts form .advanced-filters .select2,
        .filters .filter-by form .advanced-filters .select2 {
          width: 100% !important; }
  /* line 377, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .search-content .card-section {
    min-height: initial; }
    /* line 380, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
    .search-content .card-section .cards-list > ul {
      justify-content: center; }
  /* line 385, d:/cogoflydjango/cogo-fly/static/scss/search.scss */
  .search-content .additional-information {
    width: initial;
    margin: 10 0; } }
