/* line 1, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 9, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    width: 50%;
    background-color: #141414;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 5px 5px; }
    /* line 20, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 26, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 30, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 33, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 37, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 43, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 46, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 52, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 59, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 291px); }

/* line 66, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 67, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 76, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 79, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 87, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 90, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 93, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 109, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 112, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 120, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 124, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 132, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 134, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 141, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 147, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 153, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 160, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 168, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 172, static/scss/base.scss */
  form img[src="/static/scss?e0a57e07546c"] {
    visibility: hidden; }

/* line 177, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 192, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 198, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 213, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 216, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 221, static/scss/base.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  bottom: 0; }
  /* line 228, static/scss/base.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 231, static/scss/base.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; }
    /* line 239, static/scss/base.scss */
    footer ul li a {
      color: #bababa;
      font-size: 20px;
      text-decoration: none; }
      /* line 243, static/scss/base.scss */
      footer ul li a:hover {
        cursor: pointer;
        color: #d6d6d6;
        transition: color 0.2s; }
    /* line 249, static/scss/base.scss */
    footer ul li svg {
      width: 40px;
      height: 40px; }
    /* line 254, static/scss/base.scss */
    footer ul .contact-us-log-in {
      position: relative; }
      /* line 256, static/scss/base.scss */
      footer ul .contact-us-log-in span {
        width: max-content;
        position: absolute;
        display: none;
        top: 45px;
        right: -110%;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1000; }
      /* line 270, static/scss/base.scss */
      footer ul .contact-us-log-in:hover a {
        cursor: default; }
      /* line 273, static/scss/base.scss */
      footer ul .contact-us-log-in:hover span {
        display: block; }
    /* line 280, static/scss/base.scss */
    footer ul:nth-of-type(2) li:first-of-type {
      margin-top: 0;
      display: flex;
      align-items: center; }
      /* line 284, static/scss/base.scss */
      footer ul:nth-of-type(2) li:first-of-type p {
        margin: 0; }
  /* line 291, static/scss/base.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 295, static/scss/base.scss */
  footer .pinterest-button {
    font-size: 50px; }
    /* line 298, static/scss/base.scss */
    footer .pinterest-button svg {
      pointer-events: none; }

/* line 303, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  /* line 312, static/scss/base.scss */
  footer ul li a, footer ul li p {
    font-size: initial; }
  /* line 317, static/scss/base.scss */
  footer p {
    font-size: initial; }
  /* line 321, static/scss/base.scss */
  .cards-content,
  .content {
    min-height: calc(100vh - 273px); } }

@media all and (max-width: 700px) {
  /* line 328, static/scss/base.scss */
  footer {
    padding: 0 20px; }
    /* line 330, static/scss/base.scss */
    footer ul {
      align-items: initial;
      justify-content: initial; }
    /* line 335, static/scss/base.scss */
    footer .footer-links li {
      flex: 1 1 165px;
      margin: 10px 0; }
    /* line 340, static/scss/base.scss */
    footer .footer-sm {
      position: relative;
      padding-top: 25px; }
      /* line 343, static/scss/base.scss */
      footer .footer-sm li {
        flex: 1 1 105px;
        margin: 10px 0; }
        /* line 346, static/scss/base.scss */
        footer .footer-sm li:first-of-type {
          position: absolute;
          top: 0;
          right: 50%;
          transform: translateX(50%); } }

/* line 3, static/scss/card-pages.scss */
header {
  position: fixed;
  z-index: 100; }

/* line 8, static/scss/card-pages.scss */
.cards-content {
  padding: 20px;
  display: flex;
  justify-content: center; }

/* line 14, static/scss/card-pages.scss */
section {
  margin: 10px; }

/* line 18, static/scss/card-pages.scss */
h2 {
  text-align: center; }

/* line 22, static/scss/card-pages.scss */
.filters {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  position: sticky;
  top: 100px;
  z-index: 100; }
  /* line 31, static/scss/card-pages.scss */
  .filters h2 {
    font-size: 20px;
    margin: 5px auto; }
  /* line 35, static/scss/card-pages.scss */
  .filters hr {
    width: 100%;
    margin: 10px 0; }
  /* line 39, static/scss/card-pages.scss */
  .filters h3 {
    margin: 0;
    font-size: 15px;
    text-align: center; }
  /* line 45, static/scss/card-pages.scss */
  .filters .my-trips-cards,
  .filters .my-contacts,
  .filters .filter-by {
    display: flex;
    flex-direction: column; }
  /* line 51, static/scss/card-pages.scss */
  .filters .filter-buttons {
    display: flex;
    flex-direction: column; }

/* line 57, static/scss/card-pages.scss */
.card-section {
  padding: 10px;
  min-width: 400px;
  height: min-content; }
  /* line 62, static/scss/card-pages.scss */
  .card-section h2 {
    margin: 5px 0; }
  /* line 65, static/scss/card-pages.scss */
  .card-section hr {
    width: 97%;
    margin: 15px auto 5px; }
  /* line 69, static/scss/card-pages.scss */
  .card-section > p {
    margin: 10 0 15 12px; }
  /* line 72, static/scss/card-pages.scss */
  .card-section .cards-list {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-wrap: wrap; }
    /* line 78, static/scss/card-pages.scss */
    .card-section .cards-list .card, .card-section .cards-list .simple-card {
      margin: 10px; }
      /* line 82, static/scss/card-pages.scss */
      .card-section .cards-list .card .card-left .trip-info li > *, .card-section .cards-list .simple-card .card-left .trip-info li > * {
        margin: -2 0; }
    /* line 88, static/scss/card-pages.scss */
    .card-section .cards-list li {
      list-style: none;
      margin: 10px; }

/* line 95, static/scss/card-pages.scss */
.active {
  background-color: #1168d8;
  color: white; }

@media all and (max-width: 1505px) {
  /* line 101, static/scss/card-pages.scss */
  .cards-content .card-section {
    width: 820px !important; } }

@media all and (max-width: 1205px) {
  /* line 109, static/scss/card-pages.scss */
  .cards-content .card-section {
    width: 420px !important; } }

@media all and (max-width: 700px) {
  /* line 116, static/scss/card-pages.scss */
  .cards-content {
    flex-direction: column;
    justify-content: initial;
    padding: 0; }
    /* line 120, static/scss/card-pages.scss */
    .cards-content .card-section {
      min-width: 0;
      margin: 10 0 0;
      width: 100% !important;
      justify-content: center;
      /*.card-and-actions{
				.card{
					margin: 5 0;
				}
				.card-actions{
					.delete-form{
						form{
							right: 30 !important;
						}
					}
				}
			}*/ }
  /* line 139, static/scss/card-pages.scss */
  .filters {
    margin: 0;
    top: 75px; }
    /* line 142, static/scss/card-pages.scss */
    .filters .my-trips-cards,
    .filters .my-contacts,
    .filters .filter-by {
      display: block; }
      /* line 146, static/scss/card-pages.scss */
      .filters .my-trips-cards form,
      .filters .my-contacts form,
      .filters .filter-by form {
        width: 100%; } }

@media all and (max-width: 405px) {
  /* line 158, static/scss/card-pages.scss */
  .cards-content .card-section .card-and-actions .card-actions {
    width: 275px !important; }
    /* line 161, static/scss/card-pages.scss */
    .cards-content .card-section .card-and-actions .card-actions .delete-form form {
      width: 260px !important;
      right: 2.5 !important;
      padding: 5px !important; }
      /* line 165, static/scss/card-pages.scss */
      .cards-content .card-section .card-and-actions .card-actions .delete-form form button, .cards-content .card-section .card-and-actions .card-actions .delete-form form span {
        font-size: 10px !important; }
      /* line 168, static/scss/card-pages.scss */
      .cards-content .card-section .card-and-actions .card-actions .delete-form form span {
        width: 87% !important; } }

/* line 1, static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 9, static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    width: 50%;
    background-color: #141414;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 5px 5px; }
    /* line 20, static/scss/base.scss */
    body > ul.messages > span {
      color: white;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 26, static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 30, static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: white; }
      /* line 33, static/scss/base.scss */
      body > ul.messages li > * {
        color: white; }
    /* line 37, static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px rgba(255, 255, 255, 0.5); }

/* line 43, static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 46, static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 52, static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 59, static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 291px); }

/* line 66, static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 67, static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 76, static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 79, static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    margin-bottom: 10px;
    display: block; }
  /* line 87, static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 90, static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 93, static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    border: 2px solid #aaa !important;
    border-left-width: 5px !important;
    border-radius: 4px !important;
    width: 100%; }
  /* line 109, static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 112, static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 120, static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 124, static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 132, static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 134, static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 141, static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
    /* line 147, static/scss/base.scss */
    form input:required:valid, form input:required:valid + .select2-container,
    form select:required:valid,
    form select:required:valid + .select2-container {
      border-left-color: limegreen !important; }
    /* line 153, static/scss/base.scss */
    form input:required:invalid, form input:required:invalid + .select2-container,
    form select:required:invalid,
    form select:required:invalid + .select2-container {
      border-left-color: red !important; }
  /* line 160, static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 168, static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 172, static/scss/base.scss */
  form img[src="/static/scss?e0a57e07546c"] {
    visibility: hidden; }

/* line 177, static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 192, static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 198, static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 213, static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 216, static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 221, static/scss/base.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  bottom: 0; }
  /* line 228, static/scss/base.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 231, static/scss/base.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none; }
    /* line 239, static/scss/base.scss */
    footer ul li a {
      color: #bababa;
      font-size: 20px;
      text-decoration: none; }
      /* line 243, static/scss/base.scss */
      footer ul li a:hover {
        cursor: pointer;
        color: #d6d6d6;
        transition: color 0.2s; }
    /* line 249, static/scss/base.scss */
    footer ul li svg {
      width: 40px;
      height: 40px; }
    /* line 254, static/scss/base.scss */
    footer ul .contact-us-log-in {
      position: relative; }
      /* line 256, static/scss/base.scss */
      footer ul .contact-us-log-in span {
        width: max-content;
        position: absolute;
        display: none;
        top: 45px;
        right: -110%;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        display: none;
        z-index: 1000; }
      /* line 270, static/scss/base.scss */
      footer ul .contact-us-log-in:hover a {
        cursor: default; }
      /* line 273, static/scss/base.scss */
      footer ul .contact-us-log-in:hover span {
        display: block; }
    /* line 280, static/scss/base.scss */
    footer ul:nth-of-type(2) li:first-of-type {
      margin-top: 0;
      display: flex;
      align-items: center; }
      /* line 284, static/scss/base.scss */
      footer ul:nth-of-type(2) li:first-of-type p {
        margin: 0; }
  /* line 291, static/scss/base.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 295, static/scss/base.scss */
  footer .pinterest-button {
    font-size: 50px; }
    /* line 298, static/scss/base.scss */
    footer .pinterest-button svg {
      pointer-events: none; }

/* line 303, static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  /* line 312, static/scss/base.scss */
  footer ul li a, footer ul li p {
    font-size: initial; }
  /* line 317, static/scss/base.scss */
  footer p {
    font-size: initial; }
  /* line 321, static/scss/base.scss */
  .cards-content,
  .content {
    min-height: calc(100vh - 273px); } }

@media all and (max-width: 700px) {
  /* line 328, static/scss/base.scss */
  footer {
    padding: 0 20px; }
    /* line 330, static/scss/base.scss */
    footer ul {
      align-items: initial;
      justify-content: initial; }
    /* line 335, static/scss/base.scss */
    footer .footer-links li {
      flex: 1 1 165px;
      margin: 10px 0; }
    /* line 340, static/scss/base.scss */
    footer .footer-sm {
      position: relative;
      padding-top: 25px; }
      /* line 343, static/scss/base.scss */
      footer .footer-sm li {
        flex: 1 1 105px;
        margin: 10px 0; }
        /* line 346, static/scss/base.scss */
        footer .footer-sm li:first-of-type {
          position: absolute;
          top: 0;
          right: 50%;
          transform: translateX(50%); } }

/* line 1, static/scss/popup.scss */
.popup {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4); }
  /* line 11, static/scss/popup.scss */
  .popup.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  /* line 17, static/scss/popup.scss */
  .popup .popup-content {
    background: white;
    border-radius: 5px;
    padding: 20px; }
  /* line 22, static/scss/popup.scss */
  .popup .popup-title {
    font-size: 30px;
    display: flex;
    justify-content: center; }
  /* line 27, static/scss/popup.scss */
  .popup form {
    height: initial;
    display: block; }
    /* line 30, static/scss/popup.scss */
    .popup form > button {
      border-color: red;
      color: red;
      width: 100%; }
    /* line 35, static/scss/popup.scss */
    .popup form input[type="submit"] {
      transition: 0.4s;
      border: solid 1px #1168d8;
      background-color: white;
      color: #1168d8;
      border-radius: 5px;
      margin: 5px 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer; }
      /* line 49, static/scss/popup.scss */
      .popup form input[type="submit"]:hover {
        transition: 0.4s;
        filter: brightness(1.1); }
  /* line 55, static/scss/popup.scss */
  .popup #id_picture {
    visibility: hidden;
    position: absolute; }
  /* line 59, static/scss/popup.scss */
  .popup .popup-buttons {
    display: flex; }
    /* line 62, static/scss/popup.scss */
    .popup .popup-buttons button:first-of-type {
      margin-right: 5px;
      color: red;
      border: solid 1px red !important;
      transition: 0.4s;
      background-color: white;
      border-radius: 5px;
      margin: 5px 0;
      padding: 10px 16px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer; }
      /* line 76, static/scss/popup.scss */
      .popup .popup-buttons button:first-of-type:hover {
        transition: 0.4s;
        filter: brightness(1.1); }
    /* line 81, static/scss/popup.scss */
    .popup .popup-buttons button:last-of-type {
      margin-left: 5px;
      color: green;
      border: solid 1px green !important; }

@media all and (max-height: 600px) {
  /* line 91, static/scss/popup.scss */
  .popup {
    padding: 10px 20px; }
    /* line 93, static/scss/popup.scss */
    .popup .popup-title {
      font-size: 20px;
      margin: 10px 0; } }

/* line 5, static/scss/search.scss */
.pusher {
  height: 80px !important; }

/* line 9, static/scss/search.scss */
.cards-content {
  padding: 0;
  min-height: calc(100vh - 296px); }

/* line 14, static/scss/search.scss */
.filters {
  max-width: 325px;
  grid-area: filters;
  position: initial;
  /*to remove*/
  margin-right: 20px; }
  /* line 19, static/scss/search.scss */
  .filters h2 {
    font-size: 1.5em; }
  /* line 22, static/scss/search.scss */
  .filters form {
    max-width: 325px; }
  /* line 26, static/scss/search.scss */
  .filters .filter-by .errorlist {
    padding: 0;
    color: grey; }
    /* line 29, static/scss/search.scss */
    .filters .filter-by .errorlist li {
      list-style: none; }
  /* line 33, static/scss/search.scss */
  .filters .filter-by .city-country-search {
    align-items: center;
    margin-bottom: 5px; }
    /* line 36, static/scss/search.scss */
    .filters .filter-by .city-country-search .select2 {
      width: 100% !important; }
    /* line 39, static/scss/search.scss */
    .filters .filter-by .city-country-search input[type="checkbox"] {
      display: inline-block;
      visibility: hidden;
      width: 0;
      height: 0; }
      /* line 44, static/scss/search.scss */
      .filters .filter-by .city-country-search input[type="checkbox"] + label {
        cursor: pointer;
        text-indent: -9999px;
        width: 30px;
        height: 15px;
        background: #1168d8;
        border-radius: 10px;
        display: inline-block;
        position: relative; }
        /* line 53, static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"] + label:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 15px;
          height: 15px;
          background: #fff;
          border-radius: 10px;
          transition: 0.3s; }
      /* line 66, static/scss/search.scss */
      .filters .filter-by .city-country-search input[type="checkbox"]:checked ~ #id_destination {
        display: none; }
        /* line 68, static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"]:checked ~ #id_destination + .select2 {
          display: none; }
      /* line 72, static/scss/search.scss */
      .filters .filter-by .city-country-search input[type="checkbox"]:checked + label {
        background: #1168d8; }
        /* line 74, static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"]:checked + label:after {
          transform: translateX(16px); }
      /* line 79, static/scss/search.scss */
      .filters .filter-by .city-country-search input[type="checkbox"]:not(:checked) ~ #id_country {
        display: none; }
        /* line 81, static/scss/search.scss */
        .filters .filter-by .city-country-search input[type="checkbox"]:not(:checked) ~ #id_country + .select2 {
          display: none; }
      /* line 85, static/scss/search.scss */
      .filters .filter-by .city-country-search input[type="checkbox"] + label::after {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: transform 0.4s; }
  /* line 97, static/scss/search.scss */
  .filters .filter-by form .advanced-filters,
  .filters .filter-by form .lucky {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.4s;
    position: relative; }
  /* line 105, static/scss/search.scss */
  .filters .filter-by #advanced-switch,
  .filters .filter-by #lucky-switch {
    cursor: pointer;
    visibility: hidden;
    height: 0;
    margin: 0; }
    /* line 111, static/scss/search.scss */
    .filters .filter-by #advanced-switch + label,
    .filters .filter-by #lucky-switch + label {
      cursor: pointer;
      display: block;
      margin-bottom: 10px;
      transition: 0.4s;
      border: solid 1px #1168d8;
      background-color: white;
      color: #1168d8;
      border-radius: 5px;
      margin: 5px 0;
      padding: 10px 16px;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none; }
      /* line 127, static/scss/search.scss */
      .filters .filter-by #advanced-switch + label svg,
      .filters .filter-by #lucky-switch + label svg {
        transition: transform 0.4s;
        height: 10px;
        width: 10px;
        filter: invert(26%) sepia(95%) saturate(1936%) hue-rotate(204deg) brightness(92%) contrast(90%); }
  /* line 137, static/scss/search.scss */
  .filters .filter-by #lucky-switch + label {
    border-color: #43a5a8;
    background-color: #43a5a8;
    color: white; }
    /* line 141, static/scss/search.scss */
    .filters .filter-by #lucky-switch + label svg {
      filter: invert(1); }
  /* line 147, static/scss/search.scss */
  .filters .filter-by #advanced-switch:checked + label svg {
    transform: scaleY(-1); }
  /* line 150, static/scss/search.scss */
  .filters .filter-by #advanced-switch:checked ~ .advanced-filters {
    visibility: visible;
    max-height: 1000px; }
  /* line 156, static/scss/search.scss */
  .filters .filter-by #lucky-switch:checked + label svg {
    transform: scaleY(-1); }
  /* line 159, static/scss/search.scss */
  .filters .filter-by #lucky-switch:checked ~ .lucky {
    visibility: visible;
    max-height: 1000px; }
  /* line 165, static/scss/search.scss */
  .filters .filter-by .lucky {
    transition: 0.4s; }
    /* line 167, static/scss/search.scss */
    .filters .filter-by .lucky ul {
      padding: 0;
      margin-bottom: 0; }
      /* line 170, static/scss/search.scss */
      .filters .filter-by .lucky ul li {
        list-style: none; }
        /* line 172, static/scss/search.scss */
        .filters .filter-by .lucky ul li button {
          white-space: normal; }
  /* line 178, static/scss/search.scss */
  .filters .filter-by #slider-range {
    margin: 10px 10px 15px; }
  /* line 181, static/scss/search.scss */
  .filters .filter-by .smoker {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    /* line 185, static/scss/search.scss */
    .filters .filter-by .smoker input {
      margin: 0 5px;
      height: 13px;
      width: 13px; }
  /* line 191, static/scss/search.scss */
  .filters .filter-by .covid {
    margin: 10px 0; }
  /* line 194, static/scss/search.scss */
  .filters .filter-by button {
    width: 100%; }
    /* line 196, static/scss/search.scss */
    .filters .filter-by button[type="submit"] {
      background-color: #1168d8;
      color: white; }

/* line 204, static/scss/search.scss */
.card-section {
  grid-area: card-section;
  min-height: 515px;
  height: max-content;
  position: relative;
  width: 1200px; }
  /* line 210, static/scss/search.scss */
  .card-section .card-section-title {
    display: flex;
    justify-content: space-around; }
    /* line 213, static/scss/search.scss */
    .card-section .card-section-title p {
      margin-bottom: 0;
      color: grey;
      text-align: center;
      user-select: none;
      display: flex;
      align-items: center; }
      /* line 220, static/scss/search.scss */
      .card-section .card-section-title p:hover {
        cursor: pointer; }
    /* line 224, static/scss/search.scss */
    .card-section .card-section-title .unclickable:hover {
      cursor: not-allowed; }
    /* line 227, static/scss/search.scss */
    .card-section .card-section-title hr {
      width: auto;
      margin: initial; }
  /* line 232, static/scss/search.scss */
  .card-section .cards-list {
    flex-direction: column; }
    /* line 234, static/scss/search.scss */
    .card-section .cards-list > p {
      margin: 10px; }
    /* line 237, static/scss/search.scss */
    .card-section .cards-list ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap; }
  /* line 244, static/scss/search.scss */
  .card-section .local-map,
  .card-section .destination-map {
    width: 97%;
    max-width: 1200px;
    margin: auto;
    top: 0;
    position: absolute;
    visibility: hidden; }

/* line 255, static/scss/search.scss */
.filters-toggle {
  position: initial; }

/* line 259, static/scss/search.scss */
.active-tab {
  color: black !important;
  font-weight: bold; }

/* line 264, static/scss/search.scss */
.additional-information {
  grid-area: additional-information;
  padding: 10px; }

/* line 269, static/scss/search.scss */
.show {
  display: block; }

/*@media all and (max-width: 1630px) {
	.cards-content {
		.search-content {
			.card-section,
			.additional-information {
				width: 800px;
			}
		}
	}
}

@media all and (max-width: 1220px) {
	.cards-content {
		.search-content {
			.card-section,
			.additional-information {
				width: 400px;
			}
		}
	}
}*/
@media all and (max-width: 1620px) {
  /* line 297, static/scss/search.scss */
  .cards-content .card-section {
    width: 820px !important; } }

@media all and (max-width: 1235px) {
  /* line 305, static/scss/search.scss */
  .cards-content .card-section {
    width: 420px !important; } }

@media all and (max-width: 1065px) {
  /* line 312, static/scss/search.scss */
  .cards-content {
    min-height: calc(100% - 278px); } }

@media all and (max-width: 835px) {
  /* line 318, static/scss/search.scss */
  .cards-content {
    flex-direction: column;
    justify-content: initial;
    padding: 0; }
    /* line 322, static/scss/search.scss */
    .cards-content .card-section {
      min-width: 0;
      margin: 10 0 0;
      padding: 10 0;
      width: 100% !important;
      justify-content: center; }
      /* line 329, static/scss/search.scss */
      .cards-content .card-section .card-and-actions .card {
        margin: 5 0; }
  /* line 335, static/scss/search.scss */
  .filters {
    max-width: initial;
    margin: 0; }
    /* line 338, static/scss/search.scss */
    .filters .my-trips-cards,
    .filters .my-contacts,
    .filters .filter-by {
      display: block;
      width: 100%; }
      /* line 343, static/scss/search.scss */
      .filters .my-trips-cards form,
      .filters .my-contacts form,
      .filters .filter-by form {
        width: 100%;
        max-width: initial; }
        /* line 347, static/scss/search.scss */
        .filters .my-trips-cards form .city-country-search .select2,
        .filters .my-contacts form .city-country-search .select2,
        .filters .filter-by form .city-country-search .select2 {
          width: 100% !important; }
        /* line 352, static/scss/search.scss */
        .filters .my-trips-cards form .advanced-filters .select2,
        .filters .my-contacts form .advanced-filters .select2,
        .filters .filter-by form .advanced-filters .select2 {
          width: 100% !important; }
  /* line 360, static/scss/search.scss */
  .search-content .card-section {
    min-height: initial; }
    /* line 363, static/scss/search.scss */
    .search-content .card-section .cards-list > ul {
      justify-content: center; }
  /* line 368, static/scss/search.scss */
  .search-content .additional-information {
    width: initial; } }
