/* line 1, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
footer {
  background-color: #141414;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden; }
  /* line 6, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer hr {
    border-color: #bababa9f; }
  /* line 9, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    /*&:nth-of-type(2) {
			li {
				&:first-of-type {
					margin-top: 0;
					display: flex;
					align-items: center;
					p {
						margin: 0;
					}
				}
			}
		}*/ }
    /* line 14, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
    footer ul li {
      list-style: none;
      margin: 5px 20px; }
      /* line 17, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
      footer ul li a {
        color: #bababa;
        font-size: 20px;
        text-decoration: none; }
        /* line 21, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
        footer ul li a:hover {
          cursor: pointer;
          color: #d6d6d6;
          transition: color 0.2s; }
      /* line 27, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
      footer ul li svg, footer ul li img {
        width: 40px;
        height: 40px; }
  /* line 45, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer .footer-sm {
    display: flex;
    align-items: center; }
    /* line 48, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
    footer .footer-sm > p {
      white-space: nowrap; }
    /* line 51, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
    footer .footer-sm ul {
      width: 100%; }
  /* line 55, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer p {
    color: #bababa;
    font-size: 20px; }
  /* line 59, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer .contact-us-log-in {
    position: relative; }
    /* line 61, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
    footer .contact-us-log-in span {
      width: max-content;
      position: absolute;
      display: none;
      top: 45px;
      right: -110%;
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1000; }
    /* line 75, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
    footer .contact-us-log-in:hover a {
      cursor: default; }
    /* line 78, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
    footer .contact-us-log-in:hover span {
      display: block; }

@media all and (max-width: 1065px) {
  /* line 88, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 20%; }
  /* line 92, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer .footer-sm {
    display: block; } }

@media all and (max-width: 860px) {
  /* line 101, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer .footer-links li {
    flex: 1 1 50%; }
  /* line 107, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 12%; } }

@media all and (max-width: 550px) {
  /* line 119, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/footer.scss */
  footer .footer-sm ul li {
    flex: 1 1 30%; } }

/* line 3, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
body {
  background-color: #1167d80e;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100%;
  height: 100%; }
  /* line 11, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  body > ul.messages {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 10000;
    width: 30%;
    /*min-height: 20%;*/
    background-color: #eefaf0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    color: #66c26b; }
    /* line 24, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
    body > ul.messages > span {
      color: #476064;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 10px; }
      /* line 30, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
      body > ul.messages > span:hover {
        cursor: pointer; }
    /* line 34, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
    body > ul.messages li {
      list-style: none;
      color: wrgba(102, 194, 107, 255); }
      /* line 37, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
      body > ul.messages li > p:first-of-type {
        font-weight: bold;
        margin: 0 0 5; }
      /* line 41, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
      body > ul.messages li > * {
        color: #66c26b; }
    /* line 45, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
    body > ul.messages hr {
      border: solid 1px #476064; }

/* line 51, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
.map {
  width: 100%;
  box-sizing: border-box; }
  /* line 54, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  .map > div > div {
    height: 100% !important;
    padding-bottom: 0 !important; }

/* line 60, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
section {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); }

/* line 67, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
.cards-content,
.content {
  box-sizing: border-box;
  min-height: calc(100vh - 334px); }

/* line 74, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
form {
  margin: 0 auto;
  display: inline-block;
  position: relative; }
  /* line 75, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form * {
    font-family: "Lato", sans-serif; }
  /* line 81, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form *:focus {
    outline: none; }
  /* line 84, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form input,
  form select,
  form textarea,
  form .select2 {
    margin: 0;
    display: block; }
  /* line 92, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form input {
    padding-left: 8px; }
  /* line 95, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form textarea {
    resize: none; }
  /* line 98, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="date"],
  form input[type="number"],
  form textarea,
  form select,
  form .select2-container {
    background-color: #fff !important;
    width: 100%; }
  /* line 114, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form .select2-container .select2-selection__arrow {
    height: 32px !important; }
  /* line 117, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form .select2-container .select2-selection--multiple {
    height: auto !important;
    min-height: 28px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
    /* line 125, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
    form .select2-container .select2-selection--multiple input {
      height: 32px; }
  /* line 129, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form .select2-container .select2-selection--single {
    height: 32px !important;
    margin: 0;
    padding: 0;
    border: none !important;
    line-height: inherit;
    border-radius: 0; }
  /* line 137, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form .select2-container .select2-search--inline {
    line-height: inherit; }
    /* line 139, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
    form .select2-container .select2-search--inline .select2-search__field {
      margin: 0;
      padding: 0;
      min-height: 0; }
  /* line 146, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form input,
  form select {
    line-height: 32px;
    height: 36px; }
  /* line 165, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form label,
  form .errorlist,
  form .help {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
  /* line 173, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form .help {
    float: right;
    color: lightslategrey; }
  /* line 177, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  form img[src="/static/scss?52255b5c5036"] {
    visibility: hidden; }

/* line 182, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
button,
input .button {
  transition: 0.4s;
  border: solid 1px #1168d8;
  background-color: white;
  color: #1168d8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer; }
  /* line 197, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  button:hover,
  input .button:hover {
    transition: 0.4s;
    filter: brightness(1.1); }

/* line 203, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
.notification {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c80000;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 2px; }

/* line 218, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
button:disabled {
  cursor: not-allowed;
  filter: grayscale(1); }
  /* line 221, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  button:disabled:hover {
    filter: brightness(1) grayscale(1); }

/* line 226, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
.active-filter {
  background-color: #1168d8;
  color: white; }

/* line 231, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
.bottom-pusher {
  height: 1;
  margin-top: 20px; }

@media all and (max-width: 1065px) {
  /* line 237, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  .cards-content,
  .content {
    min-height: calc(100vh - 392px); } }

@media all and (max-width: 600px) {
  /* line 244, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/base.scss */
  body > ul.messages {
    width: 96%;
    right: 0%;
    left: 0;
    bottom: 0;
    border-radius: 0; } }

/* line 3, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
header {
  position: fixed;
  z-index: 100; }

/* line 8, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
.cards-content {
  padding: 20px;
  display: flex;
  justify-content: center; }

/* line 14, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
section {
  margin: 10px; }

/* line 18, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
h2 {
  text-align: center; }

/* line 22, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
.filters {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  position: sticky;
  top: 100px;
  z-index: 100; }
  /* line 31, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .filters h2 {
    font-size: 20px;
    margin: 5px auto; }
  /* line 35, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .filters hr {
    width: 100%;
    margin: 10px 0; }
  /* line 39, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .filters h3 {
    margin: 0;
    font-size: 15px;
    text-align: center; }
  /* line 45, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .filters .my-trips-cards,
  .filters .my-contacts,
  .filters .filter-by {
    display: flex;
    flex-direction: column; }
  /* line 51, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .filters .filter-buttons {
    display: flex;
    flex-direction: column; }

/* line 57, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
.card-section {
  padding: 10px;
  min-width: 400px;
  height: min-content; }
  /* line 62, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .card-section h2 {
    margin: 5px 0; }
  /* line 65, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .card-section hr {
    width: 97%;
    margin: 15px auto 5px; }
  /* line 69, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .card-section > p {
    margin: 10 0 15 12px; }
  /* line 72, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .card-section .cards-list {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-wrap: wrap; }
    /* line 78, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
    .card-section .cards-list .card, .card-section .cards-list .simple-card {
      margin: 10px; }
      /* line 82, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
      .card-section .cards-list .card .card-left .trip-info li > *, .card-section .cards-list .simple-card .card-left .trip-info li > * {
        margin: -2 0; }
    /* line 88, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
    .card-section .cards-list > li {
      list-style: none;
      margin: 10px; }

/* line 95, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
.active {
  background-color: #1168d8;
  color: white; }

@media all and (max-width: 1505px) {
  /* line 101, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .cards-content .card-section {
    width: 820px !important; } }

@media all and (max-width: 1205px) {
  /* line 109, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .cards-content .card-section {
    width: 420px !important; } }

@media all and (max-width: 700px) {
  /* line 116, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .cards-content {
    flex-direction: column;
    justify-content: initial;
    padding: 0; }
    /* line 120, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
    .cards-content .card-section {
      min-width: 0;
      margin: 10 0 0;
      width: 100% !important;
      justify-content: center;
      /*.card-and-actions{
				.card{
					margin: 5 0;
				}
				.card-actions{
					.delete-form{
						form{
							right: 30 !important;
						}
					}
				}
			}*/ }
    /* line 138, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
    .cards-content .map-section {
      align-content: initial !important; }
  /* line 142, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .filters {
    margin: 0;
    top: 75px; }
    /* line 145, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
    .filters form {
      width: 100%; }
    /* line 148, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
    .filters .my-trips-cards,
    .filters .my-contacts,
    .filters .filter-by {
      display: block;
      width: 100%; }
      /* line 153, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
      .filters .my-trips-cards button,
      .filters .my-contacts button,
      .filters .filter-by button {
        width: 100%; } }

@media all and (max-width: 405px) {
  /* line 166, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
  .cards-content .card-section .card-and-actions .card-actions {
    width: 275px !important; }
    /* line 169, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
    .cards-content .card-section .card-and-actions .card-actions .delete-form form {
      width: 260px !important;
      right: 2.5 !important;
      padding: 5px !important; }
      /* line 173, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
      .cards-content .card-section .card-and-actions .card-actions .delete-form form button, .cards-content .card-section .card-and-actions .card-actions .delete-form form span {
        font-size: 10px !important; }
      /* line 176, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/card-pages.scss */
      .cards-content .card-section .card-and-actions .card-actions .delete-form form span {
        width: 87% !important; } }

/* line 4, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
.cards-content .card-section {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: min-content;
  width: 1220px;
  max-width: 1220px;
  box-sizing: border-box;
  min-height: 194px; }
  /* line 13, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
  .cards-content .card-section .card {
    margin: 10px 10px 0; }
  /* line 17, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
  .cards-content .card-section .card-and-actions .card-actions {
    display: flex;
    width: 380px;
    margin: 0 10; }
    /* line 21, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
    .cards-content .card-section .card-and-actions .card-actions button {
      padding: 6px 10px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      width: 100%; }
      /* line 27, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
      .cards-content .card-section .card-and-actions .card-actions button svg {
        width: 15px;
        height: 15px;
        margin-right: 5px; }
    /* line 33, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
    .cards-content .card-section .card-and-actions .card-actions a {
      text-decoration: none;
      width: 100%;
      margin-right: 5px; }
    /* line 38, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
    .cards-content .card-section .card-and-actions .card-actions .delete-form {
      width: 100%;
      position: relative; }
      /* line 41, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
      .cards-content .card-section .card-and-actions .card-actions .delete-form form {
        display: none;
        position: absolute;
        top: -165;
        right: 15;
        height: max-content;
        width: max-content;
        z-index: 100;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        /* line 56, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
        .cards-content .card-section .card-and-actions .card-actions .delete-form form button {
          padding: 10 16;
          margin: 0; }
      /* line 61, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
      .cards-content .card-section .card-and-actions .card-actions .delete-form span {
        width: 89%;
        transition: 0.4s;
        border: solid 1px #1168d8;
        background-color: white;
        color: #1168d8;
        border-radius: 5px;
        margin: 5px 0;
        padding: 10px 16px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer; }
        /* line 76, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
        .cards-content .card-section .card-and-actions .card-actions .delete-form span:hover {
          transition: 0.4s;
          filter: brightness(1.1); }
      /* line 81, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
      .cards-content .card-section .card-and-actions .card-actions .delete-form .show-delete-form {
        display: flex; }
    /* line 85, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
    .cards-content .card-section .card-and-actions .card-actions form {
      margin: 0 0 0 5;
      width: 100%; }
    /* line 89, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
    .cards-content .card-section .card-and-actions .card-actions .delete {
      color: red;
      border-color: red; }

/* line 96, c:/users/hp/downloads/cogo-fly/cogo-fly/static/scss/trip-cards.scss */
.cards-content .map-section {
  height: initial;
  min-width: 50%; }
