/* line 1, static/scss/trip-card.scss */
.card {
  background-color: white;
  height: 235px;
  width: 380px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  font-family: "Roboto Mono", monospace; }
  /* line 11, static/scss/trip-card.scss */
  .card > span {
    font-size: 12px;
    position: absolute;
    right: 120px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    min-width: 30px;
    background-color: #4d99e7;
    color: white;
    border-radius: 20px; }
    /* line 24, static/scss/trip-card.scss */
    .card > span svg {
      height: 12px;
      width: 12px; }
  /* line 29, static/scss/trip-card.scss */
  .card .card-left {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    /* line 35, static/scss/trip-card.scss */
    .card .card-left .card-top {
      display: flex;
      justify-content: space-between; }
      /* line 38, static/scss/trip-card.scss */
      .card .card-left .card-top img {
        filter: brightness(0);
        width: 125px; }
      /* line 42, static/scss/trip-card.scss */
      .card .card-left .card-top a {
        color: black;
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 9px;
        display: flex;
        align-self: center;
        align-items: center;
        border-radius: 5px;
        border: solid 1px black;
        padding: 2px 5px; }
      /* line 54, static/scss/trip-card.scss */
      .card .card-left .card-top p {
        font-family: "Lato", sans-serif;
        font-size: 9px;
        color: #1168d8;
        height: 50%;
        display: flex;
        align-self: center;
        align-items: center;
        margin-right: 5px; }
    /* line 65, static/scss/trip-card.scss */
    .card .card-left .trip-info {
      display: flex;
      padding: 0;
      margin: 0;
      width: 101%; }
      /* line 70, static/scss/trip-card.scss */
      .card .card-left .trip-info li {
        list-style: none;
        margin: 5px; }
        /* line 73, static/scss/trip-card.scss */
        .card .card-left .trip-info li:first-of-type {
          width: 140px; }
        /* line 76, static/scss/trip-card.scss */
        .card .card-left .trip-info li:last-of-type {
          width: 90px; }
        /* line 79, static/scss/trip-card.scss */
        .card .card-left .trip-info li p {
          font-size: 10px;
          margin: 0; }
    /* line 85, static/scss/trip-card.scss */
    .card .card-left .trip-photos {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 5px 0;
      position: relative; }
      /* line 91, static/scss/trip-card.scss */
      .card .card-left .trip-photos > p {
        position: absolute;
        z-index: 100;
        margin: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.7);
        font-family: "Lato", sans-serif; }
      /* line 103, static/scss/trip-card.scss */
      .card .card-left .trip-photos li {
        list-style: none;
        margin: 0px 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70px;
        height: 60px;
        position: relative; }
        /* line 112, static/scss/trip-card.scss */
        .card .card-left .trip-photos li img {
          position: absolute;
          width: 70px;
          height: 60px;
          left: 0;
          z-index: 1;
          border-radius: 10px; }
          /* line 119, static/scss/trip-card.scss */
          .card .card-left .trip-photos li img:before {
            content: " ";
            display: block;
            position: absolute;
            width: 70px;
            height: 60px;
            background: url(/static/img/white.png?4b7f1cfde928), url(/static/img/cogofly_logo_v2.png?4b7f1cfde928);
            background-size: 70px 60px, 70px 60px; }
    /* line 131, static/scss/trip-card.scss */
    .card .card-left .comment {
      margin: 0 20px 0 0px; }
      /* line 133, static/scss/trip-card.scss */
      .card .card-left .comment p {
        font-size: 10px;
        margin: 0 0 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      /* line 140, static/scss/trip-card.scss */
      .card .card-left .comment .comment-text {
        display: flex;
        width: 100%;
        padding: 5px;
        height: 30px;
        border: solid 1px black;
        border-radius: 5px; }
        /* line 147, static/scss/trip-card.scss */
        .card .card-left .comment .comment-text p {
          font-size: 9px; }
  /* line 154, static/scss/trip-card.scss */
  .card::before {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 95px;
    top: -5%;
    box-shadow: inset 0px -15px 10px -10px rgba(0, 0, 0, 0.1); }
  /* line 165, static/scss/trip-card.scss */
  .card::after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 95px;
    bottom: -5%;
    box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.1); }
  /* line 176, static/scss/trip-card.scss */
  .card .card-right {
    background: url("/static/img/clouds.jpg?4b7f1cfde928") center no-repeat;
    background-size: cover;
    width: 105px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    /* line 184, static/scss/trip-card.scss */
    .card .card-right p {
      font-size: 18px;
      margin-bottom: 0;
      color: white;
      text-align: center; }
    /* line 190, static/scss/trip-card.scss */
    .card .card-right hr {
      width: 100%;
      border-color: white; }
    /* line 194, static/scss/trip-card.scss */
    .card .card-right .card-buttons {
      z-index: 2;
      height: 100%;
      width: 105px; }
      /* line 198, static/scss/trip-card.scss */
      .card .card-right .card-buttons form {
        display: flex;
        flex-direction: column;
        align-items: center; }
        /* line 202, static/scss/trip-card.scss */
        .card .card-right .card-buttons form button {
          border: none;
          padding: 0;
          background: transparent;
          height: fit-content;
          margin: 5px 0; }
        /* line 209, static/scss/trip-card.scss */
        .card .card-right .card-buttons form svg {
          height: 15px;
          width: 15px; }
      /* line 214, static/scss/trip-card.scss */
      .card .card-right .card-buttons .buttons {
        height: 85%; }
        /* line 216, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons a {
          display: flex;
          /*flex-direction: column;*/
          justify-content: center;
          align-items: center;
          color: white;
          text-decoration: none; }
          /* line 223, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons a:hover {
            filter: brightness(1.1); }
          /* line 226, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons a svg {
            width: 15px;
            height: 15px; }
          /* line 230, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons a p {
            font-family: "Lato", sans-serif;
            font-size: 12px;
            margin: 0;
            margin-right: 5px; }
        /* line 237, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons .share,
        .card .card-right .card-buttons .buttons .modify,
        .card .card-right .card-buttons .buttons .request {
          margin: 5px 0; }
        /* line 242, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons .share {
          margin-bottom: 10px; }
        /* line 245, static/scss/trip-card.scss */
        .card .card-right .card-buttons .buttons .request {
          text-align: center; }
          /* line 247, static/scss/trip-card.scss */
          .card .card-right .card-buttons .buttons .request button {
            text-transform: none;
            font-weight: normal;
            padding: 5px;
            white-space: normal; }
