
branca
certifi
chardet
defusedxml
Django
django-dkim
django-appconf
django-autocomplete-light
django-autoslug-iplweb
django-background-tasks
django-cities-light
django-compat
django-compressor
django-compressor-autoprefixer
django-inline-svg
django-jazzmin
django-jsonfield
django-language-field
django-libsass
django-multiselectfield
git+https://github.com/levkowetz/django-password-strength
django-recaptcha
folium
gunicorn
idna
Jinja2
libsass
MarkupSafe
oauthlib
progressbar2
pycparser
PyJWT
python-utils
python3-openid
pytz
rcssmin
requests
requests-oauthlib
rjsmin
six
social-auth-app-django
social-auth-core
sqlparse
Unidecode
urllib3
cffi
numpy
Pillow
cryptography
asgiref
django_crontab
whitenoise