{% extends "base_auth.html" %}
{% load i18n %}

{% block main_panel %}
<div class="signup">
    <div class="signup-form">
        <form class="password-reset" method="post">
            <h2>{% trans "Reset password" %}</h2>
            <p>{% trans "If you have signed up with a social media account and haven’t defined a password, please log in thanks to social media" %}</p>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans 'Reset my password' %}">
        </form>    
    </div>
</div>


{% endblock %}