{% extends "base_auth.html" %}
{% load i18n %}
{% load static %}

{% block main_panel %}

<div class="signup">
    <div class="signup-form password-reset-confirm-form">
        <form method="post">
            {% csrf_token %}
            <script async type="text/javascript" src="{% static 'django_password_strength/js/password_strength.js' %}"></script>
            <script async type="text/javascript" src="{% static 'django_password_strength/js/zxcvbn.js' %}"></script>
            {{ form }}
            <input type="submit" value="{% trans 'Change my password' %}">
        </form>
    </div>
</div>



{% endblock %}