{% extends "base_auth.html" %}
{% load i18n %}

{% block main_panel %}

<div class="reset-done-message">
    <p>{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    <p>{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    <a href="{% url 'login' %}">{% trans 'Login with another account' %}</a>
    <a href="{% url 'landing' %}">{% trans 'Go back to main page' %}</a>    
</div>

{% endblock %}