{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load svg %}

{% block css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/profile.scss' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/simple-card.scss' %}">
    <link rel="stylesheet" href="{% static 'css/ukraine.css' %}"> 
{% endblock %}

{% block js %}
    {{ form.media }}
    <script>
    window.fbAsyncInit = function() {
        FB.init({
        appId            : '600914307472316',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v9.0'
        });
    };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}

{% block body %}
{% include 'header.html' %}
    <div class="bg-[#f3f3f3] pt-[7rem] pb-[3rem] w-screen px-[2rem]">
       <div class="flex items-start justify-center max-w-[80rem] mx-auto  flex-col bg-white rounded-md drop-shadow-md py-[2rem] gap-[2rem]">
        <div class="flex items-center justify-between flex-row w-[100%] px-[2rem]">
            <div class="flex items-between justify-between flex-row gap-x-[1rem]"> 
            <img src="{% static 'img/mhprofile.png' %}" class="h-[5rem]"/>
            <div class="flex items-start justify-center flex-col gap-y-[.3rem]">
                <h3 class="text-[1.1rem] font-semibold">Kristin watson</h3>
                <div class="flex items-start justify-between gap-x-[.5rem]"><img src="{% static 'img/svg/mhmappointer.svg' %}" class="w-[1.2rem]"/><h4  class="font-bold">Van nyc CA <span  class="font-light text-[#515151]"> - 9:24 am local time</span></h4></div>
            </div>
            
          </div>
          <div><button class="bg-[#1877F2] text-white py-[.5rem] px-[2rem] rounded-full">Send Message</button></div>
        </div>
        <div class="flex items-start justify-between flex-col w-[80%] px-[2rem]">
            <h1 class="text-2xl font-bold">Profile</h1>
            <p class="font-light text-[1.1rem] text-[#515151]">I’m hoping for a really big  discount It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using here, content here', making it look like readable English.</p>
        </div>
        <hr class="w-[100%]">
        <div class="flex items-start justify-between flex-col gap-y-[1rem] px-[2rem]">   
            <h2 class="text-[1.2rem] text-[#6D6D6D] ">Favorite Place </h2>
            <div class="flex gap-x-[1rem]">
                <p class=" bg-[#E4E6EB] px-[1.5rem] py-[.5rem] rounded-full text-[#555555] font-bold">London</p>
                <p class=" bg-[#E4E6EB] px-[1.5rem] py-[.5rem] rounded-full text-[#555555] font-bold">The Grand Canyon</p>
                <p class=" bg-[#E4E6EB] px-[1.5rem] py-[.5rem] rounded-full text-[#555555] font-bold">Colosseum, Rome</p>
            </div>
        </div>
        <hr class="w-[100%]">
        <div class="flex items-start justify-between flex-col gap-y-[1rem] px-[2rem]">   
            <h2 class="text-[1.2rem] text-[#6D6D6D] ">Current Travel Plan </h2>
            <div class="flex gap-x-[1rem] flex-col gap-y-[.2rem]">
                <div  class="flex gap-x-[.3rem]"><img src="{% static 'img/svg/Travelicon.svg' %}" class="w-[1.2rem]"/> <div  class="flex gap-x-[1rem] text-[#515151] "><p> Lahore Pakistan </p><img src="{% static 'img/svg/arrow.svg' %}" class="w-[1.2rem]"/><p>Karachi Pakistan</p></div> </div>
                <div  class="flex gap-x-[.3rem]"><img src="{% static 'img/svg/calender.svg' %}" class="w-[1.2rem]"/> <div  class="flex gap-x-[1rem] text-[#515151] "><p> Lahore Pakistan </p><img src="{% static 'img/svg/arrow.svg' %}" class="w-[1.2rem]"/><p>Karachi Pakistan</p></div> </div>
            </div>
        </div>
        <hr class="w-[100%]">
        <div class="flex items-start justify-between flex-col gap-y-[1rem] px-[2rem]">   
            <h2 class="text-[1.2rem] text-[#6D6D6D] ">Travel History </h2>
            <div class="flex gap-x-[1rem] flex-col gap-y-[.7rem]">
                <div  class="flex gap-x-[3rem] text-[#515151]"><p>New Yourk City</p> <div  class="flex gap-x-[1rem] text-[#515151] "><p> Jan 5 2022 </p><img src="{% static 'img/svg/arrow.svg' %}" class="w-[1.2rem]"/><p>Jan 25 2022</p></div> </div>
                <div  class="flex gap-x-[3rem] text-[#515151]"><p>Machu Picchu</p> <div  class="flex gap-x-[1rem] text-[#515151] "><p> Jan 5 2022 </p><img src="{% static 'img/svg/arrow.svg' %}" class="w-[1.2rem]"/><p>Jan 25 2022</p></div> </div>
                <div  class="flex gap-x-[3rem] text-[#515151]"><p>Eiffel Tower</p> <div  class="flex gap-x-[1rem] text-[#515151] "><p> Mar 7 2021 </p><img src="{% static 'img/svg/arrow.svg' %}" class="w-[1.2rem]"/><p>Mar 12 2021</p></div> </div>
            </div>
        </div>

        <hr class="w-[100%]">
        <div class="flex items-start justify-between flex-col gap-y-[1rem] px-[2rem]">   
            <h2 class="text-[1.2rem] text-[#6D6D6D] ">Feedback </h2>
            <div class="flex gap-x-[1rem] flex-col gap-y-[.7rem] max-w-[80%] text-[#515151] ">
                <p>Really this is amazing website to find out beautiful places and friend i would like to thanks of cogofly for made this
                    amazing and awsome website and i want to give you 5 stars</p>
            </div>
        </div>
       </div>
       
    </div>
    
</body>
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}
