{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load svg %}
{% load humanize %}


{% block css %}
    <!-- <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/seed-feed.scss' %}">
    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/ukraine.css' %}"> 
{% endblock %}
{% block body %}
{% include 'header.html' %}
    <div class="bg-[#f3f8fe] pt-[7rem] pb-[3rem] w-screen px-[2rem]">
       <div class="flex items-center justify-between max-w-[80rem] mx-auto  md:flex-row sm:flex-col flex-col ">
        <div class="text-[#555555] max-w-[43rem] flex flex-col gap-4 bg-[#f3f8fe] xl:text-[1.2rem] lg:text-[1rem] md:text-[.8rem]"> 
            <h1 class="font-bold sm:text-5xl text-[black] sm:leading-[5rem] leading-3rem text-4xl">CoGoFly & Ukraine</h1>
   
            <p>CoGoFly wishes to express its solidarity with the Ukrainian people in their fight against the invasion.</p>
            <p>CoGoFly also thanks, and in advance, all the host families who came to the aid of this people forced, willingly or by force, to leave their beautiful country.</p>
            <p>CoGoFly, and its entire team, is therefore looking for a way to help these families and the Ukrainian people in general.</p>
            <p>Nothing has been more obvious to our international co-traveller platform than to help all Ukrainians who have arrived in their host countries to:</p>
       
        
                <p>Find people with the same interests.</p>
                <p>Nothing like this to facilitate integration in a new country...</p>
                <p>Practice various types of activities, sports and / or cultural, with city dwellers and possible neighbors.</p>
                <p>Learn the language of the host country by finding people who want to teach it to them.</p>
                <p>Leverage your skills, experiences, and love of your language.</p>
                <p>To travel together to discover the city, the region or even the host country.</p>
       
        <p>As you have understood, CoGoFly wanted and bet that all the peoples of the world will want to help and share the suffering of the Ukrainian people by trying to make you "forget", even for a moment, this painful period.</p>
        <p>CoGoFly is ready to help you for the duration of this war and even after... a true international community of travelers with the same common denominator: "Sharing" is there for you.</p>
        <p>Do not hesitate, do not wait any longer, and register for free on <a href ="{% url 'signup' %}" class="text-blue-600 underline decoration-solid" >www.cogofly.com</a></p>
       </div>
       <div class=" flex items-center justify-center flex-col gap-y-[3rem] pt-[1rem]">
        <img src="{% static 'img/ukraine_handshake.png' %}" class="xl:w-[30rem] lg:w-[25rem] md:w-[35rem]"/>
        <img src="{% static 'img/ukraine_plane.png' %}" class="xl:w-[30rem] lg:w-[25rem] md:w-[35rem]"/>
       </div>
       </div>
       
    </div>
    <!-- <div class="w-screen h-max mt-[2rem]">
     <h1>haseeb</h1>
    <p>ismail</p>
    </div> -->
</body>
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}
