.album-widget {
	span {
		img {
			height: 125px !important;
			width: 125px !important;
			display: none;
			/*&:before {
				content: " ";
				display: block;
				position: absolute;
				height: 125px;
				width: 125px;
				background: url(../svg/icons/add-image.svg) center no-repeat,
					url(../img/white.png);
				background-size: 75px 75px, 125px 125px;
			}*/
			&:hover {
				cursor: pointer;
			}
		}
		svg {
			height: 75px;
			width: 75px;
		}
		p {
			display: none;
		}
	}
	div {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		z-index: 50;
		&:hover {
			cursor: pointer;
		}
		svg {
			width: 30px;
		}
	}
}
