.popup {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
	&.open {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.popup-content{
		background: white;
		border-radius: 5px;
		padding: 20px;
	}
	.popup-title {
		font-size: 30px;
		display: flex;
		justify-content: center;
		margin-bottom: 5px;
	}
	form {
		height: initial;
		display: block;
		> button {
			border-color: red;
			color: red;
			width: 100%;
		}
		input[type="submit"] {
			transition: 0.4s;
			border: solid 1px #1168d8;
			background-color: white;
			color: #1168d8;
			border-radius: 5px;
			margin: 5px 0;
			width: 100%;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			white-space: nowrap;
			text-decoration: none;
			cursor: pointer;
			&:hover {
				transition: 0.4s;
				filter: brightness(1.1);
			}
		}
	}
	#id_picture {
		visibility: hidden;
		position: absolute;
	}
	.popup-buttons {
		display: flex;
		button {
			&:first-of-type {
				margin-right: 5px;
				color: red;
				border: solid 1px red !important;
				transition: 0.4s;
				background-color: white;
				border-radius: 5px;
				margin: 5px 0;
				padding: 10px 16px;
				text-align: center;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					transition: 0.4s;
					filter: brightness(1.1);
				}
			}
			&:last-of-type {
				margin-left: 5px;
				color: green;
				border: solid 1px green !important;
			}
		}
	}
}

@media all and (max-height: 600px) {
	.popup {
		padding: 10px 20px;
		.popup-title {
			font-size: 20px;
			margin: 10px 0;
		}
	}
}
